/* Wrapper */
.featured_slider {
	/*max-width: 1000px;*/
	width: 100%;
	/*height:100%;*/
	margin: 0 auto;	
	position: relative;	
}
.featured_slider .featured_slide {
	/*height:400px;
	background: #000;*/
	width: 100% !important;
}
/* End Outer Slider */

/* Left Panel START */
.featured_slider .featured_slide_left {
	width: 50%;
	float: left;
	position: relative;
}
.featured_slider .featured_slide_left .left_img {
	width: 100%;
	height: 100%;
}
.featured_slider .featured_slide_left:hover .left_img {

}
.featured_slider .featured_slide_left .featured_slide_content {
	position: absolute;
	bottom: 0px;
	left: 0;	
	float: left;
	padding: 20px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	width: 94%;
	z-index: 20;
}
.featured_slider .featured_slide_left .featured_slide_content h2 {
	font-size: 40px;
	line-height: 120%;
	margin: 0 4% 5px;
	text-align: center;
	text-decoration: none;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	text-transform: uppercase;
	width: 92%;
	font-family: 'Arvo', Arial, sans-serif;
}
.featured_slider .featured_slide_left .featured_slide_content h2 a{ outline: none; text-decoration: none; color: #fff;}
.featured_slider .featured_slide_left .featured_slide_content .featured_meta {	
	color: #ddd;
	float: left;
	font: 400 20px/20px 'Arvo', Arial, sans-serif;
	font-style: italic;
	text-align: center;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	width: 100%;
}
.featured_slider .featured_slide_left .featured_slide_content .featured_excerpt {
	float: left;
	font: 400 14px/18px helvetica, arial, sans-serif;
	margin-top: 10px;
	height:auto;
	overflow: hidden;
	text-align: center;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	-moz-transition: max-height .4s;
	-ms-transition: max-height .4s;
	-o-transition: max-height .4s;
	-webkit-transition: max-height .4s;
	transition: max-height .4s;
	width: 100%;
}

/* Left Panel END */

/* Right Panel START */
.featured_slider .featured_slide_right {
	width: 50%;
	float: left;
}

.featured_slider .featured_slide_right .featured_slide_sub_right {
	width: 50%;
	float: left;
	height: 200px;
	position: relative;
	color: #fff;
	border-bottom: 1px solid #222;
	border-right: 1px solid #222;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.featured_slider .featured_slide_right .featured_slide_sub_right .right_img {
	width: 100%;
	height: 100%;

}
.featured_slider .featured_slide_sub_right:hover .right_img {
	
}

.featured_slider .featured_slide_right .featured_slide_sub_content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 10px 8px 10px;
	
}
.featured_slider .featured_slide_right .featured_slide_sub_content h2 {
	font-family: 'Arvo', Arial, sans-serif;
	float: left;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 4px;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	text-transform: uppercase;
	width: 100%;	
}
.featured_slider .featured_slide_right .featured_slide_sub_content h2 a{ outline: none; text-decoration: none; color: #fff; }
.featured_slider .featured_slide_right .featured_slide_sub_content .featured_slide_sub_excerpt {
	color: #fff;
	float: left;
	font: 13px/17px helvetica, arial, sans-serif;
	height: auto;
	overflow: hidden;
	-moz-transition: max-height .4s;
	-ms-transition: max-height .4s;
	-o-transition: max-height .4s;
	-webkit-transition: max-height .4s;
	transition: max-height .4s;
}	

/* Right Panel END */

/* Prev Nex Navigation */
.featured_slider .featured_next {
	position: absolute; 
	top:50%; 
	right: 5px;  
	cursor: pointer; 
	zoom:1;
	z-index:200;
	background: transparent url(../img/next.png) no-repeat 0 0;
	background-size:64px;
}
.featured_slider .featured_prev {
	position: absolute; 
	top:50%; 
	left: 5px; 
	cursor: pointer; 
	zoom:1;
	z-index:200;
	background: transparent url(../img/prev.png) no-repeat 0 0;
	background-size:64px;
}

.featured_slider .featured-meta { 
	display: block;
}
.featured_slider .featured_comments {
	position: absolute;
	background: transparent url(images/comment.png) no-repeat 0 0;
	color: white;
	z-index: 1;
	right: 0;
	line-height: 22px;
	width: 24px;
	font-size: 10px;
	text-align: center;
	height: 24px;
	font-weight: bold;
}
.featured_slider .mejs-container {
top: 0;
bottom: 0;
}
.featured_slider .more {
	display: inline-block;
}
.featured_slider .featured-meta2 {
	margin-right: 4px;
}
.featured_slider .featured-meta1 {
	margin-left: 4px;
}
.featured_slider .featured_video{
position: absolute;
top: 0;left: 0;width: 100%;height: 100%;
}
.featured_slider .mejs-container .mejs-controls {
	z-index: 30;
}
.featured_slider .wp-video,.featured_slider .wp-video-shortcode{
height:100% !important;
}
/*Added for responsiveness*/
.featured_slider_eshortcode iframe{
	width:100%;
	height:100%;
}
.featuredSmallF{
	font-size:12px !important;
	margin:0 !important;
	padding:9px 15px 0 0 !important;
	line-height:16px !important;
}

/* Re */
.featured_slider .featured_slider_instance{
	background-color:#000000;
	height:400px;
	overflow:hidden;
}

.featured_slider .featured_slide{
	height:100%;
}

.featured_slide_content h2{
	clear:none;
	line-height:43px;
	font-family:'Oswald', sans-serif;
	font-size:40px;
	font-weight:normal;
	font-style:normal;
	color:#ffffff;
}

.featured_slide_content .featured_slide_content_span{
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#ffffff;
	margin-left: 0px !important;
}

.featured_slide_content .featured_excerpt a{
	color:#ffffff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	text-decoration: none;
	font-style: italic;
}

.featured_slide_sub_content  h2{
	clear:none;
	line-height:23px;
	font-family:'Oswald', sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	color:#ffffff;
	margin:0 0 5px 0;
}

.featured_slide_sub_content a{color:#ffffff}

.featured_slider .featured_next,.featured_slider .featured_prev,#newest-products-slides_next,#newest-products-slides_prev{
	max-width:64px;
	margin-top:-32px;
	max-height:64px;
	background-size: 100%;
	width: 64px !important;
	height: 64px !important;	
}

.featured_slider .featured_next, #newest-products-slides_next{
	background: transparent url(../img/next.png) no-repeat 0 0;
	right:0px;
}
.featured_slider .featured_prev,#newest-products-slides_prev {
	background: transparent url(../img/prev.png) no-repeat 0 0;
	left:0px;
}

.homepage-newest-products-slide{
	position:relative
}

#newest-products-slides_next,#newest-products-slides_prev{
	position: absolute;
	top:45%;
	z-index:201
}

#newest-products-slides_next{
	right:0
}

#newest-products-slides_prev{
	left:0
}

.featured-slider-product-extracon{
	position: absolute;
	/* z-index: 300; */
	top: 10px;
	left: 10px;
	width:100%;
}
.featured-slider-product-extracon:after,.featured-slider-product-extracon:before{clear:both}
span.featured-slider-product-count {
	background:  #e23c00;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	float:left;
}
span.featured-slider-product-count-sub{
	background:#BB3300;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	float:left;
}

span.featured-slider-product-count .mp_product_price, span.featured-slider-product-count-sub .mp_product_price{
	line-height: 20px;
}

.tp_store_rating_con{
	float:right;
	text-align:right;
	margin-right:20px
}

.featured_slider .featured_store_nav,.featured_slider .featured_fproduct_nav,.homepage-newest-products-slide .newest-products-slides_navi{
	visibility: hidden;
	opacity:0;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;	
}
.featured_slider:hover > div.featured_store_nav, .featured_slider:hover > div.featured_fproduct_nav,.homepage-newest-products-slide:hover > .newest-products-slides_navi{
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}
.featured_slider .featured_slide_left .featured_slide_content .featured_slide_content_span {
	text-align:center !important;
	float: none;
}

.featured_slide_content_span{
	float: none;
	margin-left:0px !important
}

.newest-products-slides .mp_product_price {
	line-height: 10px !important;
}
.newest-products-slides .label-info{
	background:#BB3300
}


.newest-products-slides .product-image-box {
	background-repeat: no-repeat;
	background-position: center center;
	height: 100px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
#slider-wrapper{
	background: #f4f4f4;
}
.slider-inner-con{
	margin:0 3%;
}

.slider-refix-img{
	overflow:hidden
}

img.slider-refix-left_img,img.slider-refix-right_img{
	max-height: 100%;
	vertical-align: middle;
	display:block;
	margin:auto
}

.slider-refix-img-con{
	text-align:center;
	overflow:hidden;
}
.fbg-{background:  #DFEFF0}
.fbg-1{background: #F5FAFA;}
.fbg-2{background: #B1B1B1;}
.fbg-3{background: #A09592;}
.fbg-4{background: #CECEAD;}
.fbg-5{background: #EAE3C5;}
.fbg-6{background: #E6F0D7;}
.fbg-7{background: #F4E9ED;}
.fbg-8{background: #E6DDD6;}
.fbg-9{background: #EFEAD6;}
.fbg-10{background: #CDD0BD;}

@media (max-width: 768px){
	span.featured-slider-product-count-sub,.featured_slide_sub_right .tp_store_rating_con{
		float:none;
		text-align:left;
	}
	.featured_slide_sub_right .tp_store_rating_con{
		margin-top:5px;
	}
	.featured_slider .featured_slide_right .featured_slide_sub_content h2{
		font-size:12px !important
	}		
}

@media (max-width: 480px){

	span.featured-slider-product-count-sub{
		float:left;
	}
	.featured_slide_sub_right .tp_store_rating_con{
		float:right;
		margin-top:0px;
		text-align:right;
	}
	.featured_slider .featured_slide_right .featured_slide_sub_content h2{	
		font-size: 20px !important;
	}	
}

@media (max-width: 360px){
	span.featured-slider-product-count-sub,.featured_slide_sub_right .tp_store_rating_con{
		float:none;
		text-align:left;
	}
	.featured_slide_sub_right .tp_store_rating_con{
		margin-top:5px;
	}
	.featured_slider .featured_slide_right .featured_slide_sub_content h2{
		font-size:12px !important
	}
}