/* FlexSlider Custom CSS */

.flexslider {
	border: none;
	background: none;
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	-o-border-radius: 0px; 
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.flexslider #zm-magnifier img,
.flexslider .slides img {
	-webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.13);
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.13);	
}

.flexslider .flex-control-thumbs {
	margin: 0px;
}

.flex-control-thumbs li {
	width: 20%;
}

.flexslider .flex-direction-nav {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.flexslider:hover .flex-direction-nav {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacit0=90)";
	filter: alpha(opacity=90);
	opacity: 0.90;
}

#flexcarousel {
	overflow: hidden;
	max-height: 85px;
}

#flexcarousel .slides li > img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#flexcarousel .slides li > img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}