/* MP Default CSS Reset
-------------------------------------------------------------- */

/* ================= Sidebar Widget ================= */
ul#mp_category_list {
	margin: 0px;
}

ul#mp_category_list li {
	background-image: none !important;
  padding-left: 0px;
}

.mp_cart_widget_content .mp_cart_actions_widget {
  padding-top: 0px;
  padding-bottom: 10px;
}

/* ================= MP Product ================= */
.product {
  border-top: none;
  margin-top: 0px;
  padding: 0px;
}

/* ================= MP Product Price ================= */
del.mp_old_price {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* ================= MP Buy Button ================= */
form.mp_buy_form {
	float: none;
	margin: 0px;
}

.mp_no_stock {
	width: 100%;
	text-align: center;
	display: block;
	padding: 15px 0px !important;
}

#mp_product_list input[type="submit"],
.type-product input[type="submit"],
.mp_cart_col_updatecart input[type="submit"],
.mp_cart_direct_checkout_link,
#mp_shipping_submit,
#order-id-submit,
#mp_payment_confirm,
.mp_no_stock,
.mp_link_buynow,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow {
  	display: inline-block;
  	*display: inline;
  	padding: 4px 12px;
  	margin-bottom: 0;
  	*margin-left: .3em;
  	font-size: 14px;
  	line-height: 20px;
  	color: #333333;
  	text-align: center;
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	vertical-align: middle;
  	cursor: pointer;
  	background-color: #f5f5f5;
  	*background-color: #e6e6e6;
  	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  	background-repeat: repeat-x;
  	border: 1px solid #cccccc;
  	*border: 0;
  	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  	border-bottom-color: #b3b3b3;
  	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  	*zoom: 1;
  	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	font-family: inherit;
  	-webkit-transition: all .35s ease-in-out;
  	-moz-transition: all .35s ease-in-out;
  	-o-transition: all .35s ease-in-out;
  	-ms-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
}

#mp_product_list input[type="submit"]:hover,
.type-product input[type="submit"]:hover,
.mp_cart_col_updatecart input[type="submit"]:hover,
.mp_cart_direct_checkout_link:hover,
#mp_shipping_submit:hover,
#order-id-submit:hover,
#mp_payment_confirm:hover,
.mp_link_buynow:hover,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow:hover {
  	color: #333333;
  	background: #e6e6e6;
  	*background: #d9d9d9;
}

#mp_product_list input[type="submit"]:active,
.type-product input[type="submit"]:active,
.mp_cart_col_updatecart input[type="submit"]:active,
.mp_cart_direct_checkout_link:active,
#mp_shipping_submit:active,
#order-id-submit:active,
#mp_payment_confirm:active,
.mp_link_buynow:active,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow:active {
	background: #cccccc \9;
}

#mp_product_list input[type="submit"].btn-primary,
.type-product input[type="submit"].btn-primary,
.mp_cart_col_updatecart input[type="submit"].btn-primary,
.mp_cart_direct_checkout_link.btn-primary,
#mp_shipping_submit.btn-primary,
#order-id-submit.btn-primary,
#mp_payment_confirm.btn-primary,
.mp_no_stock.btn-primary,
.mp_link_buynow.btn-primary,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#mp_product_list input[type="submit"].btn-primary:hover,
.type-product input[type="submit"].btn-primary:hover,
.mp_cart_col_updatecart input[type="submit"].btn-primary:hover,
.mp_cart_direct_checkout_link.btn-primary:hover,
#mp_shipping_submit.btn-primary:hover,
#order-id-submit.btn-primary:hover,
#mp_payment_confirm.btn-primary:hover,
.mp_link_buynow.btn-primary:hover,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-primary:hover {
  color: #ffffff;
  background: #0044cc;
  *background: #003bb3;
}

#mp_product_list input[type="submit"].btn-primary:active,
.type-product input[type="submit"].btn-primary:active,
.mp_cart_col_updatecart input[type="submit"].btn-primary:active,
.mp_cart_direct_checkout_link.btn-primary:active,
#mp_shipping_submit.btn-primary:active,
#order-id-submit.btn-primary:active,
#mp_payment_confirm.btn-primary:active,
.mp_link_buynow.btn-primary:active,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-primary:active {
	background: #003399 \9;
}

#mp_product_list input[type="submit"].btn-warning,
.type-product input[type="submit"].btn-warning,
.mp_cart_col_updatecart input[type="submit"].btn-warning,
.mp_cart_direct_checkout_link.btn-warning,
#mp_shipping_submit.btn-warning,
#order-id-submit.btn-warning,
#mp_payment_confirm.btn-warning,
.mp_no_stock.btn-warning,
.mp_link_buynow.btn-warning,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#mp_product_list input[type="submit"].btn-warning:hover,
.type-product input[type="submit"].btn-warning:hover,
.mp_cart_col_updatecart input[type="submit"].btn-warning:hover,
.mp_cart_direct_checkout_link.btn-warning:hover,
#mp_shipping_submit.btn-warning:hover,
#order-id-submit.btn-warning:hover,
#mp_payment_confirm.btn-warning:hover,
.mp_link_buynow.btn-warning:hover,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-warning:hover {
  color: #ffffff;
  background: #f89406;
  *background: #df8505;
}

#mp_product_list input[type="submit"].btn-warning:active,
.type-product input[type="submit"].btn-warning:active,
.mp_cart_col_updatecart input[type="submit"].btn-warning:active,
.mp_cart_direct_checkout_link.btn-warning:active,
#mp_shipping_submit.btn-warning:active,
#order-id-submit.btn-warning:active,
#mp_payment_confirm.btn-warning:active,
.mp_link_buynow.btn-warning:active,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-warning:active {
	background: #c67605 \9;
}

#mp_product_list input[type="submit"].btn-danger,
.type-product input[type="submit"].btn-danger,
.mp_cart_col_updatecart input[type="submit"].btn-danger,
.mp_cart_direct_checkout_link.btn-danger,
#mp_shipping_submit.btn-danger,
#order-id-submit.btn-danger,
#mp_payment_confirm.btn-danger,
.mp_no_stock.btn-danger,
.mp_link_buynow.btn-danger,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#mp_product_list input[type="submit"].btn-danger:hover,
.type-product input[type="submit"].btn-danger:hover,
.mp_cart_col_updatecart input[type="submit"].btn-danger:hover,
.mp_cart_direct_checkout_link.btn-danger:hover,
#mp_shipping_submit.btn-danger:hover,
#order-id-submit.btn-danger:hover,
#mp_payment_confirm.btn-danger:hover,
.mp_link_buynow.btn-danger:hover,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-danger:hover {
  color: #ffffff;
  background: #bd362f;
  *background: #a9302a;
}

#mp_product_list input[type="submit"].btn-danger:active,
.type-product input[type="submit"].btn-danger:active,
.mp_cart_col_updatecart input[type="submit"].btn-danger:active,
.mp_cart_direct_checkout_link.btn-danger:active,
#mp_shipping_submit.btn-danger:active,
#order-id-submit.btn-danger:active,
#mp_payment_confirm.btn-danger:active,
.mp_link_buynow.btn-danger:active,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-danger:active {
	background: #942a25 \9;
}

#mp_product_list input[type="submit"].btn-success,
.type-product input[type="submit"].btn-success,
.mp_cart_col_updatecart input[type="submit"].btn-success,
.mp_cart_direct_checkout_link.btn-success,
#mp_shipping_submit.btn-success,
#order-id-submit.btn-success,
#mp_payment_confirm.btn-success,
.mp_no_stock.btn-success,
.mp_link_buynow.btn-success,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#mp_product_list input[type="submit"].btn-success:hover,
.type-product input[type="submit"].btn-success:hover,
.mp_cart_col_updatecart input[type="submit"].btn-success:hover,
.mp_cart_direct_checkout_link.btn-success:hover,
#mp_shipping_submit.btn-success:hover,
#order-id-submit.btn-success:hover,
#mp_payment_confirm.btn-success:hover,
.mp_link_buynow.btn-success:hover,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-success:hover {
  color: #ffffff;
  background: #51a351;
  *background: #499249;
}

#mp_product_list input[type="submit"].btn-success:active,
.type-product input[type="submit"].btn-success:active,
.mp_cart_col_updatecart input[type="submit"].btn-success:active,
.mp_cart_direct_checkout_link.btn-success:active,
#mp_shipping_submit.btn-success:active,
#order-id-submit.btn-success:active,
#mp_payment_confirm.btn-success:active,
.mp_link_buynow.btn-success:active,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-success:active {
  background: #408140 \9;
}

#mp_product_list input[type="submit"].btn-info,
.type-product input[type="submit"].btn-info,
.mp_cart_col_updatecart input[type="submit"].btn-info,
.mp_cart_direct_checkout_link.btn-info,
#mp_shipping_submit.btn-info,
#order-id-submit.btn-info,
#mp_payment_confirm.btn-info,
.mp_no_stock.btn-info,
.mp_link_buynow.btn-info,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#mp_product_list input[type="submit"].btn-info:hover,
.type-product input[type="submit"].btn-info:hover,
.mp_cart_col_updatecart input[type="submit"].btn-info:hover,
.mp_cart_direct_checkout_link.btn-info:hover,
#mp_shipping_submit.btn-info:hover,
#order-id-submit.btn-info:hover,
#mp_payment_confirm.btn-info:hover,
.mp_link_buynow.btn-info:hover,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-info:hover {
  color: #ffffff;
  background: #2f96b4;
  *background: #2a85a0;
}

#mp_product_list input[type="submit"].btn-info:active,
.type-product input[type="submit"].btn-info:active,
.mp_cart_col_updatecart input[type="submit"].btn-info:active,
.mp_cart_direct_checkout_link.btn-info:active,
#mp_shipping_submit.btn-info:active,
#order-id-submit.btn-info:active,
#mp_payment_confirm.btn-info:active,
.mp_link_buynow.btn-info:active,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-info:active {
  background: #24748c \9;
}

#mp_product_list input[type="submit"].btn-inverse,
.type-product input[type="submit"].btn-inverse,
.mp_cart_col_updatecart input[type="submit"].btn-inverse,
.mp_cart_direct_checkout_link.btn-inverse,
#mp_shipping_submit.btn-inverse,
#order-id-submit.btn-inverse,
#mp_payment_confirm.btn-inverse,
.mp_no_stock.btn-inverse,
.mp_link_buynow.btn-inverse,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#mp_product_list input[type="submit"].btn-inverse:hover,
.type-product input[type="submit"].btn-inverse:hover,
.mp_cart_col_updatecart input[type="submit"].btn-inverse:hover,
.mp_cart_direct_checkout_link.btn-inverse:hover,
#mp_shipping_submit.btn-inverse:hover,
#order-id-submit.btn-inverse:hover,
#mp_payment_confirm.btn-inverse:hover,
.mp_link_buynow.btn-inverse:hover,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-inverse:hover {
  color: #ffffff;
  background: #222222;
  *background: #151515;
}

#mp_product_list input[type="submit"].btn-inverse:active,
.type-product input[type="submit"].btn-inverse:active,
.mp_cart_col_updatecart input[type="submit"].btn-inverse:active,
.mp_cart_direct_checkout_link.btn-inverse:active,
#mp_shipping_submit.btn-inverse:active,
#order-id-submit.btn-inverse:active,
#mp_payment_confirm.btn-inverse:active,
.mp_link_buynow.btn-inverse:active,
#mp-dynamic-grid .mpdg-product-grid .mp_link_buynow.btn-inverse:active {
  background: #080808 \9;
}

.mp_link_buynow { 
	float: none; 
}