/* Page Builder (admin) CSS 
-------------------------------------------------------------- */

/* Page Builder Template Selector
-------------------------------------------------------------- */

#page-builder-column.metabox-holder {
	padding-top: 0px;
}

.aqpb-template-selector-wrapper {
	padding: 10px;
	margin-bottom: 25px;
	margin-top: 5px;
	border: 1px solid #EEEEEE;
	background: #FBFBFB;
}

.aqpb-template-selector-wrapper form select#template,
.aqpb-template-selector-wrapper form label.selected-menu,
.aqpb-template-selector-wrapper form span.submit-btn {
	margin-right: 5px;
}

/* Duplicate link
-------------------------------------------------------------- */

#aqpb-header .delete-action a.template-duplicate {
	display: block;
	float: left;
	line-height: 15px;
	margin: 4px 7px 4px 0px;
	padding: 1px 2px;
	color: #51A451;
	text-decoration: none;
}

#aqpb-header .delete-action a.template-duplicate:hover {
	color: #62c462;
}

/* Preset Templates
-------------------------------------------------------------- */

#aqpb-header .preset-template-select {
	display: inline;
	margin-right: 5px;
}

#aqpb-header .preset-template-select > label {
	margin-right: 3px;
}

/* Template Canvas
-------------------------------------------------------------- */

#template-shortcode > input {
	width: auto;
	font-size: 12.5px;
	line-height: 13.5px;
}

#page-builder-archive ul#blocks-archive {
	margin: 0px;
	padding: 10px 0px;
}

#page-builder-archive ul#blocks-archive > li.block {
	width: 48.88889999%;
	margin: 0px;
	margin-left: 0.88889999%;
	margin-bottom: 10px;
}

/* Block Settings Modal
-------------------------------------------------------------- */

#page-builder .block-controls {
	right: 10px;
}

.column-block-control-actions {
	font-size: 0.9em;
}

.column-block-control-actions a,
.column-block-control-actions a:hover {
	text-decoration: none;
}

.aq-block-settings-modal {
	display: none;
}

.block-controls > a {
	margin-right: 10px;
	text-decoration: none;
	font-size: 16px;
}

.block-controls > a:last-child {
	margin-right: 0px;
}

.column-block-control-actions > a > i {
	margin-right: 3px;
}

#blocks-to-edit .span2 .block-controls > a > span,
#blocks-to-edit .span3 .block-controls > a > span,
#blocks-to-edit .span2 .in-block-title,
#blocks-to-edit .span3 .in-block-title,
#blocks-to-edit .span4 .in-block-title {
	display: none;
}

.column-block-control-actions > a.thickbox,
.block-controls > a.block-settings-modal-link {
	color: #51A451;
}

.column-block-control-actions > a.thickbox:hover,
.block-controls > a.block-settings-modal-link:hover {
	color: #62c462;
}

.column-block-control-actions > a.delete,
.block-controls > a.aq-block-delete {
	color: red;
}

.column-block-control-actions > a.delete:hover,
.block-controls > a.aq-block-delete:hover {
	color: #ee5f5b;
}

.aq-block-settings-container .settings-container-name {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #d2d2d2;
}

.aq-block-settings-container .description {
	margin: 5px 0 7px;
}

.aq-block-settings-container > p.description:last-child,
.aq-block-settings-container > p:last-child {
	margin-bottom: 0;
}

.aq-block-settings-container .description.half {
	width: 49%;
	margin-right: 2%;
	float: left;
}
.aq-block-settings-container .description.third {
	width: 32%;
	margin-right: 2%;
	float: left;
}

.aq-block-settings-container .description.two-third {
	width: 64%;
	margin-right: 2%;
	float: left;
}

.aq-block-settings-container .description.fourth {
	width: 23.5%;
	margin-right: 2%;
	float: left;
}

.aq-block-settings-container .description.half.last,
.aq-block-settings-container .description.third.last,
.aq-block-settings-container .description.two-third.last,
.aq-block-settings-container .description.fourth.last {
	margin-right: 0;
}

.aq-block-settings-container .description.note {
	font-style: normal;
}

.aq-block-settings-container input[type="text"], .aq-block-settings-container textarea { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.aq-block-settings-container .input-min { width: 50px; }
.aq-block-settings-container .input-small { width: 150px; }
.aq-block-settings-container .input-full { width: 100%; }
.aq-block-settings-container .textarea-full { width: 100%; }
.aq-block-settings-container select { width: 100%; }
.aq-block-settings-container .description-float { 
	margin-right: 10px;
	float: left;
}
.aq-block-settings-container .input-color-picker {
	width: 70px;
}

/* Tab single
-------------------------------------------------------------- */

.tab-desc.hidden-tab-desc {
	display: none;
}

/* Awesome Icons
-------------------------------------------------------------- */

.aq-icon-select-field-container {
	margin-top: 5px;
}

.aq-fawesome-sample {
	margin-right: 5px;
	float: left;
  	font-size: 2em;
}

select.aq-awesome-icon-select-field {
	width: auto;
}

/* Row Block
-------------------------------------------------------------- */

#blocks-to-edit .block-container.row-block-container {
	background: #d2d2d2;
}

.span-full {
	width: 724px;
}

/* Resposive Layout
-------------------------------------------------------------- */

@media (max-width: 480px) {
	.aqpb-template-selector-wrapper span.add-template-action {
		display: block;
	}
	#page-builder-frame,
	#page-builder-column.metabox-holder {
		margin: 0px;
		width: 100%;
	}
	#page-builder-archive {
		width: 100%;
	}
	#page-builder-archive ul#blocks-archive > li.block {
		width: 32.2228889999%;
		margin: 0px;
		margin-left: 0.88889999%;
		margin-bottom: 10px;
	}
	.aq-block-settings-container .description {
		width: 100% !important;
		margin: 0px !important;
	}
}

@media (min-width: 481px) and (max-width: 575px) {
	.aqpb-template-selector-wrapper span.add-template-action {
		display: block;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#page-builder-frame,
	#page-builder-column.metabox-holder {
		margin: 0px;
		width: 100%;
	}
	#page-builder-archive {
		width: 100%;
	}
	#page-builder-archive ul#blocks-archive > li.block {
		width: 18.8888889999%;
		margin: 0px;
		margin-left: 0.88889999%;
		margin-bottom: 10px;
	}
	.aq-block-settings-container .description {
		width: 100% !important;
		margin: 0px !important;
	}
}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (min-width: 980px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}