/* here you can have your custom css - just don't overwrite this file each time */
td.mppf-compare-table-item-frontrow {
text-align: left !important;
}
#mp-premium-features table.mppf-compare-table a.product-label-tag {
    padding: 0px 8px;
}
