/* MP Premium Features Responsive CSS
-------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 480px) {
	#mp-premium-features table.mppf-table th,
	#mp-premium-features table.mppf-table td {
		padding: 3px;
	}
  	.mpt-modal {
  		width: 100%;
	  	margin: 0px auto; 
	  	padding: 4px;
  	}
  	.mppf-hidden-phone {
  		display: none !important;
  	}
  	#mp-premium-features table.mppf-compare-table .mppf-compare-product-image img {
  		display: none;
  	}
}

@media (min-width: 481px) and (max-width: 575px) {
  	.mpt-modal {
  		width: 100%;
	  	margin: 0px auto; 
	  	padding: 4px;
  	}
  	#mp-premium-features table.mppf-compare-table .mppf-compare-product-image img {
  		display: none;
  	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#mp-premium-features .mppf-compare-results-container table.mppf-compare-table th,
	#mp-premium-features .mppf-compare-results-container table.mppf-compare-table td {
	  padding: 3px;
	}
	#mp-premium-features table.mppf-compare-table .mppf-compare-product-image img {
	  max-width: 50px;
	}
  	.mpt-modal {
	  	margin: 0px auto; 
	  	padding: 8px;
  	}
  	.mppf-hidden-tablet {
  		display: none !important;
  	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.mpt-modal {
		width: 660px;
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	.mpt-modal {
		width: 660px;
	}
}

@media (min-width: 1200px) {
	.mpt-modal {
		width: 660px;
	}
}