/* MP Premium Features Main CSS
-------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------- */

/* Container
-------------------------------------------------------------- */

#mp-premium-features.mppf-container-single {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
}

#mp-premium-features.mppf-container-block {
  display: block;
  width: 100%;
}

/* Form
-------------------------------------------------------------- */

#mp-premium-features form.mppf-options-form {
  display: inline-block;
  margin: 0px 0px 5px 5px;
}

#mp-premium-features form.mppf-options-form:first-child {
  margin-left: 0px;
}

/* Links
-------------------------------------------------------------- */

#mp-premium-features a,
#mp-premium-features a:hover,
#mp-premium-features a:focus {
  text-decoration: none;
}

/* Buttons
-------------------------------------------------------------- */

/* Grey color (default) */
#mp-premium-features .mppf-btn {
    display: inline-block;
    *display: inline;
    padding: 10px 2px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background: #f5f5f5;
    *background: #e6e6e6;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: inherit;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
#mp-premium-features a.mppf-btn.mppf-oos-btn.mppf-btn-disabled.mppf-btn-black {
  float: left;
  margin-right: 2px;
}
#mp-premium-features .mppf-btn:hover,
#mp-premium-features .mppf-btn:focus,
#mp-premium-features .mppf-btn.mppf-btn-disabled {
    color: #333333;
    background: #e6e6e6;
    *background: #d9d9d9;
    text-decoration: none;
}

#mp-premium-features .mppf-btn.active,
#mp-premium-features .mppf-btn:active {
  background: #cccccc \9;
}

#mp-premium-features .mppf-btn > .mppf-btn-text {
  margin-left: 10px;
  display: none;
}

#mp-premium-features .mppf-btn > .mppf-btn-text-right {
  margin-left: 0px;
  margin-right: 10px;
}

#mp-premium-features .mppf-btn > .mppf-btn-text.mppf-show,
#mp-premium-features .mppf-btn:hover > .mppf-btn-text {
  display: inline-block;
}
#mp-premium-features .mppf-btn > .fa.fa-shopping-cart {
  margin-right: 5px
}
#mp-premium-features .mppf-btn > .mppf-btn-text.mppf-show {
  margin: 0;
}
#product-single-wrapper.bg #mp-premium-features .mppf-btn > .mppf-btn-text.mppf-show {
  margin: 0;
  
  padding: 0;
}
html[lang='bg-BG'] #mp-premium-features .mppf-btn > .mppf-btn-text.mppf-show {
  margin: 0;
}
#mp-premium-features .mppf-btn.mppf-btn-hide {
  display: none;
}

#mp-premium-features .mppf-btn.mppf-btn-show {
  display: inline-block;
}

#mp-premium-features .mppf-btn.mppf-btn-mini {
  padding: 1px 5px;
  font-size: 11.9px;
  line-height: 1.5;
}

#mp-premium-features .mppf-btn.mppf-btn-small {
  padding: 5px 10px;
  font-size: 11.9px;
}

#mp-premium-features .mppf-btn.mppf-btn-large {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}

#mp-premium-features .mppf-btn.mppf-btn-block {
  width: 100%;
  display: block;
}

/* blue color */

#mp-premium-features .mppf-btn.mppf-btn-blue,
#mp-premium-features .mppf-btn.mppf-btn-blue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #006dcc;
  *background: #0044cc;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#mp-premium-features .mppf-btn.mppf-btn-blue:hover,
#mp-premium-features .mppf-btn.mppf-btn-blue:focus,
#mp-premium-features .mppf-btn.mppf-btn-blue.mppf-btn-disabled {
  color: #ffffff;
  background: #0044cc;
  *background: #003bb3;
}

#mp-premium-features .mppf-btn.mppf-btn-blue.active,
#mp-premium-features .mppf-btn.mppf-btn-blue:active {
  background: #003399 \9;
}

/* yellow color */

#mp-premium-features .mppf-btn.mppf-btn-yellow,
#mp-premium-features .mppf-btn.mppf-btn-yellow {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #faa732;
  *background: #f89406;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#mp-premium-features .mppf-btn.mppf-btn-yellow:hover,
#mp-premium-features .mppf-btn.mppf-btn-yellow:focus,
#mp-premium-features .mppf-btn.mppf-btn-yellow.mppf-btn-disabled {
  color: #ffffff;
  background: #f89406;
  *background: #df8505;
}

#mp-premium-features .mppf-btn.mppf-btn-yellow.active,
#mp-premium-features .mppf-btn.mppf-btn-yellow:active {
  background: #c67605 \9;
}

/* red color */

#mp-premium-features .mppf-btn.mppf-btn-red,
#mp-premium-features .mppf-btn.mppf-btn-red {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #da4f49;
  *background: #bd362f;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#mp-premium-features .mppf-wishlist-form >.mppf-btn.mppf-btn-red{
  float: left;
  margin-top: 4px!important;
  min-width: 130px;  
}
html[lang="bg-BG"] #mp-premium-features .mppf-wishlist-form >.mppf-btn.mppf-btn-red{
    min-width: 120px;
    width: 0;
    margin-left: 5px;
    display: inline-flex;
    margin-top: -16px!important;
}
#mp-premium-features .mppf-wishlist-form >.mppf-btn.mppf-btn-red i{
  margin-right: 5px;
}
#product-single-wrapper.bg #mp-premium-features .mppf-wishlist-form >.mppf-btn.mppf-btn-red {
  float: left;
  margin-top: -25px!important;
  min-width: 117px;
  min-height: 71px!important;
  padding: 14px 0px;
  margin-left: 6px;
}
#product-single-wrapper.bg #mp-premium-features .mppf-wishlist-form >.mppf-btn.mppf-btn-red span {
  word-break: break-all;
  width: 100px;
}
#mp-premium-features .mppf-wishlist-form .mppf-addtowishlist-btn{

}
#mp-premium-features .mppf-btn.mppf-btn-red:hover,
#mp-premium-features .mppf-btn.mppf-btn-red:focus,
#mp-premium-features .mppf-btn.mppf-btn-red.mppf-btn-disabled {
  color: #ffffff;
  background: #bd362f;
  *background: #a9302a;
}

#mp-premium-features .mppf-btn.mppf-btn-red.active,
#mp-premium-features .mppf-btn.mppf-btn-red:active {
  background: #942a25 \9;
}

/* green color */

#mp-premium-features .mppf-btn.mppf-btn-green,
#mp-premium-features .mppf-btn.mppf-btn-green {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #5bb75b;
  *background: #51a351;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#mp-premium-features .mppf-btn.mppf-btn-green:hover,
#mp-premium-features .mppf-btn.mppf-btn-green:focus,
#mp-premium-features .mppf-btn.mppf-btn-green.mppf-btn-disabled {
  color: #ffffff;
  background: #51a351;
  *background: #499249;
}

#mp-premium-features .mppf-btn.mppf-btn-green.active,
#mp-premium-features .mppf-btn.mppf-btn-green:active {
  background: #408140 \9;
}

/* light blue color */

#mp-premium-features .mppf-btn.mppf-btn-lightblue,
#mp-premium-features .mppf-btn.mppf-btn-lightblue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #49afcd;
  *background: #2f96b4;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#mp-premium-features .mppf-btn.mppf-btn-lightblue:hover,
#mp-premium-features .mppf-btn.mppf-btn-lightblue:focus,
#mp-premium-features .mppf-btn.mppf-btn-lightblue.mppf-btn-disabled {
  color: #ffffff;
  background: #2f96b4;
  *background: #2a85a0;
}

#mp-premium-features .mppf-btn.mppf-btn-lightblue.active,
#mp-premium-features .mppf-btn.mppf-btn-lightblue:active {
  background: #24748c \9;
}

/* black color */

#mp-premium-features .mppf-btn.mppf-btn-black,
#mp-premium-features .mppf-btn.mppf-btn-black {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #363636;
  *background: #222222;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#mp-premium-features .mppf-btn.mppf-btn-black:hover,
#mp-premium-features .mppf-btn.mppf-btn-black:focus,
#mp-premium-features .mppf-btn.mppf-btn-black.mppf-btn-disabled {
  color: #ffffff;
  background: #222222;
  *background: #151515;
}

#mp-premium-features .mppf-btn.mppf-btn-black.active,
#mp-premium-features .mppf-btn.mppf-btn-black:active {
  background: #080808 \9;
}

#mp-premium-features .mppf-btn.mppf-btn-disabled {
  cursor: default;
  pointer-events: none;
}

/* Table
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features table.mppf-table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #dddddd;
}

#mp-premium-features table.mppf-table {
  width: 100%;
  margin-bottom: 20px;
}

#mp-premium-features table.mppf-table tbody {
  border: none;
}

#mp-premium-features table.mppf-table th,
#mp-premium-features table.mppf-table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: none;
  border: 1px solid #dddddd;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; 
}
#mp-premium-features table.mppf-table th {
  font-weight: bold;
}
#mp-premium-features table.mppf-table thead th {
  vertical-align: bottom;
}
#mp-premium-features table.mppf-table caption + thead tr:first-child th,
#mp-premium-features table.mppf-table caption + thead tr:first-child td,
#mp-premium-features table.mppf-table colgroup + thead tr:first-child th,
#mp-premium-features table.mppf-table colgroup + thead tr:first-child td,
#mp-premium-features table.mppf-table thead:first-child tr:first-child th,
#mp-premium-features table.mppf-table thead:first-child tr:first-child td {
  border-top: 0;
}
#mp-premium-features table.mppf-table tbody + tbody {
  border-top: 2px solid #dddddd;
}

#mp-premium-features table.mppf-table tbody > tr:nth-child(odd) > td,
#mp-premium-features table.mppf-table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
#mp-premium-features table.mppf-table tbody tr:hover td,
#mp-premium-features table.mppf-table tbody tr:hover th {
  background-color: #f5f5f5;
}

#mp-premium-features table.mppf-table tr.mppf-table-update-btn-row > td {
  text-align: right;
}

/* Alert Message
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features .mppf-alert-message {
  display: inline-block;
  /**border:1px solid #d8d8d8; **/
  background: transparent;
  padding:10px 0px;
  margin-bottom: 15px;
}

#mp-premium-features .mppf-alert-message > i {
  margin-right: 10px;
}

#mp-premium-features .mppf-block-message {
  display: block;
}

#mp-premium-features .mppf-message-blue {
  /**background: #EFF9FF;
  border-color: #b4ddfa; **/
  color: #2b6181;
}

#mp-premium-features .mppf-message-yellow {
  /**background: #FFFCE5;
  border-color: #ffdc7d; **/
  color:#D69A2A;
}

#mp-premium-features .mppf-message-red {
  /**background: #ffcaca;
  border-color: #eb8d8d; **/
  color: #da3838;
}

#mp-premium-features .mppf-message-green {
  /**background: #d6fedd;
  border-color: #86d492; **/
  color:#589261;
}

/* modal
------------------------------------------------------------------------------------------------------------------- */

.mpt-modal {
  padding: 20px;
  width: 560px;
  margin: 0 auto;
  background: #ffffff;
}

.mpt-modal-loading-mode {
  position: relative;
  min-height: 200px;
  text-align: center;
}

.mpt-modal-loading-mode > i {
  display: block;
  position: absolute;
  left:50%;
  top:50%;
  margin:-30px 0 0 -40px;
  font-size:60px;
  width:80px;
  line-height:60px;
  height:60px;
  text-align: center;
  color:#222222;
  z-index: 1103;
}

.mppf-mfp-zoom-in.mfp-bg {
  z-index: 1100;
}

.mppf-mfp-zoom-in.mfp-wrap {
  z-index: 1101;
}

.mppf-mfp-zoom-in .mfp-preloader {
  z-index: 1102;
}

.mppf-mfp-zoom-in .mfp-content {
  z-index: 1103;
}

.mppf-mfp-zoom-in button.mfp-close, 
.mppf-mfp-zoom-in button.mfp-arrow {
  z-index: 1104;
}

.mppf-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out; 
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out; 
  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 
}

.mppf-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1); 
  -moz-transform: scale(1); 
  -ms-transform: scale(1); 
  -o-transform: scale(1); 
  transform: scale(1); 
}

.mppf-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 
  opacity: 0;
}

.mppf-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out; 
  -moz-transition: opacity 0.3s ease-out; 
  -o-transition: opacity 0.3s ease-out; 
  transition: opacity 0.3s ease-out;
}
/* animate in */
.mppf-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.mppf-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Input Box
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features .mppf-input-box {
  display: inline-block;
}

#mp-premium-features .mppf-input-box.mppf-single {
  margin-right: 5px;
  margin-bottom: 5px;
}

#mp-premium-features .mppf-input-box .mppf-input-label {
  display: inline-block;
  float: left;
  width: auto;
  height: auto;
  padding: 8px 10px;
  margin: 0px;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
  vertical-align: baseline;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cccccc;
  border-right: none;
}

#mp-premium-features .mppf-input-box select,
#mp-premium-features .mppf-input-box input {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: baseline;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

#mp-premium-features .mppf-input-box select {
  padding: 9px 10px;
}

#mp-premium-features .mppf-input-box input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#mp-premium-features .mppf-input-box input.mppf-product-quantity-field {
  max-width: 40px;
}

/* Spacing
------------------------------------------------------------------------------------------------------------------- */

.clear {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* Wishlist
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features table.mppf-wishlist-table .mppf-table-item-action input[type="checkbox"],
#mp-premium-features table.mppf-wishlist-table .mppf-table-item-action label{
  margin-top: 5px;
  vertical-align: baseline;
}

#mp-premium-features table.mppf-wishlist-table .mppf-update-wishlist-btn > i {
  margin-right: 10px;
}

#mp-premium-features table.mppf-wishlist-table .mppf-table-item-image .mp_img_link {
  margin-right: 10px;
  vertical-align: top;
}

#mp-premium-features table.mppf-wishlist-table .mppf-table-item-image .mppf-table-item-name {
  line-height: 25px;
}

/* Compare Products
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features .compare-results-modal-trigger {
  margin: 7px 0px 7px 5px;
}

#mp-premium-features table.mppf-compare-table .mppf-table-head-row > th,
#mp-premium-features table.mppf-compare-table .mppf-table-item-row > td {
  text-align: center;
}

#mp-premium-features table.mppf-compare-table td.mppf-compare-table-item-basic img {
  margin: 0px;
  float: none;
  box-shadow: none;
}

#mp-premium-features table.mppf-compare-table td.mppf-compare-table-item-excerpt, 
#mp-premium-features table.mppf-compare-table td.mppf-compare-table-item-variation,
#mp-premium-features table.mppf-compare-table td.mppf-compare-table-item-category,
#mp-premium-features table.mppf-compare-table td.mppf-compare-table-item-tag {
  text-align: left;
}

#mp-premium-features table.mppf-compare-table td.mppf-compare-table-item-update-btn {
  text-align: right;
}

#mp-premium-features table.mppf-compare-table .mppf-compare-table-item-remove input[type="checkbox"],
#mp-premium-features table.mppf-compare-table .mppf-compare-table-item-remove label{
  vertical-align: baseline;
}

#mp-premium-features table.mppf-compare-table a.product-label-tag {
  border: 1px solid #999999;
  background: none;
  padding: 4px 8px;
  margin: 0px 5px 5px 0px;
  font-size: 11px;
  display: inline-block;
}

#mp-premium-features table.mppf-compare-table a.product-label-tag:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#mp-premium-features table.mppf-compare-table th,
#mp-premium-features table.mppf-compare-table td {
  max-width: 150px;
}

#mp-premium-features table.mppf-compare-table .mppf-compare-table-select-blog {
  margin-top: 10px;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #dddddd;
}

#mp-premium-features table.mppf-compare-table .mppf-compare-table-select-item {
  margin-top: 10px;
  padding: 10px 0px;
  border-top: 1px solid #dddddd;
}

#mp-premium-features table.mppf-compare-table .mppf-compare-table-update-msg {
  display: none;
  color: #51A451;
  margin-right: 10px;
}

#mp-premium-features table.mppf-compare-table .mppf-compare-table-update-msg > i {
  margin-left: 7px;
}

#mp-premium-features table.mppf-compare-table .mppf-compare-table-update-msg.update-msg-visible {
  display: inline-block;
}

#mp-premium-features table.mppf-compare-table select {
  max-width: 100%;
}

/* Cross Selling
------------------------------------------------------------------------------------------------------------------- */

#mppf-cs-modal {
  background: #f1f1f1;
}

#mp-premium-features .mppf-cs-modal-title {
  color: #51A451;
  margin: 10px 0px;
}

#mp-premium-features .mppf-cs-cart-info-container {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

#mp-premium-features .mppf-cs-cart-info {
  display: inline-block;
}

#mp-premium-features .mppf-cart-subtotal {
  color: #BD362F;
}

#mp-premium-features .mppf-cs-modal-checkout-btn,
#mp-premium-features .mppf-cs-modal-continue-btn {
  float: right;
}

#mp-premium-features .mppf-cs-listing-title {
  margin: 0px;
  margin-bottom: 20px;
}

#mp-premium-features .mppf-cs-product-title {
  color: #51A451;
  font-weight: bold;
  text-decoration: underline;
}

#mp-premium-features .mppf-cs-product-listing {
  padding: 15px 0px;
}

#mp-premium-features .mppf-cs-products {
  padding-right: 15px;
  max-height: 450px;
  overflow-y: auto;
}

#mp-premium-features .mppf-cs-modal-well {
  background: #ffffff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#mp-premium-features .mppf-cs-modal-product-image img {
  float: left;
  margin: 0px;
  margin-right: 20px;
}

#mp-premium-features .mppf-cs-modal-buy-btn {
  text-align: right;
}

#mp-premium-features .mppf-cs-modal-buy-btn .mppf-cs-modal-more-details {
  margin-left: 5px;
}

/* Image Taxonomy Menu
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features ul.mppf-taxonomy-menu {
  padding: 0px;
  margin: 0px;
}

#mp-premium-features ul.mppf-taxonomy-menu li.mppf-taxonomy-menu-item {
  display: block;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

#mp-premium-features ul.mppf-taxonomy-menu .mppf-taxonomy-menu-item-link {
  display: block;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; 
}

#mp-premium-features ul.mppf-taxonomy-menu li.mppf-taxonomy-menu-item:before {
  background-image: none;
  display: none;
  margin: 0px;
  padding: 0px;
}

#mp-premium-features ul.mppf-taxonomy-menu li.mppf-taxonomy-menu-item:last-child {
  margin-bottom: 0px;
}

#mp-premium-features ul.mppf-taxonomy-menu li.mppf-taxonomy-menu-item .mppf-taxonomy-menu-item-link:hover,
#mp-premium-features ul.mppf-taxonomy-menu li.mppf-taxonomy-menu-item.selected .mppf-taxonomy-menu-item-link {
  border: 1px solid #999999;
  background: #fafafa;
  text-decoration: none;
}

#mp-premium-features ul.mppf-taxonomy-menu li.mppf-taxonomy-menu-item .mppf-taxonomy-menu-item-link:focus {
  text-decoration: none;
}

#mp-premium-features ul.mppf-taxonomy-menu .mppf-taxonomy-menu-item-image {
  float: left;
  display: inline-block;
  margin-right: 15px;
}

#mp-premium-features ul.mppf-taxonomy-menu .mppf-taxonomy-menu-item-image img {
  margin: 0px;
  box-shadow: none;
  border: 1px solid #e5e5e5;
}

#mp-premium-features ul.mppf-taxonomy-menu .mppf-taxonomy-menu-item-name {
  font-weight: bold;
}

#mp-premium-features ul.mppf-taxonomy-menu .mppf-taxonomy-menu-item-count {
  font-size: 0.85em;
}

#mp-premium-features ul.mppf-taxonomy-menu .mppf-taxonomy-menu-item-count:before {
  content: "[";
  margin-right: 3px;
}

#mp-premium-features ul.mppf-taxonomy-menu .mppf-taxonomy-menu-item-count:after {
  content: "]";
  margin-left: 3px;
}

#mp-premium-features ul.mppf-sub-taxonomy-menu {
  display: none;
  margin: 10px 0px 0px 10px;
  padding: 0px;
}

#mp-premium-features ul.mppf-taxonomy-menu li.mppf-taxonomy-menu-item:hover > ul.mppf-sub-taxonomy-menu {
  display: block;
}

/* Quick Shop Menu
------------------------------------------------------------------------------------------------------------------- */

.mppf-shop-now-menu .mppf-snm-product-info  {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.mppf-shop-now-menu .mppf-snm-product-image {
  display: inline;
  float: left;
}

.mppf-shop-now-menu .mppf-snm-product-image img {
  margin: 0px;
  margin-right: 15px;
}

.mppf-shop-now-menu .mppf-snm-product-details .mppf-snm-product-title {
  clear: none;
}

.mppf-shop-now-menu .mppf-shop-now-options {
  text-align: right;
}

/* Social Sharing
------------------------------------------------------------------------------------------------------------------- */
#mp-premium-features .mppf-social-sharing {
  display: block;
  margin-top: 15px;
  text-align:right;
}

#mp-premium-features .mppf-social-sharing .mppf-social-icon {
  display: inline-block;
  padding: 10px 17px;
  margin-right: 5px;
  color: #ffffff;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#mp-premium-features .mppf-social-sharing .mppf-social-icon:first-child {
  font-weight: bold;
  color: #676767;
  padding-right: 5px;
  padding-left: 0px;
}

#mp-premium-features .mppf-social-sharing .mppf-social-icon:last-child {
  margin-right: 0px;
}

#mp-premium-features .mppf-social-sharing .mppf-facebook-icon {
  background: #3b5997;
}

#mp-premium-features .mppf-social-sharing .mppf-facebook-icon:hover,
#mp-premium-features .mppf-social-sharing .mppf-facebook-icon:focus {
  background: #263960;
}

#mp-premium-features .mppf-social-sharing .mppf-twitter-icon {
  background: #41b7d8;
}

#mp-premium-features .mppf-social-sharing .mppf-twitter-icon:hover,
#mp-premium-features .mppf-social-sharing .mppf-twitter-icon:focus {
  background: #238caa;
}

#mp-premium-features .mppf-social-sharing .mppf-googleplus-icon {
  background: #d64937;
}

#mp-premium-features .mppf-social-sharing .mppf-googleplus-icon:hover,
#mp-premium-features .mppf-social-sharing .mppf-googleplus-icon:focus {
  background: #a02f21;
}

#mp-premium-features .mppf-social-sharing .mppf-linkedin-icon {
  background: #0073b2;
}

#mp-premium-features .mppf-social-sharing .mppf-linkedin-icon:hover,
#mp-premium-features .mppf-social-sharing .mppf-linkedin-icon:focus {
  background: #004265;
}

#mp-premium-features .mppf-social-sharing .mppf-pinterest-icon {
  background: #cb2027;
}

#mp-premium-features .mppf-social-sharing .mppf-pinterest-icon:hover,
#mp-premium-features .mppf-social-sharing .mppf-pinterest-icon:focus {
  background: #89161a;
}

#mp-premium-features .mppf-social-sharing .mppf-vk-icon {
  background: #5e82a8;
}

#mp-premium-features .mppf-social-sharing .mppf-vk-icon:hover,
#mp-premium-features .mppf-social-sharing .mppf-vk-icon:focus {
  background: #415c78;
}

#mp-premium-features .mppf-social-sharing .mppf-xing-icon {
  background: #175e60;
}

#mp-premium-features .mppf-social-sharing .mppf-xing-icon:hover,
#mp-premium-features .mppf-social-sharing .mppf-xing-icon:focus {
  background: #082222;
}

a.mppf-social-icon:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* Pinterest Button
------------------------------------------------------------------------------------------------------------------- */

.mppf-pinterest-btn {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dddddd;
}

/* Purchase Motivator
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features .mppf-pm-message-box {
  display: block;
}

#mp-premium-features .mppf-pm-message-box-cs {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Sell In Post
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features .mppf-sip-product-box {
  display: inline-block;
  padding: 20px;
  margin: 10px 0px;
  background: #fafafa;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
}

#mp-premium-features .mppf-sip-alignleft {
  float: left;
  margin-right: 20px;
}

#mp-premium-features .mppf-sip-alignright {
  float: right;
  margin-left: 20px;
}

#mp-premium-features .mppf-sip-main-title {
  margin: -20px -20px 20px -20px;
  padding: 20px;
  background: #444444;
  color: #ffffff;
}

#mp-premium-features .mppf-sip-blue .mppf-sip-main-title {
  background: #006dcc;
}

#mp-premium-features .mppf-sip-lightblue .mppf-sip-main-title {
  background: #3299B7;
}

#mp-premium-features .mppf-sip-yellow .mppf-sip-main-title {
  background: #F89406;
}

#mp-premium-features .mppf-sip-red .mppf-sip-main-title {
  background: #BD362F;
}

#mp-premium-features .mppf-sip-grey .mppf-sip-main-title {
  background: #e5e5e5;
  color: #222222;
}

#mp-premium-features .mppf-sip-green .mppf-sip-main-title {
  background: #51A451;
}

#mp-premium-features .mppf-sip-product-image {
  position: relative;
  border: 1px solid #dddddd;
}

#mp-premium-features .mppf-sip-product-image > img {
  width: 100%;
  height: auto;
  box-shadow: none;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#mp-premium-features .mppf-sip-product-image:hover > img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  filter: alpha(opacity=55);
  opacity: 0.55;
}

#mp-premium-features .mppf-sip-product-image .mppf-sip-product-image-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index:2;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#mp-premium-features .mppf-sip-product-image:hover .mppf-sip-product-image-link {
  background-color: rgba(0,0,0,0.8);
}

#mp-premium-features .mppf-sip-product-image a.mppf-sip-product-image-link > i {
  display: block;
  position: absolute;
  left:50%;
  top:50%;
  margin:-15px 0 0 -20px;
  font-size:30px;
  width:40px;
  line-height:30px;
  height:30px;
  text-align: center;
  color:#ffffff;
  z-index:3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

#mp-premium-features .mppf-sip-product-image:hover a.mppf-sip-product-image-link > i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

#mp-premium-features .mppf-sip-product-image a.mppf-sip-product-image-link:focus {
  text-decoration: none;
}

#mp-premium-features .mppf-sip-product-image > .mppf-sip-pinit-btn {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 4;
}

#mp-premium-features .mppf-sip-product-name {
  margin: 10px 0px 5px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

#mp-premium-features .mppf-sip-product-excerpt {
  margin-top: 10px;
  display: inline;
}

#mp-premium-features .mppf-sip-product-excerpt > p:last-child {
  margin-bottom: 0px;
}

#mp-premium-features .mppf-sip-buy-button {
  margin-top: 10px;
}

#mp-premium-features .mppf-sip-buy-button .mppf-options-form {
  display: block;
} 

#mp-premium-features .mppf-sip-buy-button .mppf-btn {
  display: block;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

/* Shop Details Widget
------------------------------------------------------------------------------------------------------------------- */

#mp-premium-features .mppf-sd-about-shop {
  text-align: center;
  padding: 10px 10px 5px 10px;
  margin-bottom: 5px;
}

#mp-premium-features .mppf-sd-shop-logo > img {
  margin-bottom: 10px;
  box-shadow: none;
  max-width: 100%;
}

#mp-premium-features .mppf-sd-shop-name {
  margin-bottom: 5px;
}

#mp-premium-features .mppf-sd-shop-desc {
  font-size: 0.9em;
  font-style: italic;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  opacity: 0.85;
}

#mp-premium-features .mppf-sd-shop-desc > p:last-child {
  margin-bottom: 0px;
}

#mp-premium-features .mppf-sd-products-list {
  padding: 5px;
}

#mp-premium-features .mppf-sd-products-list-title {
  margin: 5px 0px 10px 0px;
}

#mp-premium-features .mppf-sd-products-list .bx-wrapper .bx-viewport {
  border: 0px;
  box-shadow: none;
  left: 0px;
  background: none;
}

#mp-premium-features .mppf-sd-single-product {
  position: relative;
}

#mp-premium-features .mppf-sd-single-product > img {
  border-radius: 0px;
}

#mp-premium-features .mppf-sd-single-product .mppf-sd-single-product-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index:2;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#mp-premium-features .mppf-sd-single-product:hover .mppf-sd-single-product-link {
  background-color: rgba(0,0,0,0.8);
}

#mp-premium-features .mppf-sd-single-product a.mppf-sd-single-product-link > i {
  display: block;
  position: absolute;
  left:50%;
  top:50%;
  margin:-15px 0 0 -20px;
  font-size:30px;
  width:40px;
  line-height:30px;
  height:30px;
  text-align: center;
  color:#ffffff;
  z-index:3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

#mp-premium-features .mppf-sd-single-product:hover a.mppf-sd-single-product-link > i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

#mp-premium-features .mppf-sd-single-product a.mppf-sd-single-product-link:focus {
  text-decoration: none;
}

#mp-premium-features .mppf-sd-single-product-price {
  position: absolute;
  bottom: 2px;
  left: 2px;
  z-index: 4;
  padding: 5px 7px;
  background: #ffffff;
}

#mp-premium-features .mppf-sd-single-product-price .mp_product_price {
  margin-right: 0px;
  padding: 0px;
  background: none;
  line-height: 14px;
  font-size: 10px;
}

#mp-premium-features .mppf-sd-single-product-price .mp_product_price .mp_current_price {
  display: block;
}

#mp-premium-features .mppf-shop-details-widget .mppf-sdslider-control {
  margin-top: 10px;
  text-align: right;
}
#mp-premium-features a.mppf-btn.mppf-oos-btn.mppf-btn-disabled.mppf-btn-black span {
  margin-left: 4px;
  margin-right: -4px;
}

#mp-premium-features .mppf-sdslider-controller > a {
  background: #999999;
  color: #ffffff;
  padding: 1px 8px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

#mp-premium-features .mppf-sdslider-controller > a:hover {
  background: #222222;
}

#mp-premium-features .mppf-sdslider-controller > a:focus {
  text-decoration: none;
}

#mp-premium-features .mppf-sdslider-controller > a:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

#mp-premium-features .mppf-sdslider-controller > a.bx-prev {
  margin-right: 5px;
}

#mp-premium-features .mppf-sdslider-controller > a.bx-prev:before {
  content: "\f0d9";
}

#mp-premium-features .mppf-sdslider-controller > a.bx-next:before {
  content: "\f0da";
}


/* Products Filter & Products Nav
------------------------------------------------------------------------------------------------------------------- */

.mppf_list_filter .one_filter{
  display:inline-block;
  margin-right:20px;
}
.mppf_list_filter .one_filter span{
  color: grey;
}
.mppf_list_filter .one_filter select{
  padding: 1px 0px 1px 2px;
  border:1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Integration CSS
------------------------------------------------------------------------------------------------------------------- */

#mp-related-products-widget .mprpw-buy-button .mppf-container > button.mppf-btn {
  padding: 10px;
}

#mp-related-products-widget .mprpw-buy-button .mppf-container > button.mppf-btn > .mppf-btn-text {
  margin-left: 5px;
}

#mp-related-products-widget .mprpw-buy-button .mppf-container > button.mppf-btn > .mppf-btn-text-right {
  margin-right: 5px;
}

#mp_related_products #mp-premium-features.mppf-flexmarket-integration .mppf-shop-now-btn,
#mp_related_products #mp-premium-features.mppf-flexmarket-integration.mppf-container-list .mppf-add-to-cart-btn,
#mp_related_products #mp-premium-features.mppf-flexmarket-integration.mppf-container-list .mppf-buy-now-btn,
#mp_related_products #mp-premium-features.mppf-flexmarket-integration.mppf-container-list .mppf-choose-options-btn {
  padding: 10px;
}

#mp-premium-features.mppf-pro-integration.mppf-container-list form.mppf-options-form,
#mp-premium-features.mppf-pro-integration.mppf-container-single form.mppf-options-form,
#mp-premium-features.mppf-pro-integration.mppf-container-single .mppf-input-box,
#mp-premium-features.mppf-pro-integration.mppf-container-single .mppf-input-box .mppf-select,
#mp-premium-features.mppf-pro-integration.mppf-container-single .mppf-input-box .mppf-input {
  display: block;
}

#mp-premium-features.mppf-pro-integration.mppf-container-single form.mppf-options-form {
  margin-left: 0px;
}
#pro-product-grid #mp-premium-features.mppf-pro-integration .mppf-shop-now-btn,
#pro-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-add-to-cart-btn,
#pro-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-buy-now-btn,
#pro-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-choose-options-btn,
#pro-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-global-listing-btn,
#pro-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-oos-btn,
#fws-product-grid #mp-premium-features.mppf-pro-integration .mppf-shop-now-btn,
#fws-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-add-to-cart-btn,
#fws-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-buy-now-btn,
#fws-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-choose-options-btn,
#fws-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-global-listing-btn,
#fws-product-grid #mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-oos-btn,
#mp-premium-features.mppf-pro-integration.mppf-container-single .mppf-add-to-cart-btn,
#mp-premium-features.mppf-pro-integration.mppf-container-single .mppf-buy-now-btn, {
  padding: 10px 0px;
  width: 100%;
  display: block;
  text-align: center;
}

#mp-premium-features.mppf-pro-integration.mppf-container-single .mppf-addtocompare-btn {
  display: block;
  width: 95%;
  padding: 6px;
  display: block;
  text-align: center;
  margin-bottom:3px;  
}

#mp-premium-features.mppf-pro-integration.mppf-container-single .mppf-addtowishlist-btn{
  /*float: left;*/

}
#mp-premium-features.mppf-pro-integration.mppf-container-single .compare-results-modal-trigger {
  margin-top: 5px;
  margin-left: 0px;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}

#mp-premium-features.mppf-pro-integration.mppf-container-single .compare-results-modal-trigger.mppf-btn-hide {
  display: none;
}

#mp-premium-features.mppf-pro-integration.mppf-container-single .compare-results-modal-trigger.mppf-btn-show {
  display: block;
}

#mp-premium-features.mppf-pro-integration.mppf-container-single .compare-results-modal-trigger.mppf-btn-show i.fa-th-list {
    margin-right: 5px;
}

#mp-premium-features.mppf-pro-integration .mppf-shop-now-btn,
#mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-add-to-cart-btn,
#mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-buy-now-btn,
#mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-choose-options-btn,
#mp-premium-features.mppf-pro-integration.mppf-container-list .mppf-global-listing-btn {
  padding: 10px;
  width: auto;
  display: inline-block;
}

.mppf-product-stock { color: gray; }

/* Overwriten for bg languange
------------------------------------------------------------------------------------------------------------------- */

#product-single-wrapper.bg .mppf-product-compare-form.mppf-options-form.mppf-hidden-phone {
  margin-top: -77px!important; 
}


#mp-premium-features .mppf-wishlist-form >.mppf-btn.mppf-btn-red {

}
#product-single-wrapper.bg .mppf-btn-disabled i {
  margin-top: 0!important;
}


/* added css code here for pagespeed optimization */

/* here you can have your custom css - just don't overwrite this file each time */
td.mppf-compare-table-item-frontrow {
text-align: left !important;
}
#mp-premium-features table.mppf-compare-table a.product-label-tag {
    padding: 0px 8px;
}


/* MP Premium Features Responsive CSS
-------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 480px) {
	#mp-premium-features table.mppf-table th,
	#mp-premium-features table.mppf-table td {
		padding: 3px;
	}
  	.mpt-modal {
  		width: 100%;
	  	margin: 0px auto; 
	  	padding: 4px;
  	}
  	.mppf-hidden-phone {
  		display: none !important;
  	}
  	#mp-premium-features table.mppf-compare-table .mppf-compare-product-image img {
  		display: none;
  	}
}

@media (min-width: 481px) and (max-width: 575px) {
  	.mpt-modal {
  		width: 100%;
	  	margin: 0px auto; 
	  	padding: 4px;
  	}
  	#mp-premium-features table.mppf-compare-table .mppf-compare-product-image img {
  		display: none;
  	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#mp-premium-features .mppf-compare-results-container table.mppf-compare-table th,
	#mp-premium-features .mppf-compare-results-container table.mppf-compare-table td {
	  padding: 3px;
	}
	#mp-premium-features table.mppf-compare-table .mppf-compare-product-image img {
	  max-width: 50px;
	}
  	.mpt-modal {
	  	margin: 0px auto; 
	  	padding: 8px;
  	}
  	.mppf-hidden-tablet {
  		display: none !important;
  	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.mpt-modal {
		width: 660px;
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	.mpt-modal {
		width: 660px;
	}
}

@media (min-width: 1200px) {
	.mpt-modal {
		width: 660px;
	}
}
