/* Settings CSS
------------------------------------------------------------------------------------------------------------------- */

/* Settings Form
------------------------------------------------------------------------------------------------------------------- */

.sa-settings-page > form > h3 {
	margin-bottom: 5px;
	padding: 15px;
	background: #222222;
	color: #ffffff;
}

.admin-color-light .sa-settings-page > form > h3 {
	background: #999999;
	color: #ffffff;
}

.admin-color-blue .sa-settings-page > form > h3 {
	background: #096484;
	color: #ffffff;
}

.admin-color-coffee .sa-settings-page > form > h3 {
	background: #46403C;
	color: #ffffff;
}

.admin-color-ectoplasm .sa-settings-page > form > h3 {
	background: #413256;
	color: #ffffff;
}

.admin-color-midnight .sa-settings-page > form > h3 {
	background: #25282B;
	color: #ffffff;
}

.admin-color-ocean .sa-settings-page > form > h3 {
	background: #627C83;
	color: #ffffff;
}

.admin-color-sunrise .sa-settings-page > form > h3 {
	background: #B43C38;
	color: #ffffff;
}

.sa-settings-page > form > table.form-table {

  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #dddddd;
}

.sa-settings-page > form > table.form-table {
  width: 100%;
  margin-bottom: 20px;
}

.sa-settings-page > form > table.form-table tbody {
  border: none;
}

.sa-settings-page > form > table.form-table th,
.sa-settings-page > form > table.form-table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: none;
  background: #ffffff;
  border: 1px solid #dddddd;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; 
}
.sa-settings-page > form > table.form-table th {
  font-weight: bold;
}
.sa-settings-page > form > table.form-table thead th {
  vertical-align: bottom;
}
.sa-settings-page > form > table.form-table caption + thead tr:first-child th,
.sa-settings-page > form > table.form-table caption + thead tr:first-child td,
.sa-settings-page > form > table.form-table colgroup + thead tr:first-child th,
.sa-settings-page > form > table.form-table colgroup + thead tr:first-child td,
.sa-settings-page > form > table.form-table thead:first-child tr:first-child th,
.sa-settings-page > form > table.form-table thead:first-child tr:first-child td {
  border-top: 0;
}
.sa-settings-page > form > table.form-table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.sa-settings-page > form > table.form-table tbody > tr:nth-child(odd) > td,
.sa-settings-page > form > table.form-table tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}
.sa-settings-page > form > table.form-table tbody tr:hover td,
.sa-settings-page > form > table.form-table tbody tr:hover th {
  background-color: #f5f5f5;
}

.sa-settings-page > form > table.form-table tr.mppf-table-update-btn-row > td {
  text-align: right;
}

/*ADMIN CUSTOMIZED*/
body.wp-admin #toprank_multi_images img.toprank_image-u {
    width: 100%;
    height: auto;
}
body.wp-admin #toprank_multi_images img.toprank_image_remove {
    float: right;
    margin-bottom: 8px;
}