/**
 * Should only work when plugin is installed in current page,
 * This will hide the heading and the white background of the theme:
 *
 * Based on Design Mockups.

div[id^="post-"] .page-content {
    background: transparent !important;
    padding: 0px !important;
    border: 0px !important;
}

div[id^="post-"] .page-heading {
    display: none;
}
*/

.toprank_slider_control {  }

.toprank_slider_control .slick-prev,
.toprank_slider_control .slick-next {
    margin-top: 1px;
    width: 50px;
    text-align: center;
    top: 30%;
    bottom: 36%;
    display: block;
    height: initial;
    opacity: 0;
    border: 1px solid #000;
}

.toprank_slider_control .slick-next {
    right: 0;
    border-right: 0;
}

.toprank_slider_control .slick-prev {
    left: 0;
    border-left: 0;
}

.toprank_slider_control .slick-prev:hover {
    opacity: 0.6;
    background: #111;
}

.toprank_slider_control .slick-prev:before {
    left: 10px;
    right: 20%;
    position: absolute;
}

.toprank_slider_control .slick-next:hover {
    opacity: 0.6;
    background: #111;
}

.toprank_slider_control .slick-next:before {
    right: 10px;
    left: 20%;
    position: absolute;
}

.toprank_slider_control * {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1;
}

.toprank_slider_control .item {
    padding: 1px 5px 5px 5px;
}
html[lang="bg-BG"] .tss-performers-slide .toprank_slider_control .item {
    padding: 1px 3px 3px 5px;
}
.toprank_slider_control .item-container {
    padding: 5px;
    background: #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 226px;
    width: 182px;
    overflow: hidden;
}

.toprank_slider_control .item-container > .item-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 100%;
    display: block;
}

.toprank_slider_control .item-container > .item-title {
    padding: 7px 0 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.toprank_slider_control .item-container > .item-cat {
    opacity: 0.8;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.toprank_slider_control .item-container > hr {
    margin: 18px 0 5px 0;
    border-color: #d2d2d2;
    border-width: 1px;
    border-top: 0px;
    clear: both;
}

.toprank_slider_control .item-container > .item-cat.half {
    width: 38%;
    float: left;
}

.toprank_slider_control .item-container > .item-rating {
    float: right;
}

.toprank_slider_control .item-container > .item-rating .tp_store_base {
    zoom: 0.65;
	-moz-transform: scale(.65);
}

.toprank_slider_control .item-container > .item-rating br,
.toprank_slider_control .item-container > .item-rating span { display: none; }

.toprank_slider_control .item-container > .item-buttons {
    text-align: right;
    float: right;
    width: 50%;
}
html[lang="bg-BG"] #toprank_slider_2.toprank_slider_control .item-container > .item-buttons {
  width: 62%;
  margin-top: 0;
}

html[lang="bg-BG"] #toprank_slider_3 .toprank_slider_control .item-container > .item-cat{
	width: 35%;
}

html[lang="bg-BG"] #toprank_slider_3 .toprank_slider_control .item-container > .item-buttons{
	width: 65%;
}

.toprank_slider_control .item-container > .item-buttons > a {
    font-size: 11px;
    white-space: nowrap;
    padding: 3px 3px;
    margin-right: 3px;
    text-align: center;
}

.toprank_slider_control .item-container .btn.btn-primary {
    background: #5093b7;
    box-shadow: none;
}

.toprank_slider_control .item-container .btn.btn-primary:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* Layout Overrides */

/*
-----------------------------------------------------
 Store
-----------------------------------------------------
*/
.toprank_slider_control .item-container.store {
    height: 200px;
}

.toprank_slider_control .item-container.store > .item-cat {
    padding-top: 3px;
}

.toprank_slider_control .item-container.store > .item-rating {
    padding-top: 2px;
}

/*
-----------------------------------------------------
 Store 1x4
-----------------------------------------------------
*/
.toprank_slider_control .store_1x4 {
    padding: 0;
    width: 577px;
    height: 226px;
    display: block;
}

.toprank_slider_control .store_1x4 .sec_one,
.toprank_slider_control .store_1x4 .sec_two {
    height: 228px;
    box-sizing: border-box;
}

.toprank_slider_control .store_1x4 .sec_one {
    width: 280px;
    float: left;
}

.toprank_slider_control .store_1x4 .sec_two {
    width: 295px;
    float: right;
}

.toprank_slider_control .store_1x4 .sec_one .item {
    padding: 1px;
}

.toprank_slider_control .store_1x4 .sec_one .item .item-container {
    height: 226px;
    width: 278px;
}

.toprank_slider_control .store_1x4 .sec_one .item-title {
    float: left;
    width: 60%;
}

.toprank_slider_control .store_1x4 .sec_one .item-title > a {
    font-size: 13px;
    font-weight: bold;
}

.toprank_slider_control .store_1x4 .sec_one .item-rating {
    float: right;
    margin-top: 8px;
}

.toprank_slider_control .store_1x4 .sec_one .item-desc {
    clear: both;
    font-size: 11px;
    min-height: 23px;
}

.toprank_slider_control .store_1x4 .sec_one .item-buttons {
    clear: both;
    width: 100%;
    float: none;
}

.toprank_slider_control .store_1x4 .sec_one .item-buttons > a:nth-child(1),
.toprank_slider_control .store_1x4 .sec_one .item-buttons > a:nth-child(2) {
    margin: 0;
}

.toprank_slider_control .store_1x4 .sec_one .item-buttons > a:nth-child(1) {
    float: left;
}

.toprank_slider_control .store_1x4 .sec_one .item-buttons > a:nth-child(2) {
    float: right;
    background: #fff;
    color: #5093b7;
    border-color: #5093b7;
    text-shadow: none;
}

.toprank_slider_control .store_1x4 .sec_two {
    width: 295px;
    height: 228px;
}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container {
    position: relative;
    width: 295px;
    height: 228px;
}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container .item-container {
    height: 106px;
    width: 132px;
    margin: 1px 1px 11px 11px;
    position: relative;
}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container .item-container .item-image {
    height: 70px;
}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container .item-container .item-title {
    padding-top: 3px;
}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container .item-container .item-title > a {
    font-size: 10px;
}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container .item-container .item-cat {
    font-size: 9px;
}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container .item-container .item-rating {

}

.toprank_slider_control .store_1x4 .sec_two .item-mini-container .item-container .item-rating .tp_store_base {
    zoom: 0.495;
	-moz-transform: scale(.495);
}

/*
-----------------------------------------------------
 Products
-----------------------------------------------------
*/
.toprank_slider_control .item-container.products {

}

.toprank_slider_control .item-container.products > .item-price {
    float: left;
    width: 50%;
    text-align: center;
}

.toprank_slider_control .item-container.products > .item-price > span {
    font-weight: bold;
}

.toprank_slider_control .item-container.products > .item-price > span:nth-child(3) {
    font-size: 12px;
     padding-left: 2px;
}

.toprank_slider_control .item-container.products > .item-price > span:nth-child(1) {
    font-size: 18px;
}

.toprank_slider_control .item-container.products > .item-price > span:nth-child(2) {
    vertical-align: super;
    font-size: 13px;
    margin-left: -3px;
}

/*
-----------------------------------------------------
 Performers
-----------------------------------------------------
*/
.toprank_slider_control .item-container.performers {
    height: 195px;
}

.toprank_slider_control .item-container.performers .item-buttons {
    padding-left: 5px;
}

.toprank_slider_control .item-container.performers .item-buttons > a {
    margin-top: -5px;
    width: 100%;
    font-size: 10px;
}

.toprank_slider_control .item-container.performers .btn-quote {
    margin: 4px;
    opacity: 0.8 !important;
}

.toprank_slider_control .item-container.performers .btn-quote:hover {
    opacity: 1 !important;
}

/*
-----------------------------------------------------
 Events /Gigs
-----------------------------------------------------
*/
.toprank_slider_control .events {
    height: 195px;
}

.toprank_slider_control .events .item-buttons {
    padding-left: 5px;
}

.toprank_slider_control .events .item-buttons > a {
    margin-top: -5px;
    width: 100% !important;
    font-size: 10px;
}

.toprank_slider_control .events .btn-quote {
    margin: 4px;
    opacity: 0.8 !important;
}

.toprank_slider_control .events .btn-quote:hover {
    opacity: 1 !important;
}


/*
-----------------------------------------------------
 StoreList
-----------------------------------------------------
*/
.toprank_slider_control .item-container.storelist {
    height: 195px;
}
html[lang="bg-BG"] #toprank_slider_2.toprank_slider_control .item-container.storelist {
  height: 215px;
}
.toprank_slider_control .item-container.storelist .item-buttons {
    padding-left: 5px;
    margin-top: 3px;
}

.toprank_slider_control .item-container.storelist .item-buttons > a {
    margin-top: -5px;
    width: 100%;
    font-size: 10px;
}

html[lang="bg-BG"] .tss-performers-slide .toprank_slider_control .item-container.storelist .item-buttons > a {
    margin-top: -1px;
}

.toprank_slider_control .item-container.storelist .btn-quote {
    margin: 4px;
    opacity: 0.8 !important;
}

.toprank_slider_control .item-container.storelist .btn-quote:hover {
    opacity: 1 !important;
}

/*
-----------------------------------------------------
 Blogroll
-----------------------------------------------------
*/
.toprank_slider_control .item-container.blogroll {
    background: transparent;
    border: 0;
    box-shadow: none;
    width: 369px;
    height: auto;
    padding: 1px;
}

.toprank_slider_control .item-container.blogroll .item-date {
    color: #222;
    font-weight: bold;
}

.toprank_slider_control .item-container.blogroll .item-readmore {
    padding-right: 5px;
}
html[lang="bg-BG"] .toprank_slider_control .item-container.blogroll .item-readmore {
    margin-top: -2px;
}

.toprank_slider_control .item-container.blogroll .item-readmore > a {
    color: #5093b7;
}
.toprank_slider_control .item-container.blogroll .item-readmore > a:hover {
    color: #000000;
}

.toprank_slider_control .item-container.blogroll .item-content {
    margin-bottom: 10px;
}

.toprank_slider_control .item-container.blogroll .item-title {
    font-size: 14px;
    margin-bottom: 5px;
    color: #222;
}

.toprank_slider_control .item-container.blogroll .item-imagesrc {
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-repeat: no-repeat;
}

.toprank_slider_control .item-container.blogroll .item-image {
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    width: 375px;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.toprank_slider_control span.preloader {
    width: 100%;
    height: 226px;
    text-align: center;
    display: block;
    background: rgba(0,0,0,0.02) url('../img/ajax-loader.gif') center center no-repeat;
}

.tp_slider_ajax_loadbg {
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
    background-size: contain;
}

/*
-----------------------------------------------------
 Mobile Adjustments
-----------------------------------------------------
*/

@media only screen and (max-width : 1200px)   {
    .toprank_slider_control .sec_two {
        display: none;
    }

    .toprank_slider_control .store_1x4,
    .toprank_slider_control .sec_one {
        width: 100% !important;
    }

    .toprank_slider_control .sec_one .item .item-container {
        width: 100%  !important;
    }

    .toprank_slider_control .item-container > .item-image {
        background-size: cover;
    }
}


/*
------------
OVERRIDES
------------
*/

.tss-performers-slide .toprank_slider_control {
    margin: 0 !important;
}

#toprank_slider_4 {
    height: 225px !important;
    overflow: hidden;
}
@media only screen and (max-width : 394px)   {
	.tss-normal-slide {
		height: 300px !important;
	}
	button.slick-prev { display: none !important; }
	button.slick-next { display: none !important; }
}