/*--------------------------------------------------------------
Hello, this is the BuddyPress Legacy stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Navigation
	1.1 - Pagination
2.0 - WordPress
	2.1 - Images
3.0 - BuddyPress
	3.1 - Activity
		3.1.1 - Activity Listing
		3.1.2 - Activity Comments
	3.2 - Toolbar
	3.3 - Directories - Members, Groups, Blogs, Forums
	3.4 - Error / Success Messages
	3.5 - Forms
	3.6 - Ajax Loading
	3.7 - Topics and Tables - Forums and General
	3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
	3.9 - Private Messaging Threads
	3.10 - Extended Profiles
	3.11 - Widgets
4.0 - Media Queries
	4.1 - Smartphones Landscape
	4.2 - Smartphones Portrait
	4.3 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Pagination
--------------------------------------------------------------*/
#buddypress div.pagination {
	background: transparent;
	border: none;
	color: #888;
	font-size: 90%;
	margin: 0;
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 10px 0;
}
#buddypress div.pagination .pag-count {
	float: left;
	/**margin-left: 10px;*/
	font-size: 85%;
	letter-spacing: .3px;
}
#buddypress div.pagination .pagination-links {
	float: right;
	margin-right: 10px;
}
#buddypress div.pagination .pagination-links span,
#buddypress div.pagination .pagination-links a {
	font-size: 90%;
	padding: 0 5px;
}
#buddypress div.pagination .pagination-links a:hover {
	font-weight: bold;
}
#buddypress noscript div.pagination {
	margin-bottom: 15px;
}
#buddypress #nav-above {
	display: none;
}
#buddypress .paged #nav-above {
	display: block;
}
/*--------------------------------------------------------------
2 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Images
--------------------------------------------------------------*/
#buddypress img.wp-smiley {
	border: none !important;
	clear: none !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
#buddypress .clear {
	clear: left;
}

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Activity
--------------------------------------------------------------*/
#buddypress #activity-stream {
	margin-top: -5px;
}

#buddypress #activity-stream p {
	margin: 5px 0;
}

#buddypress #item-body form#whats-new-form {
	margin: 0;
	padding: 0;
}
#buddypress .home-page form#whats-new-form {
	border-bottom: none;
	padding-bottom: 0;
}
#buddypress form#whats-new-form #whats-new-avatar {
	float: left;
}
#buddypress form#whats-new-form #whats-new-content {
	margin-left: 55px;
	padding: 0 0 20px 20px;
}
#buddypress form#whats-new-form p.activity-greeting {
	line-height: 0.5em;
	margin-bottom: 15px;
	margin-left: 75px;
}
#buddypress form#whats-new-form textarea {
	background: #fff;
	color: #555;
	font-family: inherit;
	font-size: 90%;
	height: 20px;
	padding: 6px;
	width: 100%;
}
#buddypress form#whats-new-form textarea.bp-suggestions {
	max-width: 1013px!important;
}
body.no-js #buddypress form#whats-new-form textarea {
	height: 50px;
}
#buddypress form#whats-new-form #whats-new-options select {
	max-width: 200px;
	margin-top: 12px;
}
#buddypress form#whats-new-form #whats-new-submit {
	float: right;
	margin-top: 12px;
}
#buddypress #whats-new-options {
	overflow: auto;
	height: 0;
	margin-top: -12px;
}
body.no-js #buddypress #whats-new-options {
	height: auto;
}
#buddypress #whats-new:focus {
	border-color: rgba(31, 179, 221, 0.9) !important;
	outline-color: rgba(31, 179, 221, 0.9);
}
.buddypress-container {
	margin: 0px -11px;
}

/*--------------------------------------------------------------
3.1.1 - Activity Listing
--------------------------------------------------------------*/
#buddypress ul.activity-list li {
	overflow: hidden;
	padding: 15px 0 0;
	list-style: none;
}
#buddypress .activity-list .activity-avatar {
	float: left;
}
#buddypress ul.item-list.activity-list li.has-comments {
	padding-bottom: 15px;
}

body.activity-permalink #buddypress ul.activity-list li.has-comments {
	padding-bottom: 0;
}
#buddypress .activity-list li.mini {
	font-size: 80%;
	position: relative;
}
#buddypress .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: 20px;
	margin-left: 30px;
	width: 20px;
}
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
	height: auto;
	margin-left: 0;
	width: auto;
}
body.activity-permalink #buddypress .activity-list > li:first-child {
	padding-top: 0;
}
#buddypress .activity-list li .activity-content {
	position: relative;
}
#buddypress .activity-list li.mini .activity-content p {
	margin: 0;
}
#buddypress .activity-list li.mini .activity-comments {
	clear: both;
	font-size: 120%;
}
body.activity-permalink #buddypress li.mini .activity-meta {
	margin-top: 4px;
}
#buddypress .activity-list li .activity-inreplyto {
	color: #888;
	font-size: 80%;
}
#buddypress .activity-list li .activity-inreplyto > p {
	margin: 0;
	display: inline;
}
#buddypress .activity-list li .activity-inreplyto blockquote,
#buddypress .activity-list li .activity-inreplyto div.activity-inner {
	background: none;
	border: none;
	display: inline;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#buddypress .activity-list .activity-content {
	margin: 0 0 0 70px;
}
body.activity-permalink #buddypress .activity-list li .activity-content {
	border: none;
	font-size: 100%;
	line-height: 150%;
	margin-left: 170px;
	margin-right: 0;
	padding: 0;
}
body.activity-permalink #buddypress .activity-list li .activity-header > p {
	margin: 0;
	padding: 5px 0 0 0;
}
#buddypress .activity-list .activity-content .activity-header,
#buddypress .activity-list .activity-content .comment-header {
	color: #888;
	line-height: 220%;
}
#buddypress .activity-header {
	margin-right: 20px;
}
#buddypress .activity-header a,
#buddypress .comment-meta a,
#buddypress .acomment-meta a {
	text-decoration: none;
}
#buddypress .activity-list .activity-content .activity-header img.avatar {
	float: none !important;
	margin: 0 5px -8px 0 !important;
}
#buddypress a.bp-secondary-action,
#buddypress span.highlight {
	font-size: 80%;
	padding: 0;
	margin-right: 5px;
	text-decoration: none;
}
#buddypress .activity-list .activity-content .activity-inner,
#buddypress .activity-list .activity-content blockquote {
	margin: 10px 10px 5px 0;
	overflow: hidden;
}
#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,
#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner {
	border-left: 2px solid #EAEAEA;
	margin-left: 5px;
	padding-left: 10px;
}
body.activity-permalink #buddypress .activity-content .activity-inner,
body.activity-permalink #buddypress .activity-content blockquote {
	margin-left: 0;
	margin-top: 5px;
}
#buddypress .activity-inner > p {
	word-wrap: break-word;
}
#buddypress .activity-inner > .activity-inner {
	margin: 0;
}
#buddypress .activity-inner > blockquote {
	margin: 0;
}
#buddypress .activity-list .activity-content img.thumbnail {
	border: 2px solid #eee;
	float: left;
	margin: 0 10px 5px 0;
}
#buddypress .activity-read-more {
	margin-left: 1em;
	white-space: nowrap;
}
#buddypress .activity-list li.load-more,
#buddypress .activity-list li.load-newest {
	background: #f0f0f0;
	font-size: 110%;
	margin: 15px 0;
	padding: 10px 15px;
	text-align: center;
}
#buddypress .activity-list li.load-more a,
#buddypress .activity-list li.load-newest a {
	color: #4D4D4D;
}


/*--------------------------------------------------------------
3.1.2 - Activity Comments
--------------------------------------------------------------*/
#buddypress div.activity-meta {
	margin: 18px 0 0;
}
body.activity-permalink #buddypress div.activity-meta {
	margin-bottom: 6px;
}
#buddypress div.activity-meta a {
	padding: 4px 8px;
}
#buddypress a.activity-time-since {
	color: #aaa;
	text-decoration: none;
}
#buddypress a.activity-time-since:hover {
	color: #888;
	text-decoration: underline;
}
#buddypress a.bp-primary-action,
#buddypress #reply-title small a {
	font-size: 80%;
	margin-right: 5px;
	text-decoration: none;
}
#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
	background: #999;
	color: #fff;
	font-size: 90%;
	margin-left: 2px;
	padding: 0 5px;
}
#buddypress a.bp-primary-action:hover span,
#buddypress #reply-title small a:hover span {
	background: #555;
	color: #fff;
}
#buddypress div.activity-comments {
	margin: 0 0 0 70px;
	overflow: hidden; /* IE fix */
	position: relative;
	width: auto;
	clear: both;
}
body.activity-permalink #buddypress div.activity-comments {
	background: none;
	margin-left: 170px;
	width: auto;
}
#buddypress div.activity-comments > ul {
	padding: 0 0 0 10px;
}
#buddypress div.activity-comments ul,
#buddypress div.activity-comments ul li {
	border: none;
	list-style: none;
}
#buddypress div.activity-comments ul {
	clear: both;
	margin: 0;
}
#buddypress div.activity-comments ul li {
	border-top: 1px solid #eee;
	padding: 10px 0 0;
}
body.activity-permalink #buddypress .activity-list li.mini .activity-comments {
	clear: none;
	margin-top: 0;
}
body.activity-permalink #buddypress div.activity-comments ul li {
	border-width: 1px;
	padding: 10px 0 0 0;
}
#buddypress div.activity-comments > ul > li:first-child {
	border-top: none;
}
#buddypress div.activity-comments ul li:last-child {
	margin-bottom: 0;
}
#buddypress div.activity-comments ul li > ul {
	margin-left: 30px;
	margin-top: 0;
	padding-left: 10px;
}
body.activity-permalink #buddypress div.activity-comments ul li > ul {
	margin-top: 10px;
}
body.activity-permalink #buddypress div.activity-comments > ul {
	padding: 0 10px 0 15px;
}
#buddypress div.activity-comments div.acomment-avatar img {
	border-width: 1px;
	float: left;
	height: 25px;
	margin-right: 10px;
	width: 25px;
}
#buddypress div.activity-comments div.acomment-content {
	font-size: 80%;
	margin: 5px 0 0 40px;
}
#buddypress div.acomment-content .time-since,
#buddypress div.acomment-content .activity-delete-link,
#buddypress div.acomment-content .comment-header {
	display: none;
}
body.activity-permalink #buddypress div.activity-comments div.acomment-content {
	font-size: 90%;
}
#buddypress div.activity-comments div.acomment-meta {
	color: #888;
	font-size: 80%;
}
#buddypress div.activity-comments form.ac-form {
	display: none;
	padding: 10px;
}
#buddypress div.activity-comments li form.ac-form {
	margin-right: 15px;
	clear: both;
}
#buddypress div.activity-comments form.root {
	margin-left: 0;
}
#buddypress div.activity-comments div#message {
	margin-top: 15px;
	margin-bottom: 0;
}
#buddypress div.activity-comments form .ac-textarea {
	background: #fff;
	border: 1px inset #ccc;
	margin-bottom: 10px;
	padding: 8px;
}
#buddypress div.activity-comments form textarea {
	border: none;
	background: transparent;
	box-shadow: none;
	outline: none;
	color: #555;
	font-family: inherit;
	font-size: 100%;
	height: 60px;
	padding: 0;
	margin: 0;
	width: 100%;
}
#buddypress div.activity-comments form input {
	margin-top: 5px;
}
#buddypress div.activity-comments form div.ac-reply-avatar {
	float: left;
}
#buddypress div.ac-reply-avatar img {
	border: 1px solid #eee;
}
#buddypress div.activity-comments form div.ac-reply-content {
	color: #888;
	margin-left: 50px;
	padding-left: 15px;
}
#buddypress div.activity-comments form div.ac-reply-content a {
	text-decoration: none;
}
#buddypress .acomment-options {
	float: left;
	margin: 5px 0 5px 40px;
}
#buddypress .acomment-options a {
	color: #999;
}
#buddypress .acomment-options a:hover {
	color: inherit;
}

/*--------------------------------------------------------------
3.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
#buddypress div.dir-search {
	float: right;
	margin: -39px 0 0 0;
}
#buddypress div.dir-search input[type=text],
#buddypress li.groups-members-search input[type=text] {
	font-size: 90%;
	padding: 1px 3px;
}

#buddypress .dir-form {
	clear: both;
}

/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
/*
#buddypress div#message {
	margin: 0 0 15px !important;
}

#buddypress #message.info {
	margin-bottom: 0;
}
*/
#buddypress div#message.updated {
	clear: both;
}
#buddypress div#message p,
#sitewide-notice p {
	font-size: 90%;
	display: block;
	padding: 10px 15px;
}
#buddypress div#message.error p {
	background-color: #fdc;
	border: 1px solid #a00;
	clear: left;
	/*color: #800;*/
	color: red;
}
#buddypress div#message.updated p {
	background-color: #efc;
	border: 1px solid #591;
	color: #250;
}
#buddypress #pass-strength-result {
	background-color: #eee;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	display: none;
	margin: 5px 5px 5px 0;
	padding: 5px;
	text-align: center;
	width: 150px;
}
#buddypress .standard-form #basic-details-section #pass-strength-result {
	width: 35%;
}
#buddypress #pass-strength-result.error,
#buddypress #pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
	display: block;
}
#buddypress #pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #fc0 !important;
	display: block;
}
#buddypress #pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
	display: block;
}
#buddypress #pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
	display: block;
}
#buddypress .standard-form#signup_form div div.error {
	background: #faa;
	color: #a00;
	margin: 0 0 10px 0;
	padding: 6px;
	width: 90%;
}
#buddypress div.accept,
#buddypress div.reject {
	float: left;
	margin-left: 10px;
}
#buddypress ul.button-nav li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
}
#buddypress ul.button-nav li.current a {
	font-weight: bold;
}
#sitewide-notice #message {
	left: 2%;
	position: fixed;
	top: 1em;
	width: 96%;
	z-index: 9999;
}
#sitewide-notice.admin-bar-on #message {
	top: 3.3em;
}
#sitewide-notice strong {
	display: block;
	margin-bottom: -1em;
}

/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
#buddypress .standard-form textarea,
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form input[type=password],
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text],
#buddypress .groups-members-search input[type=search],
#buddypress .groups-members-search input[type=text] {
	border: 1px solid #ccc;
	background: #fafafa;
	border-radius: 0;
	color: #888;
	font: inherit;
	font-size: 100%;
	padding: 6px;
}
#buddypress .standard-form select {
	padding: 3px;
}
#buddypress .standard-form input[type=password] {
	margin-bottom: 5px;
}
#buddypress .standard-form label,
#buddypress .standard-form span.label {
	display: block;
	/**font-weight: bold;**/
	margin: 15px 0 5px 0;
	width: auto;
}
#buddypress .standard-form div.checkbox label:nth-child(n+2),
#buddypress .standard-form div.radio div label {
	color: #888;
	font-size: 100%;
	font-weight: normal;
	margin: 5px 0 0 0;
}
#buddypress .standard-form#sidebar-login-form label {
	margin-top: 5px;
}
#buddypress .standard-form input[type=text] {
	width: 75%;
}
#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password] {
	padding: 4px;
	width: 95%;
}
#buddypress .standard-form #basic-details-section input[type=password],
#buddypress .standard-form #blog-details-section input#signup_blog_url {
	width: 35%;
}
#buddypress .standard-form#signup_form input[type=text],
#buddypress .standard-form#signup_form textarea,
#buddypress .form-allowed-tags,
#buddypress #commentform input[type=text],
#buddypress #commentform textarea {
	width: 90%;
}
#buddypress .standard-form#signup_form div.submit {
	float: right;
}
#buddypress div#signup-avatar img {
	margin: 0 15px 10px 0;
}
#buddypress .standard-form textarea {
	width: 75%;
	height: 120px;
}
#buddypress .standard-form textarea#message_content {
	height: 200px;
}
#buddypress .standard-form#send-reply textarea {
	width: 97.5%;
}
#buddypress .standard-form p.description {
	color: #888;
	font-size: 80%;
	margin: 5px 0;
}
#buddypress .standard-form div.submit {
	clear: both;
	padding: 15px 0 0 0;
}
#buddypress .standard-form p.submit {
	margin-bottom: 0;
	padding: 15px 0 0 0;
}
#buddypress .standard-form div.submit input {
	margin-right: 15px;
}
#buddypress .standard-form div.radio ul {
	margin: 10px 0 15px 38px;
	list-style: disc;
}
#buddypress .standard-form div.radio ul li {
	margin-bottom: 5px;
}
#buddypress .standard-form a.clear-value {
	display: block;
	margin-top: 5px;
	outline: none;
}
#buddypress .standard-form #basic-details-section,
#buddypress .standard-form #blog-details-section,
#buddypress .standard-form #profile-details-section {
	float: left;
	width: 48%;
}
#buddypress .standard-form #profile-details-section {
	float: right;
}
#buddypress .standard-form #blog-details-section {
	clear: left;
}
#buddypress .standard-form input:focus,
#buddypress .standard-form textarea:focus,
#buddypress .standard-form select:focus {
	background: #fafafa;
	color: #555;
}

#buddypress #item-body form#settings-form {
    margin-bottom: 15px;
}
#buddypress form#send-invite-form {
	margin-top: 20px;
}
#buddypress div#invite-list {
	background: #f5f5f5;
	height: 400px;
	margin: 0 0 10px;
	overflow: auto;
	padding: 5px;
	width: 160px;
}
/**
#buddypress button,
#buddypress a.button,
#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress ul.button-nav li a,
#buddypress div.generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button {
	background: #fff; /* Old browsers */
/**	border: 1px solid #ccc;
	color: #777;
	font-size: .8rem;
	cursor: pointer;
	outline: none;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
} **/
#buddypress button:hover,
#buddypress a.button:hover,
#buddypress a.button:focus,
#buddypress input[type=submit]:hover,
#buddypress input[type=button]:hover,
#buddypress input[type=reset]:hover,
#buddypress ul.button-nav li a:hover,
#buddypress ul.button-nav li.current a,
#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover {
	background: #ededed;
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}
#buddypress a.button:hover, 
#buddypress a.button:focus {
	background: #ffffff;
	color: #3299B7;
	border: 0;
	text-decoration: underline;
}
#buddypress #item-body form#avatar-upload-form {
	min-height: 90px;
}
#buddypress #item-body form#avatar-upload-form .change-avatar-container{
	height: 50px;
}
#buddypress .activity form input[type='submit'],
#buddypress #item-body form input[type='submit']{
	cursor: pointer;
	color: #ffffff;
	background: #65abcf;
	border-radius: 3px;
	text-decoration: none;
	outline: none;
	font-family: inherit;
	padding: 5px 34px;
	margin-top: 0;
	border: 1px solid #82bddb;
}
#buddypress form.standard-form .left-menu {
	float: left;
}

#buddypress form.standard-form .left-menu #invite-list ul{
	margin:1%;
	list-style: none;
}

#buddypress form.standard-form .left-menu #invite-list ul li {
	margin:0 0 0 1%;
}

#buddypress form.standard-form .main-column {
	margin-left: 190px;
}

#buddypress form.standard-form .main-column ul#friend-list {
	clear:none;
	float: left;
}

#buddypress form.standard-form .main-column ul#friend-list h4 {
	clear:none;
}

/* Overrides for embedded WP editors */
#buddypress .wp-editor-wrap a.button,
#buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=submit],
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset] {
	padding: 0 10px 1px;
}
/*--------------------------------------------------------------
3.6 - Ajax Loading
--------------------------------------------------------------*/
#buddypress a.loading,
#buddypress input.loading {
	-webkit-animation: loader-pulsate .5s infinite ease-in-out alternate;
	-moz-animation: loader-pulsate .5s infinite ease-in-out alternate;
	border-color: #aaa;
}
@-webkit-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-webkit-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}
	to {
		border-color: #ccc;
		-webkit-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}
@-moz-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-moz-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}
	to {
		border-color: #ccc;
		-moz-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}

#buddypress a.loading:hover,
#buddypress input.loading:hover {
    color: #777;
}
#buddypress input[type="submit"].pending,
#buddypress input[type="button"].pending,
#buddypress input[type="reset"].pending,
#buddypress input[type="submit"].disabled,
#buddypress input[type="button"].disabled,
#buddypress input[type="reset"].disabled,
#buddypress button.pending,
#buddypress button.disabled,
#buddypress div.pending a,
#buddypress a.disabled {
    border-color: #eee;
    color: #bbb;
    cursor: default;
}
#buddypress input[type="submit"]:hover.pending,
#buddypress input[type="button"]:hover.pending,
#buddypress input[type="reset"]:hover.pending,
#buddypress input[type="submit"]:hover.disabled,
#buddypress input[type="button"]:hover.disabled,
#buddypress input[type="reset"]:hover.disabled,
#buddypress button.pending:hover,
#buddypress button.disabled:hover,
#buddypress div.pending a:hover,
#buddypress a.disabled:hover {
	border-color: #eee;
    color: #bbb;
}

/*--------------------------------------------------------------
3.7 - Forums, Tables and Topics
--------------------------------------------------------------*/
#buddypress ul#topic-post-list {
	margin: 0;
	width: auto;
}
#buddypress ul#topic-post-list li {
	padding: 15px;
	position: relative;
}
#buddypress ul#topic-post-list li.alt {
	background: #f5f5f5;
}
#buddypress ul#topic-post-list li div.poster-meta {
	color: #888;
	margin-bottom: 10px;
}
#buddypress ul#topic-post-list li div.post-content {
	margin-left: 54px;
}
#buddypress div.topic-tags {
	font-size: 80%;
}
#buddypress div.admin-links {
	color: #888;
	font-size: 80%;
	position: absolute;
	top: 15px;
	right: 25px;
}
#buddypress div#topic-meta {
	margin: 0;
	padding: 5px 19px 30px;
	position: relative;
}
#buddypress div#topic-meta div.admin-links {
	right: 19px;
	top: -36px;
}
#buddypress div#topic-meta h3 {
	margin: 5px 0;
}
#buddypress div#new-topic-post {
	display: none;
	margin: 20px 0 0 0;
	padding: 1px 0 0 0;
}
#buddypress table.notifications,
#buddypress table.notifications-settings,
#buddypress table.profile-settings,
#buddypress table.profile-fields,
#buddypress table.wp-profile-fields,
#buddypress table.messages-notices,
#buddypress table.forum {
	width: 100%;
}
#buddypress table.notifications thead tr,
#buddypress table.notifications-settings thead tr,
#buddypress table.profile-settings thead tr,
#buddypress table.profile-fields thead tr,
#buddypress table.wp-profile-fields thead tr,
#buddypress table.messages-notices thead tr,
#buddypress table.forum thead tr {
	background: #eaeaea;
}
#buddypress table#message-threads tr {
	clear: both;
	margin: 0;
	width: auto;
	border: 1px solid #cbdbe3 !important;
}
#buddypress table.profile-fields {
	margin-bottom: 20px;
}
#buddypress table.profile-fields:last-child {
	margin-bottom: 0;
}
#buddypress table.profile-fields p {
	margin: 0;
}
#buddypress table.profile-fields p:last-child {
	margin-top: 0;
}
#buddypress table.notifications tr td,
#buddypress table.notifications-settings tr td,
#buddypress table.profile-settings tr td,
#buddypress table.profile-fields tr td,
#buddypress table.wp-profile-fields tr td,
#buddypress table.messages-notices tr td,
#buddypress table.forum tr td,
#buddypress table.notifications tr th,
#buddypress table.notifications-settings tr th,
#buddypress table.profile-fields tr th,
#buddypress table.wp-profile-fields tr th,
#buddypress table.messages-notices tr th,
#buddypress table.forum tr th {
	padding: 8px;
	vertical-align: middle;
}
#buddypress table.notifications tr td.label,
#buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label,
#buddypress table.wp-profile-fields tr td.label,
#buddypress table.messages-notices tr td.label,
#buddypress table.forum tr td.label {
	border-right: 1px solid #eaeaea;
	font-weight: bold;
	width: 25%;
}
#buddypress table tr td.thread-info p {
	margin: 0;
}
#buddypress table tr td.thread-info p.thread-excerpt {
	color: #888;
	font-size: 14px; 
	margin-top: 0px;

}
#buddypress table.forum td {
	text-align: center;
}
#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.forum tr.alt td {
	/**background: #e8f0f6;**/
	background: #F9F9F9;
	border-top: 1px solid #cedae5;
	border-bottom: 1px solid #cedae5;
}
/** Removed hover in table messages
#buddypress table.notifications tr.alt td:hover,
#buddypress table.notifications-settings tr.alt td:hover,
#buddypress table.profile-settings tr.alt td:hover,
#buddypress table.profile-fields tr.alt td:hover,
#buddypress table.wp-profile-fields tr.alt td:hover,
#buddypress table.forum tr.alt:hover,
#buddypress table#message-threads tr:hover,
#buddypress table.messages-notices tr.alt:hover,
#buddypress table#message-threads tr.unread:hover {
	background: #e8f0f6;
}**/

#buddypress table.notification-settings {
	margin-bottom: 20px;
	text-align: left;
}
#buddypress #groups-notification-settings {
	margin-bottom: 0;
}
#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child {
	display: none;
}
#buddypress table.notification-settings th.title,
#buddypress table.profile-settings th.title {
	width: 80%;
	padding: 10px
}
#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no {
	text-align: center;
	width: 40px;
}
#buddypress table.forum {
	margin: 0;
	width: auto;
	clear: both;
}
#buddypress table.forum tr.sticky td {
	font-size: 110%;
	background: #fff9db;
	border-top: 1px solid #ffe8c4;
	border-bottom: 1px solid #ffe8c4;
}
#buddypress table.forum tr.closed td.td-title {
	padding-left: 35px;
}
#buddypress table.forum td p.topic-text {
	color: #888;
	font-size: 100%;
}
#buddypress table.forum tr > td:first-child,
#buddypress table.forum tr > th:first-child {
	padding-left: 15px;
}
#buddypress table.forum tr > td:last-child,
#buddypress table.forum tr > th:last-child {
	padding-right: 15px;
}
#buddypress table.forum tr th#th-title,
#buddypress table.forum tr th#th-poster,
#buddypress table.forum tr th#th-group,
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group,
#buddypress table.forum td.td-title {
	text-align: left;
}
#buddypress table.forum tr td.td-title a.topic-title {
	font-size: 110%;
}
#buddypress table.forum td.td-freshness {
	white-space: nowrap;
}
#buddypress table.forum td.td-freshness span.time-since {
	font-size: 80%;
	color: #888;
}
#buddypress table.forum td img.avatar {
	float: none;
	margin: 0 5px -8px 0;
}
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group {
	min-width: 140px;
}
#buddypress table.forum th#th-title {
	width: 80%;
}
#buddypress table.forum th#th-freshness {
	width: 25%;
}
#buddypress table.forum th#th-postcount {
	width: 15%;
}
#buddypress table.forum p.topic-meta {
	font-size: 80%;
	margin: 5px 0 0 0;
}

/*-------------------------------------------------------------------------
3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
-------------------------------------------------------------------------*/
#buddypress .item-body {
	margin: 20px 0;
}
#buddypress span.activity {
	display: inline-block;
	font-size: 14px;
	opacity: 0.8;
	padding: 0;
}
#buddypress span.user-nicename {
	color: #777;
	display: inline-block;
	font-size: 120%;
	font-weight: bold;
}
#buddypress div#message p,
#sitewide-notice p {
	font-weight: normal;
	margin-top: 3px;
	text-decoration: none;
	background-color: #ffd;
	border: 1px solid #cb2;
	color: #440;
}
#buddypress div#item-header {
	overflow: hidden;
}
#buddypress div#item-header div#item-header-content {
    float: left;
    margin-left: 0;
    display: inline-block;
}
#buddypress div#item-header h2 {
	line-height: 120%;
	margin: 0 0 15px 0;
}
#buddypress div#item-header h2 a {
	color: #777;
	text-decoration: none;
}
#buddypress div#item-header-avatar {
    display: block;
    width: auto!important;
    height: auto!important;
    margin: 0 auto;
}

#buddypress div#item-header img.avatar {
	display: block;
    width: auto!important;
    height: auto!important;
    float: left;
    margin: 0 15px 19px 0;
}

#buddypress div#item-header h2 {
	margin-bottom: 5px;
}
#buddypress div#item-header h2 span.highlight {
	font-size: 60%;
	font-weight: normal;
	line-height: 170%;
	vertical-align: middle;
	display: inline-block;
}
#buddypress div#item-header h2 span.highlight span {
	background: #a1dcfa;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: 80%;
	margin-bottom: 2px;
	padding: 1px 4px;
	position: relative;
	right: -2px;
	top: -2px;
	vertical-align: middle;
}
#buddypress div#item-header div#item-meta {
	font-size: 80%;
	color: #aaa;
	overflow: hidden;
	margin: 15px 0 5px 0;
	padding-bottom: 10px;
}
#buddypress div#item-header div#item-actions {
	float: right;
	margin: 0 0 15px 15px;
	text-align: right;
	width: 20%;
}
#buddypress div#item-header div#item-actions h3 {
	margin: 0 0 5px 0;
}
#buddypress div#item-header ul {
	overflow: hidden;
}
#buddypress div#item-header ul h5,
#buddypress div#item-header ul hr {
	display: none;
}

#buddypress div#item-header ul li a{
border-right: 2px solid #ccc;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
}
#buddypress #item-body .item-list-tabs ul li a:after {
	content: "|";
	margin-left: 19px;
	color: black;
}
#buddypress #item-body .item-list-tabs ul li:first-child {
	margin-left: -8px;
}
 
#buddypress #item-body .item-list-tabs ul li:last-child a:after,
#buddypress #item-body .item-list-tabs ul li#read-personal-li a:after,
#buddypress #item-body .item-list-tabs ul li#activity-favs-personal-li a:after {
	content: "";
 }

#buddypress div#item-header ul li:last-child a {
	border-right: none;
}
#buddypress #item-body .item-list-tabs ul li a {
	text-transform: lowercase;
	padding: 0px 9px;
	font-size: 13px;
	letter-spacing: .3px;
}
#buddypress #item-body .item-list-tabs ul li a::first-letter {
	text-transform: uppercase;
}

/* #buddypress #item-body .item-list-tabs ul {
	margin-top: 20px;
} */

#buddypress div#item-header ul li {
	float: left;
	list-style: none;
}
#buddypress div#item-header ul img.avatar,
#buddypress div#item-header ul.avatars img.avatar {
	height: 30px;
	margin: 2px;
	width: 30px;
}
#buddypress div#item-header div.generic-button,
#buddypress div#item-header a.button {
	float: left;
	margin: 10px 10px 0 0;
}
#buddypress div#item-header div#message.info {
	line-height: 80%;
}
#buddypress ul.item-list {
	border-top: 1px solid #eaeaea;
	width: 100%;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
}
body.activity-permalink #buddypress ul.item-list,
body.activity-permalink #buddypress ul.item-list li.activity-item {
	border: none;
}
#buddypress ul.item-list li {
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0;
	margin: 0;
	position: relative;
	list-style: none;
}
#buddypress ul.single-line li {
	border: none;
}
#buddypress ul.item-list li img.avatar {
	float: left;
	margin: 0 10px 0 0;
}
#buddypress ul.item-list li div.item-title,
#buddypress ul.item-list li h4 {
	font-weight: normal;
	font-size: 90%;
	margin: 0;
	width: 75%;
}
#buddypress ul.item-list li div.item-title span {
	color: #999;
	font-size: 80%;
}
#buddypress ul.item-list li div.item-desc {
	color: #888;
	font-size: 80%;
	margin: 10px 0 0 60px;
	width: 50%;
}
#buddypress ul.item-list li div.action {
	position: absolute;
	top: 15px;
	right: 0;
	text-align: right;
}
#buddypress ul.item-list li div.meta {
	color: #888;
	font-size: 80%;
	margin-top: 10px;
}
#buddypress ul.item-list li h5 span.small {
	float: right;
	font-size: 80%;
	font-weight: normal;
}
#buddypress div.item-list-tabs {
	background: transparent;
	clear: left;
	overflow: hidden;
}

#buddypress div.item-list-tabs ul {
	margin: 0;
	padding: 0;
}
#buddypress div.item-list-tabs ul li {
	float: left;
	margin: 0;
	list-style: none;
}
#buddypress div.item-list-tabs#subnav ul li {
	margin-top: 0;
}
#buddypress div.item-list-tabs ul li.last {
	float: right;
	margin: 7px 0 0;
}
#buddypress div.item-list-tabs#subnav ul li.last {
	margin-top: 4px;
	width: 22%;
}
#buddypress div.item-list-tabs ul li.last select {
	max-width: 175px;
}
#buddypress div.item-list-tabs ul li a,
#buddypress div.item-list-tabs ul li span {
	display: block;
	padding: 0px 10px;
	text-decoration: none;
}
#buddypress div.item-list-tabs ul li a span {
	/** background: #eee;
	border-radius: 50%;
	border: 1px solid #ccc;
	color: #999;
	margin-left: 2px;
	font-size: 70%;**/
	display: inline;	
	padding: 3px 6px;
	text-align: center;
	vertical-align: middle;
}
#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li.current a {
	/**background-color: #eee;
	color: #555;**/
	color: #5093b7;
	opacity: .8;
	font-weight: bold;
}
#buddypress div.item-list-tabs ul li.selected a span,
#buddypress div.item-list-tabs ul li.current a span {
	background-color: #eee;
}
#buddypress div.item-list-tabs ul li.selected a span,
#buddypress div.item-list-tabs ul li.current a span {
	background-color: #fff;
}
#buddypress div#item-nav ul li.loading a {
	background-position: 88% 50%;
}
#buddypress div.item-list-tabs#object-nav {
	margin-top: 0;
}
#buddypress div.item-list-tabs#subnav {
	background: transparent;
	margin: 10px 0 -20px 0px;
	overflow: inherit;
	min-height: 50px;

}
#buddypress #admins-list li,
#buddypress #mods-list li,
#buddypress #members-list li {
	overflow: auto;
	list-style: none;
}


/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/
#buddypress table#message-threads tr.unread {
	border: 1px solid #cbdbe3 !important;
	background: #e8f0f6;
}

#buddypress table#message-threads tr.unread td {
	/*background: #e8f0f6;
	border-top: 1px solid #ffe8c4;
	border-bottom: 1px solid #ffe8c4;
	font-weight: bold;*/
}
#buddypress li span.unread-count,
#buddypress tr.unread span.unread-count {
	background: #dd0000;
	color: #fff;
	font-weight: bold;
	border-radius: 10px;
	padding: 2px 6px 2px 7px;
}
#buddypress div.item-list-tabs ul li a span.unread-count {
	padding: 1px 6px;
	color: #fff;
}
#buddypress div.messages-options-nav {
	/**background: #eee; text-align: right; */
	font-size: 80%;
	margin: 0;
	padding: 5px 0px;
	width: 53%;
	height: 100px;
	letter-spacing: .1px;
}

#buddypress div.messages-options-nav #delete_sentbox_messages:hover, #buddypress #search-message-form #messages_search_submit:hover {
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	  filter: alpha(opacity=80);
	  opacity: 0.8;
	  text-decoration: none;
}

#buddypress div.messages-options-nav #delete_sentbox_messages:focus { text-decoration: none;  }
#buddypress div.messages-options-nav #delete_sentbox_messages {
	  margin-top: -8px;
	  position: absolute;
	  background-color: rgb(80, 147, 183);
	  color: #fff;
	  padding: 7px 98px;
	  border-radius: 5px;
	  margin-left: -5px;
}

#buddypress div.messages-options-nav  .sbHolder {   margin-bottom: 13px;  }
#buddypress div.messages-options-nav a {  color: #bbb; }
#buddypress div.messages-options-nav a:hover {  color: #3299B7; }
#buddypress div.messages-options-nav a#delete_sentbox_messages, #buddypress div.messages-options-nav a#mark_as_read,#buddypress div.messages-options-nav a#mark_as_unread,#buddypress div.messages-options-nav a#delete_inbox_messages{  letter-spacing: .5px; }

#buddypress div.messages-options-nav a#mark_as_read { margin-left: -5px; }

#buddypress div.messages-options-nav a#mark_as_read:hover,
#buddypress div.messages-options-nav a#mark_as_read:focus,
#buddypress div.messages-options-nav a#mark_as_unread:hover,
#buddypress div.messages-options-nav a#mark_as_unread:focus,
#buddypress div.messages-options-nav a#delete_inbox_messages:hover ,
#buddypress div.messages-options-nav a#delete_inbox_messages:focus  {
	border-bottom: 1px solid #3299B7;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-decoration: none;
	color: #3299B7;
}
#buddypress #msg.messages-options-nav a#delete_inbox_messages:focus{
	border: 0;
	color: #bbbbbb;
}
#buddypress div#message-thread div.message-box {
	margin: 0;
	padding: 15px;
}
#buddypress div#message-thread div.alt {
	background: #f4f4f4;
}
#buddypress div#message-thread p#message-recipients {
	margin: 10px 0 20px 0;
}
#buddypress div#message-thread img.avatar {
	float: left;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
#buddypress div#message-thread strong {
	font-size: 100%;
	margin: 0;
}
#buddypress div#message-thread strong a {
	text-decoration: none;
}
#buddypress div#message-thread strong span.activity {
	margin-top: 4px;
}
#buddypress div#message-thread div.message-metadata {
	overflow: hidden;
}
#buddypress div#message-thread div.message-content {
	margin-left: 45px;
}
#buddypress div#message-thread div.message-options {
	text-align: right;
}
#buddypress #message-threads img.avatar {
	max-width: none;
	border: 1px solid #ccc;
	padding: 1px;
}
#buddypress div.message-search {
	float: right;
	width: 26%;
}

/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/

#buddypress div.profile h4 {
	margin-bottom: auto;
	margin-top: 15px;
}
#buddypress #profile-edit-form ul.button-nav {
	margin-top: 15px;
}
body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
	display: none;
}
#buddypress .field-visibility-settings {
	display: none;
	margin-top: 10px;
}
	body.no-js #buddypress .field-visibility-settings {
		display: block;
	}
#buddypress .current-visibility-level {
	font-weight: bold;
	font-style: normal;
}
#buddypress .field-visibility-settings,
#buddypress .field-visibility-settings-toggle,
#buddypress .field-visibility-settings-notoggle {
	color: #888;
}
#buddypress .field-visibility-settings-toggle a,
#buddypress .field-visibility-settings a {
	font-size: 80%;
}
body.register #buddypress div.page ul {
	list-style: none;
}
#buddypress .standard-form .field-visibility-settings label {
	margin: 0;
	font-weight: normal;
}
#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
	font-style: italic;
}
#buddypress .field-visibility-settings .radio {
	list-style: none;
	margin-bottom: 0;
}
#buddypress .field-visibility select {
	margin: 0;
}

/*--------------------------------------------------------------
3.11 - Widgets
--------------------------------------------------------------*/

.widget.buddypress div.item-avatar img.avatar {
	float: left;
	margin: 0 10px 15px 0;
}

.widget.buddypress span.activity {
	display: inline-block;
	font-size: 80%;
	opacity: 0.8;
	padding: 0;
}

.widget.buddypress div.item-options {
	font-size: 90%;
	margin: 0 0 1em 0;
	padding: 1em 0;
}

.widget.buddypress div.item{
	margin:0 0 1em 0;
}

.widget.buddypress div.item-meta,
.widget.buddypress div.item-content {
	font-size: 11px;
	margin-left: 38px;
}

.widget.buddypress ul.item-list img.avatar {
	height: 20px;
	margin-right: 10px;
	width: 20px;
}
.widget.buddypress div.item-avatar img {
	height: 40px;
	margin: 1px;
	width: 40px;
}

.widget.buddypress div.avatar-block{
	overflow: hidden;
}

.widget.buddypress #bp-login-widget-form label {
	display: block;
	margin: 1rem 0 .5rem;
}

.widget.buddypress #bp-login-widget-form #bp-login-widget-submit {
	margin-right: 10px;
}

.widget.buddypress .bp-login-widget-user-avatar {
	float: left;
	width: 60px;
}

.widget.buddypress .bp-login-widget-user-links > div {
	padding-left: 60px;
}

.widget.buddypress .bp-login-widget-user-links > div {
	margin-bottom: .5rem;
}

.widget.buddypress .bp-login-widget-user-links > div.bp-login-widget-user-link a {
	font-weight: bold;
}

/*--------------------------------------------------------------
3.12  - Overide Dropdown Styles Jayvee 04-20-14
--------------------------------------------------------------*/
#activity-filter-select .sbHolder, 
#members-order-select .sbHolder,
#groups-order-select .sbHolder {
	z-index: 9999;
}
#activity-filter-select .sbHolder .sbOptions li, 
#members-order-select .sbHolder .sbOptions li, 
#groups-order-select .sbHolder .sbOptions li{
	margin: 0;
	float: none;	
}
#activity-filter-select .sbHolder .sbOptions li:first-child, 
#members-order-select .sbHolder .sbOptions li:first-child,
#groups-order-select .sbHolder .sbOptions li:first-child {
	margin: 0!important;
}
#activity-filter-select .sbHolder .sbOptions li a,
#members-order-select .sbHolder .sbOptions li a,
#groups-order-select .sbHolder .sbOptions li a {
	margin: 0;
	padding: 7px 0 7px 9px!important;
	text-transform: lowercase!important;
	letter-spacing: 0!important;
}
#activity-filter-select .sbHolder .sbOptions li a:first-letter, 
#activity-filter-select .sbHolder .sbSelector:first-letter,
#members-order-select .sbHolder .sbOptions li a:first-letter, 
#members-order-select .sbHolder .sbSelector:first-letter, 
#groups-order-select .sbHolder .sbOptions li a:first-letter, 
#groups-order-select .sbHolder .sbSelector:first-letter {
	text-transform: capitalize!important;
}

#activity-filter-select .sbHolder .sbOptions li:first-child {
	display: none;
}
#activity-filter-select .sbHolder .sbSelector, 
#members-order-select .sbHolder .sbSelector, 
#groups-order-select .sbHolder .sbSelector{
	letter-spacing: 0!important;
	padding-left: 0px!important;
	text-transform: capitalize!important;
}

/*-----Overrides and modifications Mae---------*/

#page-wrapper .content-section .page-content {  padding: 18px 25px 0px 25px; }
#buddypress div.item-list-tabs ul li a { padding: 0px 23px; }
#buddypress div.item-list-tabs ul li a span:before {	content: "("; }
#buddypress div.item-list-tabs ul li a span:after { content: ")"; }
#buddypress #search-message-form #messages_search_submit { background: #5093b7;  color: #fff;   padding: 6px 9px; }
#buddypress #search-message-form .input-append .btn { border-radius: 0 6px 6px 0; }
#buddypress #search-message-form .form-control {width: 78% !important;	font-size: 13px; }
#buddypress #search-message-form {   margin-right: -5px; }
#buddypress #notifications-sort-order .sbHolder { position: relative; }
#buddypress input#send-to-input { width: 100% !important; }
#buddypress #send_message_form ul.acfb-holder li { width: 100% !important; }
#buddypress form#send_message_form #send, 
#buddypress form.standard-form [name='send'] { 
	border-radius: 2px; 
	background: #5093b7; 
	border: none; 
	padding: 5px 14px; 
	color: #fff; 
	letter-spacing: 0.9px; 
	margin-bottom: 90px; 
}
#buddypress form#send_message_form textarea {   height: 150px; max-width: 400px; }
#buddypress form#send_message_form .form-group .input-control-checkbox { margin-bottom: -15px; }
#buddypress form#send_message_form .subj { margin-bottom: 5px; }
#buddypress form#send_message_form .chkbx { margin-bottom: 13px; }
#buddypress form#send_message_form .txtarea { margin-bottom: 22px; }
#buddypress form#send_message_form .first-input { margin-top: 13px; margin-bottom: -1px; }
#buddypress form#send_message_form .form-group label { color: black; margin-bottom: 7px; }
#buddypress form#send_message_form {  border-top: 1px solid #ccc; width: 37%; margin-top: -15px; }
#buddypress #item-body div#message p { letter-spacing: .5px; background: transparent !important; border: 0 !important; margin: 0 !important; padding: 0 !important; font-size: 120% !important; padding-bottom: 15px !important;}
#body-wrapper.sentbox #buddypress #item-body div#message.error p,
#body-wrapper.inbox #buddypress #item-body div#message.error p { display: none; }
#buddypress #msg .sbOptions li:first-child {display: none;}
#buddypress  table#message-threads td.thread-options input[type=checkbox]:not(old) + label { line-height:21px; }
#buddypress .messages div#message { margin-top: -78px !important; position: absolute; }
#buddypress .no-msg {  padding: 0;  margin-bottom: 20px!important; }

.f-bottom { margin-bottom: 25px; }
table.profile-fields td.label { color: #000; border: none !important;}
table.profile-fields td.label label.base-label{  padding: 0;
    margin: 10px 10px !important;
    font-size: 1.1em;
    letter-spacing: 0.7px; }
	
#buddypress #item-header .msgs-menu  {
    margin-top: 0px !important;
    width: 100%;
    padding-left: 87px;
    margin-bottom: 19px;
}
form.msgs-search div.input-append { margin-right: -34px; }

@media only screen and (max-width: 991px ){
	#buddypress #item-header .msgs-menu  {
	margin-top: -40px !important;
    width: 100%;
    left: -80px;
    font-size: 12px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
	}
	
	form.msgs-search div.input-append {  margin-right: 0px;  }
	#buddypress form#send_message_form { width: 100%; }
}
@media only screen and (max-width: 730px ){
	#buddypress #item-body .item-list-tabs ul li:first-child { margin-left: -15px;	}
	#buddypress #item-body li#compose-personal-li a#compose,  #buddypress #item-body li#sentbox-personal-li a#sentbox {	margin-left: -20px; }
	#buddypress #search-message-form .form-control { font-size: 11px; }
	#buddypress #item-body #search-message-form .form-control {  font-size: 11px; height: 26px; }
	#buddypress #item-body #search-message-form #messages_search_submit {  padding: 5px 8px; font-size: 10px; }
}

@media only screen and (max-width: 690px ){
	#buddypress #item-header .msgs-menu  {  padding-left: 10px;  }
}

@media only screen and (max-width: 600px ){
	#buddypress #item-body li#compose-personal-li a#compose,  #buddypress #item-body li#sentbox-personal-li a#sentbox { margin-left: -15px; }
	#buddypress #item-body .item-list-tabs ul li a { font-size: 11px; }
	#buddypress div.message-search { width: 36%; }
}

@media only screen and (max-width: 540px ){
	#buddypress #item-header .msgs-menu  {  padding-left: 35px; }	
	#buddypress #search-message-form .form-control {
		width: 78% !important;
		font-size: 12px;
		margin-left: -20px;
	}
}
@media only screen and (max-width: 475px ){
	#buddypress #item-body div.item-list-tabs ul li a {
		padding: 0 5px !important;
	}
	#buddypress #item-body .item-list-tabs ul li a:after {
		margin-left: 10px;
	}
	#buddypress div.item-list-tabs#subnav {
		min-height: 20px;
	}
}
/*-----Overrides and modifications---------*/

/*--------------------------------------------------------------
4.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.1 - Smartphones - landscape
--------------------------------------------------------------*/
@media only screen and (max-width: 480px ){
	#buddypress div.dir-search {
		float: right;
		margin-top: -50px;
		text-align: right;
	}
	#buddypress div.dir-search input[type="text"] {
		margin-bottom: 1em;
		width: 50%;
	}
	a.bp-title-button {
		margin-left: 10px;
	}
	#buddypress form.standard-form .main-column div.action{
		position: relative;
		margin-bottom:1em;
	}
	#buddypress form.standard-form .main-column ul#friend-list h4{
		width:100%;
	}
}

/*--------------------------------------------------------------
4.2 - Smartphones - portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
	#buddypress div.dir-search {
		clear: left;
		float: left;
		margin-top: 0;
		text-align: left;
	}
	#buddypress li#groups-order-select {
		clear: left;
		float: left;
	}
	#buddypress ul.item-list li div.action {
		clear: left;
		float: left;
		margin-top: 0;
		margin-left: 70px;
		position: relative;
		top: 0;
		right: 0;
		text-align: left;
	}
	#buddypress ul.item-list li div.item-desc {
		clear: left;
		float: left;
		margin: 10px 0 0;
		width: auto;
	}
	#buddypress li div.item {
		margin-left: 70px;
		width: auto;
	}
	#buddypress ul.item-list li div.meta {
		margin-top: 0;
	}
	#buddypress .item-desc p {
		margin: 0 0 10px;
	}
	#buddypress div.pagination .pag-count {
		margin-left: 0;
	}
}

/*--------------------------------------------------------------
4.2 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
@media only screen and (max-width: 240px) {
	#buddypress div.dir-search {
		float: left;
		margin: 0;
	}
	#buddypress div.dir-search input[type="text"] {
		width: 50%;
	}
	#buddypress li#groups-order-select {
		float: left;
	}
	#buddypress ul.item-list li img.avatar {
		width: 30px;
		height: auto;
	}
	#buddypress ul.item-list li div.action,
	#buddypress li div.item{
		margin-left: 45px;
	}
	h1 a.bp-title-button {
		clear: left;
		float: left;
		margin: 10px 0 20px;
	}
}

/*---Added Media Queries----*/

@media (min-width: 992px) {
	.col-md-offset-2 {
	  margin-left: 10.666667% !important;
	}
}
@media (max-width: 1318px) {
	.col-md-offset-2 {
	  margin-left: 11.666667% !important;
	}
}
@media (min-width: 1200px) {
	.row {
		margin-left: -15px !important;
	}
}
@media (max-width: 1325px) {
	#buddypress div.item-list-tabs ul li a {
		 padding: 0 18px !important;
	}
}
@media (max-width: 1320px) {
	#buddypress div.item-list-tabs ul li a {
		 padding: 0 15px !important;
	}
}

/*BBPRESS.min CSS COPIED*/
#bbpress-forums hr{margin:0 0 24px 0}#bbpress-forums{background:transparent;clear:both;margin-bottom:20px;overflow:hidden;font-size:12px}#bbpress-forums div.even,#bbpress-forums ul.even{background-color:#fff}#bbpress-forums div.odd,#bbpress-forums ul.odd{background-color:#fbfbfb}body.reply-edit .reply{float:none}#bbpress-forums div.reply{height:auto;width:100%}#bbpress-forums div.bbp-forum-header,#bbpress-forums div.bbp-topic-header,#bbpress-forums div.bbp-reply-header{background-color:#f4f4f4}#bbpress-forums .status-trash.even,#bbpress-forums .status-spam.even{background-color:#fee}#bbpress-forums .status-trash.odd,#bbpress-forums .status-spam.odd{background-color:#fdd}#bbpress-forums .status-closed,#bbpress-forums .status-closed a{color:#ccc}#bbpress-forums ul{background:0;list-style:none;margin:0;padding:0}#bbpress-forums ul.bbp-threaded-replies{margin-left:50px}#bbpress-forums li{background:0;margin:0;list-style:none}#bbpress-forums ul.bbp-lead-topic,#bbpress-forums ul.bbp-topics,#bbpress-forums ul.bbp-forums,#bbpress-forums ul.bbp-replies,#bbpress-forums ul.bbp-search-results{font-size:12px;overflow:hidden;border:1px solid #eee;margin-bottom:20px;clear:both}#bbpress-forums li.bbp-header,#bbpress-forums li.bbp-body,#bbpress-forums li.bbp-footer{clear:both}#bbpress-forums li.bbp-header,#bbpress-forums li.bbp-footer{background:#f3f3f3;border-top:1px solid #eee;font-weight:bold;padding:8px;text-align:center}#bbpress-forums li.bbp-header{background:#eaeaea}#bbpress-forums li.bbp-header ul{overflow:hidden}#bbpress-forums .bbp-forums-list{margin:0 0 0 5px;padding-left:15px;border-left:1px solid #ddd}#bbpress-forums .bbp-forums-list li{display:inline;font-size:11px}#bbpress-forums li.bbp-footer p{margin:0;line-height:1em}li.bbp-forum-info,li.bbp-topic-title{float:left;text-align:left;width:55%}li.bbp-forum-topic-count,li.bbp-topic-voice-count,li.bbp-forum-reply-count,li.bbp-topic-reply-count{float:left;text-align:center;width:10%}li.bbp-forum-freshness,li.bbp-topic-freshness{text-align:center;float:left;width:22%}#bbpress-forums li.bbp-body ul.forum,#bbpress-forums li.bbp-body ul.topic{border-top:1px solid #eee;overflow:hidden;padding:8px}li.bbp-header div.bbp-topic-content span#subscription-toggle,li.bbp-header div.bbp-topic-content span#favorite-toggle,li.bbp-header div.bbp-reply-content span#subscription-toggle,li.bbp-header div.bbp-reply-content span#favorite-toggle{float:right}#bbpress-forums div.bbp-forum-title h3,#bbpress-forums div.bbp-topic-title h3,#bbpress-forums div.bbp-reply-title h3{background:0;border:0;font-size:16px;line-height:1em;margin:8px 0;padding:0;text-transform:none}#bbpress-forums div.bbp-forum-author,#bbpress-forums div.bbp-topic-author,#bbpress-forums div.bbp-reply-author{float:left;text-align:center;width:115px}#bbpress-forums div.bbp-forum-author img.avatar,#bbpress-forums div.bbp-topic-author img.avatar,#bbpress-forums div.bbp-reply-author img.avatar{border:0;max-width:80px;padding:0;margin:12px auto 0 auto;float:none}#bbpress-forums div.bbp-forum-author a.bbp-author-name,#bbpress-forums div.bbp-topic-author a.bbp-author-name,#bbpress-forums div.bbp-reply-author a.bbp-author-name{margin:0 12px;word-break:break-word;display:inline-block}#bbpress-forums div.bbp-topic-author a.bbp-author-name,#bbpress-forums div.bbp-reply-author a.bbp-author-name{clear:left;display:block}#bbpress-forums div.bbp-forum-author .bbp-author-role,#bbpress-forums div.bbp-topic-author .bbp-author-role,#bbpress-forums div.bbp-reply-author .bbp-author-role{font-size:11px;font-style:italic}#bbpress-forums li.bbp-header .bbp-search-author,#bbpress-forums li.bbp-footer .bbp-search-author,#bbpress-forums li.bbp-header .bbp-forum-author,#bbpress-forums li.bbp-footer .bbp-forum-author,#bbpress-forums li.bbp-header .bbp-topic-author,#bbpress-forums li.bbp-footer .bbp-topic-author,#bbpress-forums li.bbp-header .bbp-reply-author,#bbpress-forums li.bbp-footer .bbp-reply-author{float:left;margin:0;padding:0;width:120px}#bbpress-forums li.bbp-header .bbp-search-content,#bbpress-forums li.bbp-footer .bbp-search-content,#bbpress-forums li.bbp-header .bbp-forum-content,#bbpress-forums li.bbp-footer .bbp-forum-content,#bbpress-forums li.bbp-header .bbp-topic-content,#bbpress-forums li.bbp-footer .bbp-topic-content,#bbpress-forums li.bbp-header .bbp-reply-content,#bbpress-forums li.bbp-footer .bbp-reply-content{margin-left:140px;padding:0;text-align:left}div.bbp-forum-header,div.bbp-topic-header,div.bbp-reply-header,li.bbp-body div.hentry{margin-bottom:0;overflow:hidden;padding:8px}div.bbp-forum-header,div.bbp-topic-header,div.bbp-reply-header{border-top:1px solid #ddd;clear:both}span.bbp-author-ip{font-family:'Helvetica Neue',Arial,Helvetica,'Nimbus Sans L',sans-serif;font-size:11px;font-weight:bold;color:#aaa}#bbpress-forums div.bbp-forum-content,#bbpress-forums div.bbp-topic-content,#bbpress-forums div.bbp-reply-content{margin-left:130px;padding:12px 12px 12px 0;text-align:left}#bbpress-forums div.bbp-forum-content:after,#bbpress-forums div.bbp-topic-content:after,#bbpress-forums div.bbp-reply-content:after{clear:both;content:".";display:block;float:none;height:0;font-size:0;visibility:hidden}#bbpress-forums div.bbp-topic-content a,#bbpress-forums div.bbp-reply-content a{background:0;border:0;display:inline;font-weight:normal;margin:0;padding:0}#bbpress-forums div.bbp-topic-content h1,#bbpress-forums div.bbp-reply-content h1,#bbpress-forums div.bbp-topic-content h2,#bbpress-forums div.bbp-reply-content h2,#bbpress-forums div.bbp-topic-content h3,#bbpress-forums div.bbp-reply-content h3,#bbpress-forums div.bbp-topic-content h4,#bbpress-forums div.bbp-reply-content h4,#bbpress-forums div.bbp-topic-content h5,#bbpress-forums div.bbp-reply-content h5,#bbpress-forums div.bbp-topic-content h6,#bbpress-forums div.bbp-reply-content h6{clear:none;line-height:1em;margin:24px 0;padding:0}#bbpress-forums div.bbp-topic-content img,#bbpress-forums div.bbp-reply-content img{max-width:100%}#bbpress-forums div.bbp-topic-content ul,#bbpress-forums div.bbp-reply-content ul,#bbpress-forums div.bbp-topic-content ol,#bbpress-forums div.bbp-reply-content ol{margin:0 15px 15px;padding:0}#bbpress-forums div.bbp-topic-content ul li,#bbpress-forums div.bbp-reply-content ul li{list-style-type:disc}#bbpress-forums div.bbp-topic-content ol li,#bbpress-forums div.bbp-reply-content ol li{list-style-type:decimal}#bbpress-forums div.bbp-topic-content ol li li,#bbpress-forums div.bbp-reply-content ol li li{list-style-type:lower-alpha}#bbpress-forums div.bbp-topic-content ol li li li,#bbpress-forums div.bbp-reply-content ol li li li{list-style-type:upper-roman}#bbpress-forums div.bbp-topic-content code,#bbpress-forums div.bbp-reply-content code,#bbpress-forums div.bbp-topic-content pre,#bbpress-forums div.bbp-reply-content pre{font-family:Inconsolata,Consolas,Monaco,Lucida Console,monospace;display:inline-block;background-color:#f9f9f9;border:1px solid #ddd;padding:0 5px;max-width:95%;vertical-align:middle;margin-top:-3px}#bbpress-forums div.bbp-topic-content pre,#bbpress-forums div.bbp-reply-content pre{display:block;line-height:18px;margin:0 0 24px;padding:5px 10px;white-space:pre;overflow:auto}#bbpress-forums div.bbp-topic-content pre code,#bbpress-forums div.bbp-reply-content pre code{display:block;border:0;padding:0;margin:0;background-color:transparent;overflow-wrap:normal;overflow:auto;max-width:100%}#bbpress-forums div.bbp-reply-to{margin-left:130px;padding:12px 12px 12px 0;text-align:right}#bbpress-forums div#bbp-cancel-reply-to{text-align:right}div.bbp-breadcrumb{float:left}div.bbp-breadcrumb,div.bbp-topic-tags{font-size:12px}#bbpress-forums div.bbp-breadcrumb p,#bbpress-forums div.bbp-topic-tags p{margin-bottom:10px}#bbpress-forums div.bbp-topic-tags{float:right}#bbp-topic-hot-tags{clear:both}#bbpress-forums #bbp-search-form{clear:left}#bbpress-forums #bbp-search-form .hidden{height:0;width:0;overflow:hidden;position:absolute;background:0;left:-999em}#bbpress-forums #bbp-search-form #bbp_search{display:inline-block;width:auto}#bbpress-forums div.bbp-search-form{float:right}span.bbp-admin-links{float:right;color:#ddd}span.bbp-admin-links a{color:#bbb;font-weight:normal;font-size:10px;text-transform:uppercase;text-decoration:none}fieldset span.bbp-admin-links{float:left}tr td span.bbp-admin-links a:hover{color:#ff4b33}td.bbp-topic-admin-links,td.bbp-topic-counts{width:50%}.bbp-forum-header a.bbp-forum-permalink,.bbp-topic-header a.bbp-topic-permalink,.bbp-reply-header a.bbp-reply-permalink{float:right;margin-left:10px;color:#ccc}.bbp-topic-action #favorite-toggle a{text-decoration:none;padding:0 3px 1px;color:#7c7;border:1px solid #aca;background-color:#dfd;font-weight:bold;font-size:13px}.bbp-topic-action #favorite-toggle a:hover{color:#5a5;border-color:#7c7;background-color:#beb}.bbp-topic-action #favorite-toggle span.is-favorite a{color:#faa;border:1px solid #faa;background-color:#fee}.bbp-topic-action #favorite-toggle span.is-favorite a:hover{color:#c88;border-color:#c88;background-color:#fdd}.bbp-topic-action #subscription-toggle a{text-decoration:none;padding:0 3px 1px;color:#7c7;border:1px solid #aca;background-color:#dfd;font-weight:bold;font-size:13px}.bbp-topic-action #subscription-toggle a:hover{color:#5a5;border-color:#7c7;background-color:#beb}.bbp-topic-action #subscription-toggle span.is-subscribed a{color:#faa;border:1px solid #faa;background-color:#fee}.bbp-topic-action #subscription-toggle span.is-subscribed a:hover{color:#c88;border-color:#c88;background-color:#fdd}#bbpress-forums .bbp-forum-info .bbp-forum-content,#bbpress-forums p.bbp-topic-meta{font-size:11px;margin:5px 0 5px;padding:0;word-wrap:break-word}#bbpress-forums p.bbp-topic-meta span{white-space:nowrap}.bbp-pagination-count{float:left;border:1px solid transparent}.bbp-pagination-links{float:right;list-style:none;display:inline}.bbp-pagination-links a,.bbp-pagination-links span.current{display:block;float:left;padding:0 5px;margin-left:5px;border:1px solid #efefef;text-decoration:none}.bbp-pagination-links a:hover,.bbp-pagination-links span.current{background:#eee;opacity:.8;border:1px solid #ddd}.bbp-pagination-links span.dots{display:block;float:left;padding:1px 4px;margin-left:5px}.bbp-pagination{float:left;width:100%;margin-bottom:15px}.bbp-topic-pagination{display:inline-block;margin-left:5px;margin-bottom:2px}.bbp-topic-pagination a{font-size:10px;line-height:10px;padding:1px 3px;border:1px solid #ddd;text-decoration:none}#bbpress-forums fieldset.bbp-form{clear:left}#bbpress-forums fieldset.bbp-form{border:1px solid #eee;padding:10px 20px;margin-bottom:10px}#bbpress-forums fieldset.bbp-form legend{padding:5px}#bbpress-forums fieldset.bbp-form label{margin:0;display:inline-block}#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,#bbp-login fieldset label,#bbp-register fieldset label,#bbp-lost-pass fieldset label{width:100px}#bbpress-forums fieldset.bbp-form p,#bbpress-forums fieldset.bbp-form textarea,#bbpress-forums fieldset.bbp-form select,#bbpress-forums fieldset.bbp-form input{margin:0 0 8px}textarea#bbp_reply_content,textarea#bbp_topic_content,textarea#bbp_forum_content{width:97%;box-sizing:border-box}textarea#bbp_forum_content{height:210px}#bbpress-forums fieldset.bbp-forum-form-attributes{width:200px;float:right;clear:none;margin-left:25px}#bbpress-forums fieldset select#bbp_forum_id{max-width:200px}.bbp-topic-form,.bbp-reply-form,.bbp-topic-tag-form{clear:left}body.topic-edit .bbp-topic-form div.avatar img,body.reply-edit .bbp-reply-form div.avatar img,body.single-forum .bbp-topic-form div.avatar img,body.single-reply .bbp-reply-form div.avatar img{margin-right:0;padding:10px;border:1px solid #ddd;line-height:0;background-color:#efefef}body.page .bbp-reply-form code,body.page .bbp-topic-form code,body.single-topic .bbp-reply-form code,body.single-forum .bbp-topic-form code,body.topic-edit .bbp-topic-form code,body.reply-edit .bbp-reply-form code{font-size:10px;background-color:#f0fff8;border:1px solid #ceefe1;display:block;padding:8px;margin-top:5px;width:369px}#merge_tag,#delete_tag{display:inline}div.bbp-submit-wrapper{margin-top:15px;float:right;clear:both}p.form-allowed-tags{max-width:100%}#bbpress-forums div.bbp-the-content-wrapper{margin-bottom:10px}#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content{width:100%;margin:0;font-size:12px}#bbpress-forums div.bbp-the-content-wrapper table,#bbpress-forums div.bbp-the-content-wrapper tbody,#bbpress-forums div.bbp-the-content-wrapper tr,#bbpress-forums div.bbp-the-content-wrapper td{border:0;padding:0;margin:0;width:auto;line-height:1em}#bbpress-forums div.bbp-the-content-wrapper input{font-size:12px;padding:5px;margin:0 2px 0 0;line-height:1em}#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar{padding:5px;min-height:26px}#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar{padding:4px 4px 8px}#bbpress-forums div.wp-editor-container{margin:0;padding:0;line-height:0}#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar{line-height:16px}#bbpress-forums #bbp-your-profile fieldset{padding:20px 20px 0 20px}#bbpress-forums #bbp-your-profile fieldset div{margin-bottom:20px;float:left;width:100%;clear:left}#bbpress-forums #bbp-your-profile fieldset select{margin-bottom:0}#bbpress-forums #bbp-your-profile fieldset input,#bbpress-forums #bbp-your-profile fieldset textarea{margin-bottom:0;width:60%;background:#f9f9f9;border:1px solid #ddd;box-shadow:none;padding:5px 8px;border-radius:0}#bbpress-forums #bbp-your-profile fieldset input:focus,#bbpress-forums #bbp-your-profile fieldset textarea:focus{border:1px solid #ccc;box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);outline-color:rgba(240,255,240,0.1)}#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox{width:auto}#bbpress-forums #bbp-your-profile fieldset legend{display:none}#bbpress-forums #bbp-your-profile fieldset label[for]{float:left;width:20%;padding:5px 20px 5px 0;text-align:right;cursor:pointer}#bbpress-forums #bbp-your-profile fieldset dl label[for]{text-align:left;width:60%}#bbpress-forums #bbp-your-profile fieldset span.description{margin:5px 0 0 20%;font-size:12px;font-style:italic;float:left;clear:left;width:60%;padding:5px 8px;border:#cee1ef 1px solid;background-color:#f0f8ff}#bbpress-forums #bbp-your-profile fieldset fieldset{margin:0;border:0;padding:0;clear:none;float:none}#bbpress-forums #bbp-your-profile fieldset fieldset.password{width:60%;display:inline}#bbpress-forums #bbp-your-profile fieldset fieldset.password input,#bbpress-forums #bbp-your-profile fieldset fieldset.password span{width:100%}#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl{margin:0}#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description{margin-left:0;margin-bottom:20px}#bbpress-forums #bbp-your-profile fieldset.submit button{float:right}div.bbp-template-notice,div.indicator-hint{border-width:1px;border-style:solid;padding:0 .6em;margin:5px 0 15px;border-radius:3px;background-color:#ffffe0;border-color:#e6db55;color:#000;clear:both}div.bbp-template-notice a{color:#555;text-decoration:none}div.bbp-template-notice a:hover{color:#000}div.bbp-template-notice.info{border:#cee1ef 1px solid;background-color:#f0f8ff}div.bbp-template-notice.important{border:#e6db55 1px solid;background-color:#fffbcc}div.bbp-template-notice.error,div.bbp-template-notice.warning{background-color:#ffebe8;border-color:#c00}div.bbp-template-notice.error a,div.bbp-template-notice.warning a{color:#c00}div.bbp-template-notice p{margin:.5em 0 6px 0 !important;padding:2px;font-size:12px;line-height:140%}.bbp-topics-front ul.super-sticky,.bbp-topics ul.sticky,.bbp-forum-content ul.sticky{font-size:1.1em}#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log{border-top:1px dotted #ddd;width:100%;margin:0;padding:8px 0 0 0;font-size:11px;color:#aaa}#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li{list-style-type:none}.bbp-login-form fieldset legend{display:none}.bbp-login-form .bbp-username input,.bbp-login-form .bbp-email input,.bbp-login-form .bbp-password input{padding:5px}.bbp-login-form label{width:140px;display:inline-block}#sidebar .bbp-login-form label{width:70px}.bbp-login-form .bbp-username,.bbp-login-form .bbp-email,.bbp-login-form .bbp-password,.bbp-login-form .bbp-remember-me,.bbp-login-form .bbp-submit-wrapper{margin-top:10px}.bbp-login-form .bbp-submit-wrapper{text-align:right}.bbp-login-form .bbp-login-links a{float:left;clear:left}.bbp-logged-in img.avatar{float:left;margin:0 15px 0 0}.bbp-logged-in h4{font-weight:bold;font-size:1.3em;clear:none;margin-bottom:10px}#bbpress-forums p.bbp-topic-meta img.avatar,#bbpress-forums ul.bbp-reply-revision-log img.avatar,#bbpress-forums ul.bbp-topic-revision-log img.avatar,#bbpress-forums div.bbp-template-notice img.avatar,#bbpress-forums .widget_display_topics img.avatar,#bbpress-forums .widget_display_replies img.avatar{float:none;margin-bottom:-7px;border:3px double #ddd}fieldset div.avatar{float:right}.activity-list li.bbp_topic_create .activity-content .activity-inner,.activity-list li.bbp_reply_create .activity-content .activity-inner{border-left:2px solid #eaeaea;margin-left:5px;padding-left:10px}#bbpress-forums h1{clear:none;font-size:1.8em;line-height:1em;padding-bottom:10px}#bbpress-forums #bbp-user-wrapper{float:left;width:100%}#bbpress-forums .bbp-user-section{overflow:auto}#bbpress-forums #bbp-user-wrapper h2.entry-title{font-size:1.4em;margin:0;padding-bottom:10px;padding-top:0;clear:none}#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,#bbpress-forums #bbp-user-wrapper ul.bbp-topics,#bbpress-forums #bbp-user-wrapper ul.bbp-forums,#bbpress-forums #bbp-user-wrapper ul.bbp-replies,#bbpress-forums #bbp-user-wrapper fieldset.bbp-form{clear:none}#bbpress-forums #bbp-single-user-details{margin:0;width:150px;float:left;overflow:hidden}#bbpress-forums #bbp-single-user-details #bbp-user-avatar{margin:0;width:150px}#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar{border:0;height:150px;padding:0;margin:0 0 20px 0;width:150px}#bbpress-forums #bbp-single-user-details #bbp-user-description{float:none;margin-left:180px}#bbpress-forums #bbp-single-user-details #bbp-user-navigation{float:none;margin:0}#bbpress-forums #bbp-single-user-details #bbp-user-navigation li{margin:0}#bbpress-forums #bbp-single-user-details #bbp-user-navigation a{padding:5px 8px;display:block;border:1px solid transparent;text-decoration:none}#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a{background:#eee;opacity:.8}#bbpress-forums #bbp-user-body{margin-left:180px}body.my-account #bbpress-forums{border-top:0;padding-top:0;margin-bottom:0}#bbpress-forums dl.bbp-user-capabilities{display:inline-block;vertical-align:top}#bbpress-forums dl.bbp-user-capabilities dt{margin:0 0 10px;text-transform:capitalize}#bbpress-forums dl.bbp-user-capabilities dd{margin:0;padding:0}#bbpress-forums div.row-actions{font-size:11px;visibility:hidden}#bbpress-forums li:hover>div.row-actions{visibility:visible}@media screen and (max-device-width:480px),screen and (-webkit-min-device-pixel-ratio:2){-webkit-text-size-adjust:none}@media only screen and (max-width:480px){#bbpress-forums div.bbp-topic-tags{clear:left;float:left}div.bbp-search-form input,div.bbp-search-form button{font-size:11px;padding:2px}li.bbp-forum-info,li.bbp-topic-title{width:45%}li.bbp-forum-topic-count,li.bbp-forum-reply-count,li.bbp-topic-voice-count,li.bbp-topic-reply-count{width:15%}span.bbp-reply-post-date{float:left}span.bbp-admin-links{clear:left;float:left}#bbpress-forums .bbp-forums-list li{display:block;font-size:11px}#bbpress-forums .bbp-body div.bbp-reply-author{margin:-15px 10px 10px;min-height:100px;padding-left:80px;position:relative;text-align:left;width:100%}#bbpress-forums div.bbp-reply-author a.bbp-author-name{clear:none;display:inline-block;margin-left:0;word-wrap:break-word}#bbpress-forums div.bbp-reply-author img.avatar{/***position:absolute;***/top:15px;left:0;width:60px;height:auto}#bbpress-forums div.bbp-reply-author .bbp-author-role{font-size:12px;font-style:normal}#bbpress-forums .bbp-body div.bbp-reply-content{clear:both;margin:10px;padding:0}#bbpress-forums div.bbp-reply-content p{margin-bottom:1em}div.bbp-submit-wrapper{float:left}#bbpress-forums fieldset.bbp-form{padding:0 10px 10px}#bbpress-forums #bbp-user-body{clear:both;margin-left:0;word-wrap:break-word}#bbpress-forums div.bbp-reply-author a.bbp-author-name{margin:0;}}@media only screen and (max-width:320px){#bbpress-forums div.bbp-search-form{margin-bottom:10px}#bbpress-forums li.bbp-header li.bbp-forum-info,#bbpress-forums li.bbp-body li.bbp-forum-info,#bbpress-forums li.bbp-header li.bbp-topic-title,#bbpress-forums li.bbp-body li.bbp-topic-title{width:100%}#bbpress-forums li.bbp-header li.bbp-forum-info,#bbpress-forums li.bbp-header li.bbp-topic-title{text-align:center;text-transform:uppercase}#bbpress-forums li.bbp-header li.bbp-forum-topic-count,#bbpress-forums li.bbp-header li.bbp-forum-reply-count,#bbpress-forums li.bbp-body li.bbp-forum-topic-count,#bbpress-forums li.bbp-body li.bbp-forum-reply-count,#bbpress-forums li.bbp-header li.bbp-topic-voice-count,#bbpress-forums li.bbp-header li.bbp-topic-reply-count,#bbpress-forums li.bbp-body li.bbp-topic-voice-count,#bbpress-forums li.bbp-body li.bbp-topic-reply-count{width:20%}#bbpress-forums li.bbp-header li.bbp-forum-freshness,#bbpress-forums li.bbp-body li.bbp-forum-freshness,#bbpress-forums li.bbp-header li.bbp-topic-freshness,#bbpress-forums li.bbp-body li.bbp-topic-freshness{width:58%}#bbpress-forums li.bbp-body li.bbp-forum-topic-count,#bbpress-forums li.bbp-body li.bbp-forum-reply-count,#bbpress-forums li.bbp-body li.bbp-forum-freshness,#bbpress-forums li.bbp-body li.bbp-topic-voice-count,#bbpress-forums li.bbp-body li.bbp-topic-reply-count,#bbpress-forums li.bbp-body li.bbp-topic-freshness{margin-top:7px}#bbpress-forums li.bbp-header,#bbpress-forums li.bbp-footer{font-size:10px}#bbpress-forums li.bbp-header div.bbp-reply-author{text-align:left;width:25%}#bbpress-forums li.bbp-header div.bbp-reply-content{margin-left:25%}#bbpress-forums div.bbp-template-notice img.avatar,#bbpress-forums p.bbp-topic-meta img.avatar{width:14px;height:auto}#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar{padding:1px}#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td{width:20px;height:20px}#bbpress-forums div.wp-editor-container{width:100%;overflow:auto}#bbpress-forums input#bbp_topic_title,#bbpress-forums input#bbp_topic_tags{width:95%}}@media only screen and (max-width:240px){#bbpress-forums li.bbp-header li.bbp-forum-topic-count,#bbpress-forums li.bbp-header li.bbp-forum-reply-count,#bbpress-forums li.bbp-body li.bbp-forum-topic-count,#bbpress-forums li.bbp-body li.bbp-forum-reply-count,#bbpress-forums li.bbp-header li.bbp-topic-voice-count,#bbpress-forums li.bbp-header li.bbp-topic-reply-count,#bbpress-forums li.bbp-body li.bbp-topic-voice-count,#bbpress-forums li.bbp-body li.bbp-topic-reply-count,#bbpress-forums li.bbp-footer div.bbp-reply-author,#bbpress-forums li.bbp-footer div.bbp-reply-content{width:45%}#bbpress-forums li.bbp-header li.bbp-forum-freshness,#bbpress-forums li.bbp-body li.bbp-forum-freshness,#bbpress-forums li.bbp-header li.bbp-topic-freshness,#bbpress-forums li.bbp-body li.bbp-topic-freshness,#bbpress-forums li.bbp-header div.bbp-reply-author,#bbpress-forums li.bbp-header div.bbp-reply-content{clear:both;width:100%}#bbpress-forums li.bbp-header li.bbp-forum-freshness,#bbpress-forums li.bbp-header li.bbp-topic-freshness{text-align:center}#bbpress-forums li.bbp-body li.bbp-topic-freshness,#bbpress-forums li.bbp-header div.bbp-reply-content{margin-left:0;text-align:left}#bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta{display:inline-block}#bbpress-forums li.bbp-header{overflow:hidden}#bbpress-forums li.bbp-footer div.bbp-reply-content{display:inline-block;margin-left:0}#bbpress-forums li.bbp-body div.bbp-reply-author{min-height:60px;padding-left:60px}#bbpress-forums div.bbp-reply-author img.avatar{width:40px;height:auto}}
/*END OF BBPRESS CSS COPIED*/