/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =bbPress Style
-------------------------------------------------------------- */

#bbpress-forums hr {
	margin: 0 0 24px 0;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: initial;
	font-size: 12px;
}

#bbpress-forums div.even,
#bbpress-forums ul.even {
	background-color: #fff;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
	background-color: #fbfbfb;
}

body.reply-edit .reply {
	float: none;
}

#bbpress-forums div.reply {
	height: auto;
	width: 100%;
}

#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
	background-color: #f4f4f4;
}
/**
#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}
**/
#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
	color: #ccc;
}

#bbpress-forums ul {
	background:  none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#bbpress-forums ul.bbp-threaded-replies {
	margin-left: 50px;
}

#bbpress-forums li {
	/*background: none;*/
	margin: 0;
	list-style: none;
}
#bbpress-forums .sbOptions li {
	background: #ffffff;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
	font-size: 12px;
	overflow: hidden;
	border: 1px solid #eee;
	margin-bottom: 20px;
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	background: #f3f3f3;
	border-top: 1px solid #eee;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

#bbpress-forums li.bbp-header {
	background: #eaeaea;
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
	color: rgb(81, 147, 182);
	letter-spacing: .9px;
	font-size: 13px;
}

#bbpress-forums .bbp-forums-list {
	margin: 0 0 0 5px;
	padding-left: 15px;
	border-left: 1px solid #ddd;
}

#bbpress-forums .bbp-forums-list li {
	display: inline;
	font-size: 11px;
}

#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 51%;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
	float: left;
	text-align: center;
	width: 12%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: center;
	float: left;
	width: 23%;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-top: 1px solid #eee;
	overflow: hidden;
	padding: 8px;
}

li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
	background: none;
	border: none;
	font-size: 16px;
 	line-height: 1em;
 	margin: 8px 0;
	padding: 0;
	text-transform: none;
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: center;
	width: 115px;
}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	border: none;
	max-width: 80px;
	padding: 0;
	margin: 12px auto 0 auto;
	float: none;
}

#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0 12px;
	word-break: break-word;
	display: inline-block;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	clear: left;
	display: block;
}

#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-size: 11px;
	font-style: italic;
}

#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}

#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
	border-top: 1px solid #ddd;
	clear: both;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}

/* =Topic and reply content
-------------------------------------------------------------- */

#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: left;
}

/* Clearing hack */
#bbpress-forums div.bbp-forum-content:after,
#bbpress-forums div.bbp-topic-content:after,
#bbpress-forums div.bbp-reply-content:after {
	clear: both;
	content: ".";
	display: block;
	float: none;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

#bbpress-forums div.bbp-topic-content a,
#bbpress-forums div.bbp-reply-content a {
	background: none;
	border: none;
	display: inline;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6 {
	clear: none;
	line-height: 1em;
	margin: 24px 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
	max-width: 100%;
}

#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
	margin: 0 15px 15px;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li {
	list-style-type: disc;
}

#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
	list-style-type: decimal;
}

#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li {
	list-style-type: lower-alpha;
}

#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li {
	list-style-type: upper-roman;
}

#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
	display: inline-block;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 0 5px;
	max-width: 95%;
	vertical-align: middle;
	margin-top: -3px;
}

#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	display: block;
	line-height: 18px;
	margin: 0 0 24px;
	padding: 5px 10px;
	white-space: pre;
	overflow: auto;
}

#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-wrap: normal;
	overflow: auto;
	max-width: 100%;
}

/* =Reply to
-------------------------------------------------------------- */

#bbpress-forums div.bbp-reply-to {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: right;
}

#bbpress-forums div#bbp-cancel-reply-to {
	text-align: right;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
	font-size: 12px;
}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}

#bbpress-forums div.bbp-topic-tags {
	float: right;
}

#bbp-topic-hot-tags {
	clear: both;
}

/* =Search
-------------------------------------------------------------- */

#bbpress-forums #bbp-search-form {
	clear: left;
}

	#bbpress-forums #bbp-search-form .hidden {
		height: 0;
		width: 0;
		overflow: hidden;
		position: absolute;
		background: none;
		left: -999em;
	}

	#bbpress-forums #bbp-search-form #bbp_search {
		display: inline-block;
		width: auto;
	}

#bbpress-forums div.bbp-search-form {
	float: right;
}

/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-row-actions #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-row-actions #favorite-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-row-actions #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-row-actions #favorite-toggle span.is-favorite a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

.bbp-row-actions #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-row-actions #subscription-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-row-actions #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-row-actions #subscription-toggle span.is-subscribed a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
	font-size: 11px;
	margin: 5px 0 5px;
	padding: 0;
	word-wrap: break-word;
}

#bbpress-forums p.bbp-topic-meta span {
	white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
}

.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline;
	}
	.bbp-pagination-links a,
	.bbp-pagination-links span.current {
		display: block;
		float: left;
		padding: 0px 5px;
		margin-left: 5px;
		border: 1px solid #efefef;
		text-decoration: none;
		}
		.bbp-pagination-links a:hover,
		.bbp-pagination-links span.current {
			background: #eee;
			opacity: 0.8;
			/**border: 1px solid #ddd;**/
		}

	.bbp-pagination-links span.dots {
		display: block;
		float: left;
		padding: 1px 4px;
		margin-left: 5px;
	}

.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
		border: 1px solid #ddd;
		text-decoration: none;
	}


/* =Forms
-------------------------------------------------------------- */

#bbpress-forums fieldset.bbp-form {
	clear: left;
}

#bbpress-forums fieldset.bbp-form {
	border: 1px solid #eee;
	padding: 10px 20px;
	margin-bottom: 10px;
}

#bbpress-forums fieldset.bbp-form legend {
	padding: 5px;
}

#bbpress-forums fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	margin: 0 0 8px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

/**
 * Fix for too-long forum names, usually from conversion
 */
#bbpress-forums fieldset select#bbp_forum_id {
	max-width: 200px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	max-width: 100%;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 0 2px 0 0;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */

#bbpress-forums #bbp-your-profile fieldset {
	padding: 20px 20px 0 20px;
}
	#bbpress-forums #bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbpress-forums #bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input,
	#bbpress-forums #bbp-your-profile fieldset textarea {
		margin-bottom: 0;
		width: 60%;
		background: #f9f9f9;
		border: 1px solid #ddd;
		box-shadow: none;
		padding: 5px 8px;
		border-radius: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input:focus,
	#bbpress-forums #bbp-your-profile fieldset textarea:focus {
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		outline-color: rgba(240,255,240,0.1);
	}
	#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
		width: auto;
	}
	#bbpress-forums #bbp-your-profile fieldset legend {
		display: none;
	}
	#bbpress-forums #bbp-your-profile fieldset label[for] {
		float: left;
		width: 20%;
		padding: 5px 20px 5px 0;
		text-align: right;
		cursor: pointer;
	}
	#bbpress-forums #bbp-your-profile fieldset dl label[for] {
		text-align: left;
		width: 60%;
	}
	#bbpress-forums #bbp-your-profile fieldset span.description {
		margin: 5px 0 0 20%;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 60%;
		padding: 5px 8px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	#bbpress-forums #bbp-your-profile fieldset fieldset {
		margin: 0;
		border: none;
		padding: 0;
		clear: none;
		float: none;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password {
		width: 60%;
		display: inline;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
		width: 100%;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
		margin: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbpress-forums #bbp-your-profile fieldset.submit button {
		float: right;
	}

/* =Notices
-------------------------------------------------------------- */

div.bbp-template-notice,
div.indicator-hint {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #000;
	}
	div.bbp-template-notice.info {
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 0.5em 0 6px 0 !important;
		padding: 2px;
		font-size: 12px;
		line-height: 140%;
	}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	/*background-color: #ffffe0 !important;*/
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li {
	list-style-type: none;
}

/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form label {
	width: 140px;
	display: inline-block;
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.bbp-login-form .bbp-remember-me {

}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}

.bbp-login-form .bbp-login-links {
}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
}

.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
	float: none;
	margin-bottom: -7px;
	border: 3px double #ddd;
}
#bbpress-forums .bbp-topics p.bbp-topic-meta img.avatar {
	float: none;
	margin-bottom: 0px;
	border: 3px double #ddd;
}

fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */

#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}

#bbpress-forums #bbp-user-wrapper {
	float: left;
	width: 100%;
}

#bbpress-forums .bbp-user-section {
	overflow: auto;
}

#bbpress-forums #bbp-user-wrapper h2.entry-title {
	font-size: 1.4em;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
	clear: none;
}

#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}

#bbpress-forums #bbp-single-user-details {
	margin: 0;
	width: 150px;
	float: left;
	overflow: hidden;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: none;
	height: 150px;
	padding: 0;
	margin: 0 0 20px 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}

#bbpress-forums #bbp-user-body {
	margin-left: 180px;
}

body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

/* =User Capabilities
-------------------------------------------------------------- */

#bbpress-forums dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}

#bbpress-forums dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}

#bbpress-forums dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */

#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}

/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	-webkit-text-size-adjust: none;
}
@media only screen and (max-width: 480px) {
	#bbpress-forums div.bbp-topic-tags {
		clear: left;
		float: left;
	}
	div.bbp-search-form input,
	div.bbp-search-form button {
		font-size: 11px;
		padding: 2px;
	}
	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 45%;
	}
	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 15%;
	}
	span.bbp-reply-post-date {
		float: left;
	}
	span.bbp-admin-links {
		clear: left;
		float: left;
	}
	#bbpress-forums .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}
	#bbpress-forums .bbp-body div.bbp-reply-author {
		margin: -15px 10px 10px;
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;
	}
	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		clear: none;
		display: inline-block;
		margin-left: 0;
		word-wrap: break-word;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		/**position: absolute;**/
		top: 15px;
		left: 0;
		width: 60px;
		height: auto;
	}
	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		font-size: 12px;
		font-style: normal;
	}
	#bbpress-forums .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0;
	}
	#bbpress-forums div.bbp-reply-content p {
		margin-bottom: 1em;
	}
	div.bbp-submit-wrapper {
		float: left;
	}
	#bbpress-forums fieldset.bbp-form {
		padding: 0 10px 10px;
	}
	#bbpress-forums #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}
	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		margin: 0;
	}
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
	#bbpress-forums div.bbp-search-form {
		margin-bottom: 10px;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-body li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title,
	#bbpress-forums li.bbp-body li.bbp-topic-title {
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title {
		text-align: center;
		text-transform: uppercase;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count {
		width: 30%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		width: 36%;
	}
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		margin-top: -2px;
	}
	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-footer {
		font-size: 10px;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-author {
		text-align: left;
		width: 25%;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 25%;
	}
	#bbpress-forums div.bbp-template-notice img.avatar,
	#bbpress-forums p.bbp-topic-meta img.avatar {
		width: 14px;
		height: auto;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
		padding: 1px;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
		width: 20px;
		height: 20px;
	}
	#bbpress-forums div.wp-editor-container {
		width: 100%;
		overflow: auto;
	}
	#bbpress-forums input#bbp_topic_title,
	#bbpress-forums input#bbp_topic_tags {
		width: 95%;
	}
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-footer div.bbp-reply-author,
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		width: 45%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-author,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		clear: both;
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness {
		text-align: center;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 0;
		text-align: left;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
		display: inline-block;
	}
	#bbpress-forums li.bbp-header {
		overflow: hidden;
	}
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		display: inline-block;
		margin-left: 0;
	}
	#bbpress-forums li.bbp-body div.bbp-reply-author {
		min-height: 60px;
		padding-left: 60px;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		width: 40px;
		height: auto;
	}
	#bbpress-forums .bbp-forums-list {
		margin: 0px 0px 0px 5px;
	}
	#bbpress-forums .bbp-forums-list { padding-left: 5px; }
}

/**MAE*/
#bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-topics { border: 1px solid #cdd9e5; }
#bbpress-forums li.bbp-header { background: #eef4f8; }
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {	border-top: 1px solid #ccd9e4; padding: 2px 15px; }
#bbpress-forums li.bbp-footer { padding: 0px; }
.bbp-footer .tr { display: none; }
#bbpress-forums fieldset.bbp-form legend {
	text-align: center;
	width: auto;
	border-bottom: transparent;
	margin-bottom: 0;
}
.bbp-topic-form button#bbp_topic_submit {
	margin-left: 10px;
	background: #5093b7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 20px;
	border: none;
	color: #fff;
	letter-spacing: 1px;
	margin-top: 0px;
}
#bbpress-forums div.wp-editor-container {	border: 1px solid #eee; }
/*Forum Design*/
.bbp-forums .bbp-forum-info .folder-topic { float: left;
  padding: 12px 35px 5px 6px;
}

.title-topic {
padding: 8px 0px 0px 35px
}

.bbp-forums .bbp-forum-info a {
	font-size: 13px;
	vertical-align: -webkit-baseline-middle;
	letter-spacing: .4px;
	font-weight: bold;
}
.bbp-forums .bbp-forum-info .bbp-forum-content {
  padding: 0 !important;
  margin-left: 2px !important;
  margin-top: 0px !important;
  font-size: 11px !important;
  line-height: 10px;
}
#bbpress-forums .bbp-forums-list { margin: 0 0 0 53px; }
li.bbp-forum-freshness { text-align: left; }
.bbp-forum-content {  color: #999999; }
.bbp-body .bbp-forum-info, .bbp-body  .bbp-forum-topic-count, .bbp-body  .bbp-forum-reply-count, .bbp-body  .bbp-forum-freshness { color: black;  }
.bbp-body .bbp-forum-freshness { padding: 7px 0px; }
.bbp-body  .bbp-forum-topic-count, .bbp-body  .bbp-forum-reply-count { padding: 15px 0px;}
.bbp-body  .no-topic { padding: 1px 0px;}

.bbp-forum-arrow { padding: 13px 0px; }
.bbp-forum-arrow a { color: #337ab7; font-size: 15px; }
.bbp-body .bbp-topic-freshness-author a { color: #337ab7;  font-style: italic;}
.bbp-body .bbp-topic-freshness-author a:focus { text-decoration: none;   outline: none; }
.bbp-body .bbp-topic-freshness-author a:hover { font-weight: bolder;    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8;}
div.bbp-template-notice.info, div.bbp-template-notice { border: none; border-color: transparent; background-color: transparent; padding: 0; margin: 0; }
div.bbp-template-notice.info { color: #5093b7; }
div.bbp-template-notice { color: #8a6d3b; }

#bbpress-forums div.bbp-template-notice img.avatar { margin-bottom: 0; }
.bbp-topic-started-by a.bbp-author-name {  vertical-align: middle;  }
.reply-topic-chckbox { margin-left: -29px !important; }
#new-post button#bbp_reply_submit  {
  background-color: rgb(80, 147, 183);
  color: #fff;
  padding: 4px 17px;
  border-radius: 2px;
  letter-spacing: .3px;
  border: none;
}
#new-post button#bbp_reply_submit:hover {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.chkbx-frm { 
  margin-left: -28px !important;
  margin-top: 45px !important;
 }
 form#new-post {
	border: 1px solid #cccccc;
 }
.bbp-topic-form fieldset.bbp-fieldtop , .bbp-reply-form fieldset.bbp-fieldtop { margin-bottom: -15px !important; }
.bbp-topic-form fieldset.bbp-form, .bbp-reply-form fieldset.bbp-form{ border: none  !important;  }
.bbp-topic-form fieldset.bbp-form legend, .bbp-reply-form fieldset.bbp-form legend{
  text-decoration: underline;
  color: rgb(81, 147, 182);
  font-size: 16px;
 } 
form#new-post .has-error small.help-block { margin-top: -15px !important; }
#bbpress-forums ul.bbp-topics { margin-bottom: 15px; margin-top: 10px; } 
div.bbp-template-notice p.bbp-forum-description .bbp-author-avatar { display: none; }
div#bbpress-forums ul.bbp-topics li.bbp-body p.bbp-topic-meta img { display: none; }
div#bbpress-forums ul.bbp-topics li.bbp-body p.bbp-topic-meta span.bbp-topic-freshness-author a { font-style: normal; font-size: 12px; color: #000; margin-left: -10px; }
#bbpress-forums li.bbp-body ul.topic { padding: 0px 15px; }
ul.bbp-topics li.bbp-topic-freshness { margin-right: -15px !important; }
ul.bbp-topics li.bbp-header ul.forum-titles li.bbp-topic-title { margin-left: 25px !important; }

.bbp-body li.bbp-topic-title { padding-left: 20px; }
.bbp-body li.bbp-topic-title {
    background-image: url(http://artbulgaria.com/wp-content/themes/pro3/img/sub-forum2.png);
    background-repeat: no-repeat;
	  background-position: 0px center;
	  margin-right: 25px !important;
}
ul.super-sticky li:first-child, ul.sticky li:first-child {
    background-image: url(http://artbulgaria.com/wp-content/themes/pro3/img/sub-forum.png);
    background-repeat: no-repeat;
	  background-position: 0px center;
	  margin-right: 25px !important;
}

ul.bbp-topics li.bbp-body p.bbp-topic-meta .bbp-topic-started-in a {  padding-left: 0px !important; }
.bbp-form div.bbp-template-notice.error p { color: red;  }
.bbp-form div.bbp-template-notice.error {
   background-color: transparent !important;
   border-color: none !important; 
}
ul.bbp-topics li.bbp-topic-title { width: 40%; }
span#subscription-toggle a.subscription-toggle {   color: rgb(81, 147, 182);
  text-decoration: underline; }

li.bbp-body li.bbp-topic-title a.bbp-topic-permalink { padding-top: 5px; color: #000; }
li.bbp-body li.bbp-forum-topic-count, li.bbp-body li.bbp-topic-voice-count, li.bbp-body li.bbp-forum-reply-count, li.bbp-body li.bbp-topic-reply-count {  padding: 13px 0px; }
#bbpress-forums .bbp-forums p.bbp-topic-meta {  margin: -3px 0 0px; color: #000; }
#bbpress-forums .bbp-topics p.bbp-topic-meta {  color: #000; }
.bbp-pagination-links a:hover, .bbp-pagination-links span.current {
	background: #5093b7;
	border: 1px solid transparent !important;
	color: #fff;
}
.bbp-pagination-links a {border: 1px solid transparent !important;}
.bbp-pagination-links a{  color: #999999; }
.bbp-pagination-links a, .bbp-pagination-links span.current { padding: 2px 7px; }
.bbp-pagination-links i {  font-weight: bolder; vertical-align: initial;}

#bbpress-forums .bbp-topics  .bbp-body .status-trash.odd, #bbpress-forums .bbp-topics  .bbp-body .status-spam.odd { background-color: #fbfbfb !important; }
#bbpress-forums p.bbp-topic-description .bbp-author-avatar img { display: none; }

#bbpress-bc { margin-top: -14px; }

#bbpress-bc .bbp-breadcrumb {
    margin-bottom: 0;
    font-size: 13px !important;
    text-shadow: none;
    font-family: 'Roboto' !important;
    font-weight: 400 !important;
	text-color: #746B67 !important;
}
#bbpress-bc .bbp-breadcrumb a:hover {
	text-decoration: underline !important;
}
#bbpress-bc .bbp-breadcrumb a {
	font-family: 'Roboto', Arial, sans-serif !important;
    text-shadow: 0px 1px 0px #e2e2e2;
	txt-color: #746B67 !important;
}
#bbpress-bc .bbp-breadcrumb-sep {
	padding: 0px 5px;
	 color: #746B67 !important;
}
#bbpress-bc span.bbp-breadcrumb-current {
	color: #60a4cb;
}

#bbpress-bc .bbp-breadcrumb-root, #bbpress-bc .bbp-breadcrumb-home, #bbpress-bc .bbp-breadcrumb-forum
{  color: #746B67 !important; }

#bbpress-forums .bbp-breadcrumb { display: none; }

.folder-topic {
	background-image:url(../../img/forum-folder.png);
    display: block;
    height: 42px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 9px 14px;
}

ul.bbp-forum-sticky-cat{
	background-color: #f4f8fa !important;
}

.bbp-forum-sticky-cat li.bbp-forum-info {
	background:url(../../img/exc.png);
    display: block;
    height: 42px;
    background-repeat: no-repeat;
    background-position: 1px 15px;
}

#bbpress-forums fieldset.bbp-form #bbp_reply_move_option_reply, fieldset.bbp-form #bbp_reply_move_option_existing {
    margin-bottom: -1px !important;
    margin-right: 5px !important;
}
#bbpress-forums fieldset.bbp-form label {
	margin-bottom: 10px !important;
}
.bbp-breadcrumb p a { color: #676767; }
#bbpress-forums { margin-bottom: 45px; }
@media only screen and (max-width: 1199px ){
	.folder-topic {
		background-size: 17px 13px;
	}
	.bbp-forum-sticky-cat li.bbp-forum-info {
		background-size: 4px 13px;
	}
	.title-topic {
		padding: 6px 0px 0px 25px;
	}
	#bbpress-forums li.bbp-header ul, .bbp-forums .bbp-forum-info a, #bbpress-forums li {
		letter-spacing: .2px;
		font-size: 11px;
	}
	#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
		padding: 2px 6px;
	}
	.bbp-forums .bbp-forum-info .folder-topic { padding: 11px 0px 0px 30px; }
	li.bbp-forum-info, li.bbp-topic-title {
		width: 45%;
	}
	li.bbp-forum-freshness {
		width: 30%;
	}
	li.bbp-forum-reply-count {
		width: 17%;
	}
	li.bbp-forum-topic-count {
		width: 6%;
	}
}
@media only screen and (max-width: 555px ){
	#bbpress-forums .bbp-forums-list {
		margin: 0 0 0 20px;
	}
	.title-topic {
		padding: 10px 0px 0px 25px;
	}
	li.bbp-forum-info, li.bbp-topic-title {
		width: 40%;
	}
	li.bbp-forum-freshness {
		width: 29%;
	}
	li.bbp-forum-reply-count {
		width: 18%;
	}
	li.bbp-forum-topic-count {
		width: 7%;
	}
	.bbp-forum-freshness {
		letter-spacing: -.2px !important;
	}
}
@media only screen and (max-width: 530px ){
	#bbpress-forums .bbp-forums-list {
		margin: 0 0 0 10px;
	}
	.title-topic {
		padding: 10px 0px 0px 25px;
	}
	li.bbp-forum-info, li.bbp-topic-title {
		width: 30%;
	}
	li.bbp-forum-freshness {
		width: 31%;
	}
	li.bbp-forum-reply-count {
		width: 25%;
	}
	li.bbp-forum-topic-count {
		width: 12%;
	}
	li.bbp-forum-arrow {
		display: none;
	}
	#bbpress-forums li {
		letter-spacing: .2px;
		font-size: 10px;
	}
	#bbpress-forums .bbp-forums-list { padding-left: 4px; }
	.bbp-forum-sticky-cat li.bbp-forum-info {
		background-size: 3px 10px;
	}
	.bbp-forums .bbp-forum-info .folder-topic {
		padding: 0px;
	}
	.title-topic {
		padding: 9px 0px 5px 6px;
	}
	.bbp-forum-sticky-cat li.bbp-forum-info {
		height: auto;
	}
}
@media only screen and (max-width: 375px ){
	.bbp-forums-list li.bbp-forum a {  font-size: 9px; }
	.title-topic {
		padding: 0px 0px 0px 6px;
	}
	/**.bbp-forum-sticky-cat li.bbp-forum-info { background-size: 0px 0px; }
	.bbp-forums .bbp-forum-info .folder-topic { display: none; }**/
}
@media only screen and (max-width: 320px ){
	.title-topic {
    padding: 11px 0px 0px 7px;
	}
}
/**Mae added**/