#tp_global_search {
}

#tp_global_search .dropdown-toggle {
    border: 1px solid transparent;
}

#tp_global_search .btn.btn-primary {
    background-color: #5193b6;
}

#tp_global_search input[type=text]:focus {
    border-color: #5193b6;
}

#tp_global_search .dropdown-menu {
    background: #fff;
    border: 1px solid #c2c2c2;
}

#tp_global_search .dropdown-menu a:hover {
    background-color: #5193b6;
    color: #fff;
}

.tp-gsearch-popover .popover-content > .alert {
    margin: 10px;
}

.tp-gsearch-popover {
    max-width: 600px;
}

.tp-gsearch-popover .popover-content {
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
}

.tp-gsearch-popover .popover-content .media .media-image {
    width: 48px;
    height: 48px;
    max-width: inherit;
}

.tp-gsearch-popover .popover-content > ul > li  {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 10px;
}

.tp-gsearch-popover .popover-content > ul > li:last-child {
    border-bottom: 0;
}

.tp-gsearch-popover .popover-content > ul > li:hover {
    background-color: rgba(0,0,0,0.03);
}

.tp-gsearch-popover .popover-content .media-body {
    font-size: 12px;
}

.tp-gsearch-popover .popover-content .media-body strong {
    font-weight: bold;
    font-size: 13px;
}

.tp-gsearch-popover .popover-content .media-body .label {
    text-transform: uppercase;
    opacity: 0.8;
}