.tp_mpdgfilter .filterbox .pifilter_category {
    max-height: 250px !important;
    overflow: hidden !important;
    margin-bottom: 0px;
}

.tp_mpdgfilter .filterbox .pifilter_category:hover {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

/**Filter Sidebar checkbox**/
.checkbox  input[type="checkbox"] { margin: 0 !important; }