.tp_mpdgfilter .filterbox .pifilter_sortkeywords input[type=text]:focus {
    border-color: #337ab7;
}
.tp_mpdgfilter .filterbox .pifilter_sortkeywords input[type=text] {
    padding: 0px 5px;
    line-height: 30px;
}

.tp_mpdgfilter .filterbox .pifilter_sortkeywords input[name=keywords] {
    min-width: 100%;
}