.tp_mpdgfilter .filterbox .pifilter_sortlocation {
    margin-top: 15px;
}

.tp_mpdgfilter .filterbox .pifilter_sortlocation input[type=text] {
    padding: 0 5px !important;
    line-height: 30px !important;
}

.tp_mpdgfilter .filterbox .pifilter_sortlocation input[name=city] {
    min-width: 100%;
}

.tp_mpdgfilter .filterbox .pifilter_sortlocation .typeahead.dropdown-menu {
    background: white;
}

#tp_mpdgfilter_2 .pifilter_sortlocation  .form-group {
	padding-bottom: 35px;
}