/**
 * Should only work when plugin is installed in current page,
 * This will hide the heading and the white background of the theme:
 *
 * Based on Design Mockups.
 */
div[id^="post-"] .page-content {
    background: transparent !important;
    padding: 0px !important;
    border: 0px !important;
}

div[id^="post-"] .page-heading {
    display: none;
}

.tp_mpdgfilter .panel {
    border: 0;
}

.tp_mpdgfilter select {
    line-height: normal;
}

.tp_mpdgfilter .filter-aside {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 15px 15px;
	margin-bottom: 20px;
    position: relative;
    display: block;
    /*margin-right: 20px; REMOVE BY JAYVEE 03-13-15*/
}

.tp_mpdgfilter .filter-aside .filter_blocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8) url('load.gif') no-repeat center center;
}
.tp_mpdgfilter .filter-content {
    margin-left: 0;
    margin-bottom: 20px;
}

.tp_mpdgfilter .filter-content .product-box {
    /*margin: 0px 17px 17px 0px;
    float: none;
    display: inline-block;
    vertical-align: top;*/
    /*width: 200px;*/
    /*
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 200px;
     REMOVE BY JAYVEE 03-13-15
    */
    margin: 0;
	box-sizing: border-box;
	padding: 7px;
    padding-bottom: 13px;
    padding-top: 0;
}

.tp_mpdgfilter .filter-content .product-box > .product-box-container {
    background: #ffffff;
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    /*height: 256px; REMOVE BY JAYVEE 03-13-15*/
    overflow: hidden;
}

.tp_mpdgfilter .filter-content .product-box .product-image,
.tp_mpdgfilter .filter-content .product-box .product-title,
.tp_mpdgfilter .filter-content .product-box .product-cat,
.tp_mpdgfilter .filter-content .product-box .product-rating,
.tp_mpdgfilter .filter-content .product-box .product-views,
.tp_mpdgfilter .filter-content .product-box .product-price{
    font-size: 12px;
}

.tp_mpdgfilter .filter-content .product-box .product-title,
.tp_mpdgfilter .filter-content .product-box .product-cat,
.tp_mpdgfilter .filter-content .product-box .product-views,
.tp_mpdgfilter .filter-content .product-box .product-rating {
    padding-left: 3px;
    padding-right: 3px;
}

.tp_mpdgfilter .filter-content .product-box .row-fluid [class*="span"] {
    min-height: 0px;
}

.tp_mpdgfilter .filter-content .product-box hr {
    margin: 5px 0;
    border-top-color: #d0d0d0;
}

.tp_mpdgfilter .filter-content .product-box .product-image {
    margin-bottom: 5px;
    border: 1px solid #e6e6e6;
    min-height: 163px;
    display: block;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.tp_mpdgfilter .filter-content .product-box .product-title {
    font-weight: bold;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tp_mpdgfilter .filter-content .product-box .product-cat {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 20px;
}
.tp_mpdgfilter .filter-content .product-box .product-rating {
    text-align: right;
}
.tp_mpdgfilter .filter-content .product-box .product-rating .tp_store_rating > .tp_store_base {
    zoom: 0.76;
    margin-top: 0px;
    float: right;
}
.tp_mpdgfilter .filter-content .product-box .product-rating .tp_store_rating > .tp_store_base > .tp_store_average {
    background-position: 0px -16px;
}
.tp_mpdgfilter .filter-content .product-box .product-rating .tp_store_rating + span { display: none; }
.tp_mpdgfilter .filter-content .product-box .product-views {
    text-align: right;
	/*
	Modified by Jeff
	
	Note remove this to show product views
	*/
	display: none;
}
.tp_mpdgfilter .filter-content .product-box .product-price,.tp_mpdgfilter .filter-content .store-box .store-fee {
    font-weight: bold;
    font-size: 18px;
	padding: 0;
    padding-top: 2px;
    text-align: center;
    color: #333;
    white-space: nowrap;
}

.tp_mpdgfilter .filter-content .product-box .product-action {
    text-align: center;
}
.tp_mpdgfilter .filter-content .product-box .product-price > sup {
    top: -0.40em;
}
.tp_mpdgfilter .filter-content .product-box .product-price > small {
    font-size: 12px;
    padding-right: 2px;
}

.tp_mpdgfilter .filter-content .product-box .btn.btn-primary {
    background: #5093b7;
    box-shadow: none;
    font-size: 11px !important;
	padding: 4px;
}

.tp_mpdgfilter .filter-content .product-box .btn.btn-primary:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* sale */
.tp_mpdgfilter .filter-content .product-box.sale .product-image:after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: 0px;
    height: 75px;
    width: 75px;
    background: url('sale.png') no-repeat center center;
	background-size: cover;
}

/* hot */
.tp_mpdgfilter .filter-content .product-box.hot {
    /*width: 416px;*/
}

/*.tp_mpdgfilter .filter-content .product-box.hot .product-title > a {
    display: block;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-rating {
    float: none;
    padding: 0;
    margin: 0;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-rating .tp_store_base {
    margin-top: 0;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-views {
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 30px;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-action > .btn {
    margin-top: 3px;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-views {
    padding: 0;
    margin: 0;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-price {
    padding: 0;
    margin: 0;
    text-align: right;
    line-height: 30px;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-image {
    position: relative;
}*/

.tp_mpdgfilter .filter-content .product-box.hot .product-image:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 8px;
    height: 40px;
    width: 40px;
    background: url('hot.png') no-repeat top left;
}

.tp_mpdgfilter .filter-content .product-box.hot .product-rating .tp_store_rating > .tp_store_base {
    float: none;
}

.tp_mpdgfilter .mpdgfilter_title {
    padding: 0 0 8px 0;
    margin: 0;
    font-size: 17px;
}

.tp_mpdgfilter .filterbox {
    box-sizing: border-box;
}

.tp_mpdgfilter .filterbox .filterbox-content {
    margin: 0 0 10px 0;
}

.tp_mpdgfilter .filterbox .filterbox-content .checkbox > input[type=checkbox] {
    left: 5px;
    top: 5px;
    height: 16px;
    width: 16px;
}

.tp_mpdgfilter .filterbox .filterbox-content .checkbox {
    padding-left: 0;
    margin-bottom: 0;
}

.tp_mpdgfilter .filterbox .filterbox_title2,
.tp_mpdgfilter .filterbox .filterbox_title {
    font-weight: bold;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #b2b2b2;
}

.tp_mpdgfilter .filterbox .filterbox_title2 {
    border-bottom: 0px;
}

.tp_mpdgfilter button[name=search] {
    background: #5093B7;
    border-radius: 2px;
    -moz-border-radius: 2px;
    /*height: 25px;*/
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	border-color: #5093B7;
	letter-spacing: .3px;
}

.tp_mpdgfilter button[name=reset] {
    color: #333;
    font-size: 13px;
	border: 1px solid rgb(208, 208, 208);
	text-decoration: none;
	letter-spacing: .3px;
}

.tp_mpdgfilter button[name=search]:hover,
.tp_mpdgfilter button[name=reset]:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.tp_mpdgfilter button[name=search],
.tp_mpdgfilter button[name=reset] {
    margin-top: 15px;
}

.tp_mpdgfilter input[type=text],
.tp_mpdgfilter input[type=password],
.tp_mpdgfilter input[type=email],
.tp_mpdgfilter select,
.tp_mpdgfilter textarea, {
}


/* Store */

.tp_mpdgfilter .filter-content .store-box {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 205px;
    background-color: #fff;
    margin-left: 0px;
    margin-right: 12px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.tp_mpdgfilter .filter-content .store-box > .store-name {
    font-weight: bold;
    font-size: 13px;
    margin: 3px 4px 0px 6px;
    min-height: 20px;
    text-align: center;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tp_mpdgfilter .filter-content .store-box .store-picture {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 130px;
    display: block;
    margin: 5px;
	position: relative;
}

.tp_mpdgfilter .filter-content .store-box .store-fee{
	padding: 3px;
	position: absolute;
	left: 0px;
    top: 90px;
	background: #3299B7;
	color:#fff;
	font-size:15px;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

	  /* IE 5-7 */
	  filter: alpha(opacity=90);

	  /* Netscape */
	  -moz-opacity: 0.9;

	  /* Safari 1.x */
	  -khtml-opacity: 0.9;

	  /* Good browsers */
	  opacity: 0.9;	
}

.tp_mpdgfilter .filter-content .store-box .store-btncon {
    padding: 5px 7px;
    padding-bottom: 7px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
}

.tp_mpdgfilter .filter-content .store-box .store-btncon > .btn {
    border: 1px solid #3f94c0;
    font-size: 10.4px;
    padding: 2px 2px;
}

.tp_mpdgfilter .filter-content .store-box .store-btncon > .btn.btn-primary {
    background: #3698c9;
    box-shadow: none;
}

.tp_mpdgfilter .filter-content .store-box .store-btncon > .btn.btn-default {
    background: #fff;
    color: #3698c9;
    box-shadow: none;
}

.tp_mpdgfilter .filter-content .store-box .store-btncon > .btn {
    min-height: 0px;
}

.tp_mpdgfilter .filter-content .store-box .tp_store_rating_con {
    text-align: center;
    height: 18px;
    margin-top: -3px;
}

.tp_mpdgfilter .filter-content .store-box .tp_store_rating_con > .tp_store_rating {
    position: relative;
    display: inline-block;
}

.tp_mpdgfilter .filter-content .store-box .tp_store_rating_con > .tp_store_rating > .tp_store_base {
    zoom: 0.76;
}

.tp_mpdgfilter .filter-content .store-box .tp_store_rating_con > span {
    display: none;
}

.tp_mpdgfilter .filter-content .store-box .tp_store_rating_con > .tp_store_rating > .tp_store_base > .tp_store_average {
    background-position: 0px -16px;
}

.tp_mpdgfilter .filterbox .pifilter_sorting select {
    width: 100%;
}
.tp_mpdgfilter_ajax_loadbg {
    background: #fff url('load1.gif') center center no-repeat;
    background-size: contain;
}

.tp_mpdgfilter .mpdgfilter_error {
	padding: 10px;
}

.tp_mpdgfilter .mpdgfilter_error p {
	margin-bottom: 3px;
	color: #cc3333;
}

.btn:focus {
	outline: none !important;
}

.no-padder {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.tp_mpdgfilter .product-rating {
	padding: 0;
	margin-left: 0;
	float: right;
}

.tp_mpdgfilter .product-box.hot .tp_store_base {
	float: right !important;
}


.tp_mpdgfilter .filterbox .pifilter_category {
    max-height: 250px !important;
    overflow: hidden !important;
    margin-bottom: 0px;
}

.tp_mpdgfilter .filterbox .pifilter_category:hover {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

/**Filter Sidebar checkbox**/
.checkbox  input[type="checkbox"] { margin: 0 !important; }


.tp_mpdgfilter .filterbox .pifilter_sortkeywords input[type=text]:focus {
    border-color: #337ab7;
}
.tp_mpdgfilter .filterbox .pifilter_sortkeywords input[type=text] {
    padding: 0px 5px;
    line-height: 30px;
}

.tp_mpdgfilter .filterbox .pifilter_sortkeywords input[name=keywords] {
    min-width: 100%;
}

.tp_mpdgfilter .filter-pagination-box {
    text-align: center;
    min-height: initial;
    margin-top: 60px;
    width:100%;
}

.tp_mpdgfilter .filter-pagination-box > ul {
    margin: 0px;
}

.tp_mpdgfilter .filterbox .pifilter_sortlocation {
    margin-top: 15px;
}

.tp_mpdgfilter .filterbox .pifilter_sortlocation input[type=text] {
    padding: 0 5px !important;
    line-height: 30px !important;
}

.tp_mpdgfilter .filterbox .pifilter_sortlocation input[name=city] {
    min-width: 100%;
}

.tp_mpdgfilter .filterbox .pifilter_sortlocation .typeahead.dropdown-menu {
    background: white;
}

#tp_mpdgfilter_2 .pifilter_sortlocation  .form-group {
	padding-bottom: 35px;
}


/**
 * -------------------------------------------------------------------------------
 * Price Range Plugin
 * -------------------------------------------------------------------------------
 */

.tp_mpdgfilter .filterbox .pifilter_pricerange {
    cursor: hand;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: auto;
    height: 10px;
    background: #e1e1e1;
    margin: 20px 0px 40px;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .leftGrip.gripHighlighted {
    background: #113344;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .rightGrip.gripHighlighted {
    background: #113344;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .rightGrip,
.tp_mpdgfilter .filterbox .pifilter_pricerange .leftGrip {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    background: #464a4d;
    top: -3px;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .bar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #65abcf;
    height: 10px;
    top: 0px;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .highlightPanel {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #e87722;
    height: 20px;
    top: 0;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .leftLabel,
.tp_mpdgfilter .filterbox .pifilter_pricerange .rightLabel {
    margin-top: 20px;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .leftLabel {
    float: left;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .rightLabel {
    float: right;
    text-align: right;
}



/* Extra Small */
@media (max-width: 767px) {
    .tp_mpdgfilter .filter-content .product-box .product-price {
        font-size: 25px;
    }

    .tp_mpdgfilter .filter-content .product-box {
        padding-left: 0;
        padding-right: 0;
    }

    .tp_mpdgfilter > div:last-child {
        padding-left: 1px !important;
    }

    .tp_mpdgfilter .filter-aside {
        margin-bottom: 15px;
    }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
    .tp_mpdgfilter > div:last-child {
        padding-left: 7px !important;
    }
}

/* Large */
@media (min-width: 1200px) {
    .tp_mpdgfilter > div:last-child {
        padding-left: 7px !important;
    }
}