/**
 * -------------------------------------------------------------------------------
 * Price Range Plugin
 * -------------------------------------------------------------------------------
 */

.tp_mpdgfilter .filterbox .pifilter_pricerange {
    cursor: hand;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: auto;
    height: 10px;
    background: #e1e1e1;
    margin: 20px 0px 40px;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .leftGrip.gripHighlighted {
    background: #113344;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .rightGrip.gripHighlighted {
    background: #113344;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .rightGrip,
.tp_mpdgfilter .filterbox .pifilter_pricerange .leftGrip {
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    background: #464a4d;
    top: -3px;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .bar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #65abcf;
    height: 10px;
    top: 0px;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .highlightPanel {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #e87722;
    height: 20px;
    top: 0;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .leftLabel,
.tp_mpdgfilter .filterbox .pifilter_pricerange .rightLabel {
    margin-top: 20px;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .leftLabel {
    float: left;
}

.tp_mpdgfilter .filterbox .pifilter_pricerange .rightLabel {
    float: right;
    text-align: right;
}