
/* Layout */

#m413_container #main {
background-color:#EFF8FF;
border-bottom:1px solid #D1E5EE;
border-left:1px solid #D1E5EE;
border-right:1px solid #D1E5EE;
width: 100%;
margin: 0px !important;
*zoom: 1;
}

#m413_container #main:before,
#m413_container #main:after {
  display: table;
  line-height: 0;
  content: "";
}

#m413_container #main:after {
  clear: both;
}

#m413_container #content {
background-color:#fff;
border-left:1px solid #D1E5EE;
float:left;
font-family:"Lucida Grande", Sans-serif;
margin-left:-1px;
min-height:550px;
width:75%;
padding:5px 22px 0;
position: relative;
margin: 0px 0px 0px -1px;
display: block;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#m413_container #content .section {
margin-bottom:25px;
}

#m413_container {
position:relative;
width: 100%;
max-width:980px;
z-index:0;
margin: 15px 0px;
}

#m413_container #header {
background:#EFF8FF url(images/admin-bg-grad.jpg) repeat-x left top;
border:1px solid #B0C8D7;
height:80px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
}

.save_bar_top {
background:#EFF8FF url(images/bg-save-bar.jpg) repeat-x;
border:solid #B0C8D7;
height:35px;
text-align:right;
-webkit-border-bottom-right-radius:6px;
-webkit-border-bottom-left-radius:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-bottomleft:6px;
border-bottom-right-radius:6px;
border-bottom-left-radius:6px;
border-width:0 1px 1px;
padding:10px 20px 0;
}

#m413_container #header .logo {
float:left;
margin:17px 20px;
}

#m413_container .option {
padding-top:5px;
width: 100%;
margin: 0px !important;
*zoom: 1;
}

#m413_container .option:before,
#m413_container .option:after {
  display: table;
  line-height: 0;
  content: "";
}

#m413_container .option:after {
  clear: both;
}

#m413_container #content .section .controls {
float:left;
width: 60%;
padding: 5px;
margin: 0;
position: relative;
display: block;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#m413_container #content .section-info .controls {
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
background:#FFF298;
border:1px solid #ECD852;
color:#424242;
font-family:Georgia, arial;
font-size:14px;
font-style:italic;
line-height:1.5em;
float:left;
width: 100%;
margin:0 15px 0 0;
padding:15px 20px;
}

#m413_container #content .section-checkbox .controls {
max-width:35px !important;
}

#m413_container #content .section-checkbox .controls > .checkbox {
margin: 0px;
}

#m413_container #content .section-color .controls {
max-width:125px;
}

#m413_container #content .section-typography .controls {
max-width:425px;
}

#m413_container .controls .m413-typography-size,#m413_container .controls .m413-typography-style,#m413_container .controls .m413-border-width {
float:left;
width:80px;
}

#m413_container .mini .controls select,
#m413_container #content .section .mini .controls,
#m413_container .mini .controls input,
#m413_container #content .mini .controls {
width:70px;
}

#m413_container #content .section .explain {
color:#999;
float:left;
font-size:11px;
padding: 5px;
width: 40%;
position: relative;
display: block;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#m413_container .group h2 {
border-bottom:3px solid #DDD;
display:none;
}

#m413_container #content .section-typography .explain {
width:120px;
}

#m413_container #content .section-checkbox .explain {
width:500px !important;
}

#m413_container #content .section-color .explain {
width:420px;
}

#m413_container #content .section-info .option {
padding-top:0;
}

/* Navigation and Lists */

#m413_container #m413-nav {
float:left;
position:relative;
width:25%;
z-index:9999;
margin: 0px;
display: block;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#m413_container #m413-nav li {
margin-bottom:0;
border-top:1px solid #FFF;
}

#m413_container #m413-nav ul li a:link,#m413-nav ul li a:visited {
border-bottom:1px solid #D1E5EE;
border-right:1px solid #D1E5EE;
color:#21759B;
display:block;
font-family:Georgia, Serif;
font-size:13px;
text-decoration:none;
padding:15px 10px 12px 20px;
}

#m413_container #m413-nav ul li.current a,#m413_container #m413-nav ul li.current a:hover {
background:#fff;
border-right:1px solid #FFF;
color:#333;
}

#m413_container #m413-nav ul li a:hover {
color:#D64E21;
}

/* Typography */

#m413_container #header .logo h2 {
font-style:normal;
padding-left:100px;
background:url(images/site-logo-32.png) 0 75% no-repeat;
}

#m413_container #content .section h3.heading {
border-bottom:1px solid #DDD;
margin:10px 0;
padding:7px 0;
}

#m413_container #content .section-info .controls small,*:first-child+html #m413_container #content .section .explain {
font-size:12px;
}

#m413_container #content .section-info h3.heading {
background:#EFE186;
border:0;
border-top:1px solid #FFF298;
font-size:12px;
font-weight:100;
letter-spacing:1px;
margin-bottom:0;
margin-top:20px;
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
padding:10px 20px;
}

/* Notification Boxes */

.updated,.error {
display:none !important;
}

#m413_container #js-warning {
color:red;
float:left;
width:330px;
margin:20px 10px;
}

.js #m413_container #js-warning,.hide {
display:none;
}

#m413_container .accept {
background:#DBF6BE no-repeat 10px center;
border:solid #9BBF65;
color:#060;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

#m413_container .warning {
background:#fee no-repeat 10px center;
border:solid #dfbfbf;
color:#333;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

#m413_container .update_available {
background:#FFFEEB no-repeat 10px center;
border:solid #CCC;
color:#333;
font-weight:700;
text-align:center;
border-width:0 1px 1px;
padding:10px;
}

.upload-error {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
background:#FFDFEC;
color:#666;
float:left;
font-size:10px;
font-weight:700;
text-decoration:none;
text-shadow:1px 1px 0 #FFF;
margin:0 10px 0 0;
padding:3px 10px;
}

.m413-notice {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
background:#ffd1d1;
border:1px solid #DFA8A7;
margin-bottom:15px;
text-align:center;
}

/* Inputs */

#m413_container .controls select {
width: 100%;
max-width:340px;
padding:0 0 0 4px;
}

#m413_container .controls textarea {
width: 100%;
max-width:345px;
resize:none;
}

#m413_container input[type=text] {
width: 100%;
max-width:340px;
}

#m413_container .controls .m413-typography-unit {
float:left;
width:50px;
}

#m413_container .controls .m413-typography-face {
float:left;
width:100px;
}

#m413_container .controls .m413-radio-img-img {
border:3px solid #fff;
cursor:pointer;
display:none;
float:left;
margin:0 5px 10px 0;
}

#m413_container .controls .m413-radio-img-selected {
border:3px solid #ccc;
}

#m413_container .controls .m413-radio-img-img:hover {
opacity:.8;
}

#m413_container .controls .m413-border-style {
float:left;
width:120px;
}

#m413_container .controls input:focus,#m413_container select:focus,#m413_container textarea:focus {
background:#fff;
}

#m413_container textarea,#m413_container input,#m413_container select {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
border-style:solid;
border-width:1px;
}

#m413_container .controls input,#m413_container .controls select,#m413_container .controls textarea {
background-color:#F4F4F4;
border:1px solid;
font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
font-size:12px;
margin-bottom:9px;
max-width:340px;
border-color:#ccc #e6e6e6 #e6e6e6 #ccc;
padding:4px;
}

#m413_container .controls .input-text-small {
margin-right:10px;
width:60px;
}

#m413_container input.checkbox,
#m413_container input.m413-radio {
width:30px;
margin: 0px 5px 0px 0px;
}

#m413_container .controls .checkbox {
background-color:#FFF !important;
border:0 !important;
}

#m413_container .section-select select {
height:35px;
}

/* Buttons and other Controllers */

.reset-button {
float:left;
}

.ajax-loading-img-top {
float:left;
margin:8px 4px 0;
}

#m413_container .m413-save-popup {
background:url(images/accept-bg.png) 0 0 no-repeat;
color:#fff;
display:none;
font-size:24px;
width:297px;
height:78px;
position:absolute;
text-align:center;
z-index: 2;
}

#m413_container .m413-save-save {
background:url(images/accept.png) 20px 50% no-repeat;
padding:30px 30px 30px 70px;
}

#m413_container .m413-save-reset {
padding:30px;
}

.upload_button_div {
margin-bottom:10px;
}

.upload_button_div .button {
cursor:pointer;
}

.upload_button_div .image_reset_button {
margin-left:10px;
}

#m413_container .button-primary {
-moz-border-radius:4px;
-webkit-border:4px;
border-radius:4px;
margin:0;
}

/* Additional Styles */

#m413_container .meta-two {
margin-right:10px;
}

#m413_container .controls .m413-color {
float:left;
margin-left:5px;
width:80px;
}

#m413_container .group {
padding-bottom:20px;
}

.m413-option-image {
max-width:340px;
}

/* Crappy IE Fixes */

*:first-child+html .reset-button {
margin-top:-24px;
}

*:first-child+html #m413_container .m413-save-save,*:first-child+html #m413_container .m413-save-reset {
padding:30px 30px 30px 65px;
}

/* Resposive Layout
-------------------------------------------------------------- */

@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 575px) {

}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (max-width: 767px) {
	#m413_container {
		width: 100%;
		margin: 0px;
	}
	#m413_container #m413-nav {
		padding: 10px;
		width: 100%;
	}
	#m413-nav > ul > li {
		display: inline-block;
	}
	#m413_container #m413-nav ul li a:link  {
		border: 1px solid #D1E5EE;
		margin: 0px 7px 5px 0px;
		padding: 10px;
	}
	#m413_container #content {
		width: 100%;
		padding: 10px;
	}
	#m413_container input.reset-button {
		padding: 3px 14px;
	}
	#m413_container #content .explain,
	#m413_container #content .section-checkbox .explain {
		display: block;
		width: auto !important;
	}
}