/*Importing new fonts*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,400);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);


h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', Arial, sans-serif !important;}
body {font-family: 'Roboto', Arial, sans-serif !important; font-weight: 400;}

/* Header */
#header-wrapper .pro-site-logo {
	margin-top: 10px !important;
	margin-bottom: 5px !important;
}

.header-style-2 .pro-site-logo{
  float: left;
  margin: 0px;
  margin-right: 10px;
}

.header-top-right-menu{
	float:right;
	top:5px;
	color:#fcffff !important;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75) !important;	
	margin: 25px 0;
}

.header-top-right-menu ul.hl-link-list{
	margin:0 10px 0 0;
	padding:0px;
	list-style:none;
	display:inline-block
}

.header-top-right-menu ul.hl-link-list li{
	display:inline-block
}

.header-top-right-menu ul.hl-link-list li.hl-seperator {
	margin: 0 10px;
}
.header-top-right-menu ul.hl-link-list li .hl-name{
	text-transform: capitalize;
}
.header-top-right-menu a.hl-logout{
	border-bottom:1px solid #f5fbfc;
}
.header-top-right-menu ul.hl-link-list li a.hl-logout:after{
	border-top:1px solid #26768f;
}
.header-top-right-menu a{
	text-decoration:none;
	color:#fcffff;
	margin:0px;
	display:inline-block;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);	
}
.header-top-right-menu a:hover{
	color: #fff;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
}
.header-menu-cart{
	display:inline-block;
}

.header-menu-cart #mp-anywhere-cart .mpawc-btn-cart .mpawc-btn{
	padding: 5px !important;
	border-radius: 20px !important;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
}

.header-menu-cart #mp-anywhere-cart .mpawc-btn.mpawc-btn-box > i.icon-shopping-cart,.header-menu-cart #mp-anywhere-cart .mpawc-btn.mpawc-btn-box:hover > i.icon-shopping-cart{
	background:none;
	margin:0;
	padding:0;
	color:#fff;
	margin:0 5px
}

.header-search-menu #mp-product-search-widget .mppsw-message{
	float: left;
	padding: 5px 20px;
	margin-bottom: 0px; 
}

.header-search-menu #mp-product-search-widget .mppsw-message-blue{
	float: none !important;
}


#header-wrapper ul.nav > li > a {
	line-height: 25px;
}

#header-wrapper ul.nav.desktop > li, #header-wrapper ul.nav.desktop {
	float:left !important;
}

.header-search-menu {
	/*float:right;*/
	/*width:30%;*/
	/*padding-top: 7px;*/
	margin-right: 20px;
}

.header-search-menu .mppsw-select-filterby,.header-search-menu .widgettitle{
	display:none !important;
}

.header-search-menu .mppsw-input-keyword{
	float: left;
	width: 70%;
}
.header-search-menu .mppsw-input-keyword .mppsw-input-text{
	-webkit-border-radius: 4px 0 0 4px !important;
	-moz-border-radius: 4px 0 0 4px !important;
	border-radius: 4px 0 0 4px !important;
	text-indent: 10px;
	padding: 4px 0.98888888% !important;
}

.header-search-menu button#productsearchsubmit{
	width:30% !important;
	float: right;
	padding: 4px 0px !important;
	-webkit-border-radius: 0 14px 14px 0 !important;
	-moz-border-radius: 0 14px 14px 0 !important;
	border-radius: 0 14px 14px 0 !important;	
}

#subheader{
	background: #fff;
}

#subheader h3{
	padding:5px 0px 0px;
	margin:0;
	/* color:#FFF2ED;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);	*/
}

.store-header-pic  img{
	padding: 10px 0 !important;
}
.store-header-location{
	font-size:11px;
	color:#2b849e
}
#subheader .subheader-container{
	/* box-shadow: 0px -50px 50px -40px rgba(0, 0, 0, 0.25) inset, 0px 50px 50px -40px rgba(0, 0, 0, 0.25) inset; */
}

/* TT Frontendt */

.tt_mp_fe h3{
	font-size: 24.5px;
}

/* Product */
 #mp-premium-features .mppf-input-box input{
 padding:8px 10px
 }
 
.toprank_image_upload_container{
	float:left;
	margin:15px 10px;
 }
 
p.top_rank_featured_image{margin:0;clear:both;padding: 10px 0;text-align: center;} 
p.top_rank_featured_image input {
	margin-right: 5px;
	vertical-align: top;
}
 
.product-buy-now #mp-premium-features .mppf_buy_form, .product-buy-now #mp-premium-features .mppf-wishlist-form,.product-buy-now #mp-premium-features .mppf-product-compare-form{
display:inline-block;
margin:5px
}
 
/***Added Style**/

#form-step3 input[type="text"]{
	width: 100% !important;
}
#setupform .btn-inverse {
	background: linear-gradient(to bottom, #2d8da7 0%, #3298b7 100%) repeat scroll 0 0 #2f8ea9;
    border: 1px solid #3b9db9;
    color: #fff;
    padding: 1px 13px;
    text-shadow: 1px 1px 1px #2f8ea9;
    transition: all 0.35s ease-in-out 0s;
}

#setupform .site-categories-required { display: none; }

#setupform .well-small {
	margin-top: 20px;
}

#setupform ol {
	margin: 0 0 10px 0px !important;
}
#setupform select {
	width: 100% !important;
}
#setupform ul{
    width:210px;
}
#setupform  li{
    float:left;
    height:30px;
   /* margin:0 10px 10px 0;*/
    width:310px;
}

#setupform #bcat_site_categories_section ul {
margin-left: 19px;
margin-bottom: 0px;
}

#setupform #site-categories-list li {
width: 25% !important;
}

#setupform  li:nth-child(even){
    margin-right:0;
}

#setupform .translate {
	display: block; margin-top: -5px;
}

#setupform .input-control-checkbox input[type="checkbox"]:checked ~ .check-checkbox:after {
	top: -3px;
	font-size: 11px;
	right: -4px;
}

#setupform .about {
	margin-top: 5px;
}

/* Login and Register */
.required {
	color: #4699b2;
	font-size: 19px;
	vertical-align: middle;
	margin-right: 3px;
}

/** Switch
 -------------------------------------*/

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */
_switch label{
min-width: 40px !important;
}
 
  
.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2.5em;
  background: #BDB9A6;
  border-radius: 1em;
  position: relative
}

.switch:after {
  font-size: 10px;
  content: '\f00d';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.switch:before {
  content: '\f00c';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}
.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

/***End Added Style**/

.custom-page ul.tabs_login {
	padding: 0; 
	margin: 20px 0 0 0;
	position: relative;
	list-style: none;
	font-size: 14px;
	z-index: 1000;
	float: left;
	}
ul.tabs_login li {
	border: 1px solid #E7E9F6;
	 -webkit-border-top-right-radius: 10px;
	 -khtml-border-radius-topright: 10px;	
	 -moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	 -webkit-border-top-left-radius: 10px;
	 -khtml-border-radius-topleft: 10px;	
	 -moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	line-height: 28px; /* = */ height: 28px;
	padding: 0; margin: 0 5px 0 0;
	position: relative;
	background: #fff;
	overflow: hidden;
	float: left;
	}
ul.tabs_login li a {
	text-decoration: none;
	padding: 0 10px;
	display: block;
	outline: none;
	}
html ul.tabs_login li.active_login {
	border-left: 1px solid #E7E9F6;
	border-bottom: 1px solid #fff;
	 -webkit-border-top-right-radius: 10px;
	 -khtml-border-radius-topright: 10px;	
	 -moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	 -webkit-border-top-left-radius: 10px;
	 -khtml-border-radius-topleft: 10px;	
	 -moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	background: #fff;
	color: #333;
	}
.custom-page ul.tabs_login2 {
	padding: 0; 
	margin: 20px 0 0 0;
	position: relative;
	list-style: none;
	font-size: 14px;
	z-index: 1000;
	float: left;
	}
ul.tabs_login2 li {
	border: 1px solid #E7E9F6;
	 -webkit-border-top-right-radius: 10px;
	 -khtml-border-radius-topright: 10px;	
	 -moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	 -webkit-border-top-left-radius: 10px;
	 -khtml-border-radius-topleft: 10px;	
	 -moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	line-height: 28px; /* = */ height: 28px;
	padding: 0; margin: 0 5px 0 0;
	position: relative;
	background: #fff;
	overflow: hidden;
	float: left;
	}
ul.tabs_login2 li a {
	text-decoration: none;
	padding: 0 10px;
	display: block;
	outline: none;
	}
html ul.tabs_login2 li.active_login {
	border-left: 1px solid #E7E9F6;
	border-bottom: 1px solid #fff;
	 -webkit-border-top-right-radius: 10px;
	 -khtml-border-radius-topright: 10px;	
	 -moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	 -webkit-border-top-left-radius: 10px;
	 -khtml-border-radius-topleft: 10px;	
	 -moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	background: #fff;
	color: #333;
	}



html body ul.tabs_login li.active_login a { font-weight: bold; }
.tab_container_login {
	background: #fff;
	position: relative;
	margin: 0 0 20px 0;
	border: 1px solid #E7E9F6;
	 -webkit-border-bottom-left-radius: 10px;
	 -khtml-border-radius-bottomleft: 10px;	
	 -moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	 -webkit-border-bottom-right-radius: 10px;
	 -khtml-border-radius-bottomright: 10px;	
	 -moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	 -webkit-border-top-right-radius: 10px;
	 -khtml-border-radius-topright: 10px;	
	 -moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	z-index: 999;
	float: left;
	width: 99%;
	top: -1px;
	}
.tab_content_login {
	padding: 7px 15px 15px 15px;
	padding-top: 10px;
	}
	.tab_content_login ul {
		padding: 0; margin: 0 0 0 15px;
		}
		.tab_content_login li { margin: 5px 0; }
/* global styles */
#login-register-password {}
	#login-register-password h3 {
		border: 0 none;
		margin: 10px 0;
		padding: 0;
		}
	#login-register-password p {
		margin: 0 0 15px 0;
		padding: 0;
		}
/* form elements */
.wp-user-form {}
	.username, .password, .login_fields {
		margin: 7px 0 0 0;
		overflow: hidden;
		width: 100%;
		}
		.username label, .password label { float: left; clear: none; width: 25%; }
		.username input, .password input { 
			font: 12px/1.5 "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
			float: left; clear: none; width: 200px; padding: 2px 3px; color: #777;
			}
.rememberme { overflow: hidden; width: 100%; margin-bottom: 7px; }
#rememberme { float: left; clear: none; margin: 4px 4px -4px 0; }
.user-submit { padding: 5px 10px; margin: 5px 0; }
.userinfo { float: left; clear: none; width: 75%; margin-bottom: 10px; }
	.userinfo p { 
		margin-left: 10px; 
		}
.usericon { float: left; clear: none; width: 15%; margin: 0 0 10px 22px; }
	.usericon img {
		border: 1px solid #F4950E;
		padding: 1px;
		}

.custom_login {float:left;margin-left: 10px;}

.user-login-facebook ._4z_d ._4z_f {
    padding: 15px 6px;
}

#setupform label { display: inline-block;min-width: 110px; color: #333333; }

#wpcr_hcard_s{display:none !important}
.wpcr_status_msg div{

}

.tp_store_rating_con{
	color:#E2E2E2;
	text-shadow:1px 1px 1px #000;
    cursor: pointer;
    cursor: hand;	
}
.tp_store_rating_con:hover{
	color:#FFFFFF;
}
.tp_store_rating_con2{
	cursor: pointer;
    cursor: hand;
}
.tp_store_rating_con2, .store-header-location a{
	color:#0088cc !important
}
.tp_store_rating_con2 span{
	display: block;
}

.tp_store_rating_con2:hover,.store-header-location a:hover{
	color:#000 !important;
}

.tp_store_rating {
    line-height: 1.7em;
    display: block;
}

.tp_store_base {
    background: url(img/newstars.png) no-repeat scroll 0px 0px transparent;
    width: 85px;
    height: 17px;
    float: left;
    padding-right: 4px;
    overflow: hidden;
    display: block;
}

.tp_store_average {
    background: url(img/newstars.png) no-repeat scroll 0px -15px transparent;
    text-indent: -9999px;
    height: 17px;
}

.tp_store_rating * {
    border: 0px none;
    margin: 0px;
    padding: 0px;
}

#mp-storepicker {margin-left:25px;}
.custom-page strong {font-weight:bold;}
.custom-page p {margin-bottom:5px;}
.gllpMap	{ width: 100%; height: 250px; }

.morectnt span {
	display: none;
}
a.showmoretxt{
	color: #0088cc !important;
}
a.showmoretxt:hover{
	color: #000 !important;
}
/* Index Blog Post */

#index-blogs-con{
	position:relative
}
.index-blog{
	margin-top:30px
}

.index-blog-headings{
	text-align:center;
	margin: 0 0 10px;
	font-family: 'Lato Regular', Arial, sans-serif;
	position:relative;
}

.index-blog-headings h3, .index-blog-headings h5{
	margin:0px;
	padding:0px
}

a.index-blog-headings-more{
	position:absolute;
	top:10px;
	right:10px
}


hr.index-blog {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin:0px !important
}
.index-blogs-post{
	background:#FFF;
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;	
}

.index-blogs-post:hover{
	webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15), 0px 20px 20px -12px rgba( 0 , 0 , 0 , 0.35 );
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15), 0px 20px 20px -12px rgba( 0 , 0 , 0 , 0.35 );
}

.index-blogs-post img.wp-post-image{
	display:block;
	width:100%;
	height:50%
}

.index-blogs-post a.blog-image-cover {
	background-repeat: no-repeat;
	background-position: center center;
	height: 149px;
	width: 100%;
	border: 1px #ddd solid;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:block;
	margin-top:10px;
}

.index-blogs-post a.index-blogs-readmore{
	color: #3299B7;
	display: inline-block;
	margin-top:10px;
}
.index-blogs-post a.index-blogs-readmore:hover{
	color:#000
}

/* Prev Nex Navigation */
#index-blogs-con .index_blogs_next,#index-blogs-con .index_blogs_prev{
	position: absolute; 
	top:30%; 
	cursor: pointer; 
	zoom:1;
	z-index:200;
	background: #CACACA;
	height:140px;
	width:28px;	
	visibility: hidden;
	opacity:0;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;	
}
#index-blogs-con .index_blogs_next {
	right: 0px;  
	border-radius: 4px 0 0 4px;
}
#index-blogs-con .index_blogs_prev {
	left: 0px;
	border-radius: 0 4px 4px 0;
}


#index-blogs-con .index_blogs_next:hover, #index-blogs-con .index_blogs_prev:hover{
	background: #000;
}

#index-blogs-con .index_blogs_next i, #index-blogs-con .index_blogs_prev i  {
	height: 100%;
	background: none;
	font-family: FontAwesome;
	font-style: normal;
	font-weight:normal;
	width: 28px;
	line-height: 140px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}

#index-blogs-con:hover > div.index_blogs_navi{
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}

#slider-wrapper #homepage-content-wrapper {
	background:none;
	padding-bottom: 0px
}

.media-modal-icon .screen-reader-text{display:none}

.login-page{
	width:448px;
	margin:0 auto
}

.login-page .page-content{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #e0e0e0;
}

.login-page .login-footer-text{
	text-align:center;
	color:#343434;
	font-size:14px;
	letter-spacing: 1px;
	
}
.login-page .login-footer-text a{color: #478793}

.login-page-form{width:308px; margin:5px auto 0}
.login-page-form .wdfb_login_button{margin-bottom:4px}

.login-page-form #user_login{margin-bottom:15px}

.login-page-form #user_login, .login-page-form #user_pass{
	width: 96% !important;
}

.login-page .login-input-email-input:focus,.login-page .login-input-pass-input:focus{
	border:none;
	box-shadow: none;
	outline: 0 none;
}
.login-forgot-pass{
	margin-bottom:5px
}
.login-forgot-pass a{
	color:#a5a5a5;
}
.login-forgot-pass a:hover{
	color:#477c8d;
}

.login-remember-check{
	color:#2f94b0;
}

/*  Custom Checkbox */

.input-control-checkbox {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-bottom: 2px;
	color:#2f94b0;
}

.input-control-checkbox label {
	display: block;
	margin: 5px 0;
}

.input-control-checkbox input[type="checkbox"]{
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
}

.input-control-checkbox .check-checkbox {
	width: 10px;
	height: 10px;
	background-color: #e3e4e6;
	border: 1px #e4e4e5 solid;
	padding: 1px;
	margin: -2px 5px 0 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
	box-shadow: 0px 1px 2px #ABACAD;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF ),color-stop(0.4, #ECE6E6 ));
background-image: -o-linear-gradient(bottom, #FFFFFF  0%, #ECE6E6  40%);
background-image: -moz-linear-gradient(bottom, #FFFFFF  0%, #ECE6E6  40%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF  0%, #ECE6E6  40%);
background-image: -ms-linear-gradient(bottom, #FFFFFF  0%, #ECE6E6  40%);
background-image: linear-gradient(to bottom, #FFFFFF  0%, #ECE6E6  40%);
}

.input-control-checkbox .check-checkbox:after {
	position: absolute;
	font-size: 9pt;
	line-height: 9pt;
}

.input-control-checkbox input[type="checkbox"]:checked ~ .check-checkbox:after {
	content: "\f00c";
	margin: 4px;
	top: -4px;
	color: #367586;
	font-size: 11px;
	right: -4px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

/* .slideThree */
.slideOne {
  display:inline-block;
  width: 45px;
  height: 16px;
  margin: 5px 15px 20px 5px;
  position: relative;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #184C5B;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #184C5B),
		color-stop(1, #2A849D)
	);
	background-image: -o-linear-gradient(bottom, #184C5B 0%, #2A849D 100%);
	background-image: -moz-linear-gradient(bottom, #184C5B 0%, #2A849D 100%);
	background-image: -webkit-linear-gradient(bottom, #184C5B 0%, #2A849D 100%);
	background-image: -ms-linear-gradient(bottom, #184C5B 0%, #2A849D 100%);
	background-image: linear-gradient(to bottom, #184C5B 0%, #2A849D 100%);
    vertical-align:middle	
}

.slideOne:after {
  content: '\f00d';
  color: #fff;
  position: absolute;
  right: 7px;
  top:-3px;
  z-index: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}
.slideOne:before {
  content: '\f00c';
  color: #fff;
  position: absolute;
  left: 7px;
  top:-3px;
  z-index: 0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}
.slideOne label {
 z-index: 1;
  min-width: 0px !important;	
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -3px;
  cursor: pointer;
  background: #f9f9f9;
  border:1px solid #e5e5e5;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e9e9e9 40%, #dadada 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 40%, #dadada 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #e9e9e9 40%, #dadada 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slideOne input[type=checkbox] {
  visibility: hidden;
}
.slideOne input[type=checkbox]:checked + label {
  left: 23px;
}

.login-checkbox-remember span{
	display: inline-block;
	vertical-align: top;
	padding-top: 2px;
}

.reg-store-remember-ex{
	margin-top:25px
}

.login-button{
	background:#5093b7;
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #31809e),
		color-stop(1, #3892b4)
	);
	background-image: -o-linear-gradient(bottom, #31809e 0%, #3892b4 100%);
	background-image: -moz-linear-gradient(bottom, #31809e 0%, #3892b4 100%);
	background-image: -webkit-linear-gradient(bottom, #31809e 0%, #3892b4 100%);
	background-image: -ms-linear-gradient(bottom, #31809e 0%, #3892b4 100%);
	background-image: linear-gradient(to bottom, #31809e 0%, #3892b4 100%);  
	*/
	border:none;
	padding: 4px 15px;
	/*border:1px solid #2c748d;
	text-shadow:1px 1px 1px #205064;*/
	color:#fff;
	transition: all 0.35s ease-in-out 0s;
	margin-top: 17px;
	/*  -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.78);
	-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.78);
	box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.78); */
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;	
}
.login-button:hover{
	background:#21F748C;
	color:#fff;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #1F748C),
		color-stop(1, #2690AD)
	);
	background-image: -o-linear-gradient(bottom, #1F748C 0%, #2690AD 100%);
	background-image: -moz-linear-gradient(bottom, #1F748C 0%, #2690AD 100%);
	background-image: -webkit-linear-gradient(bottom, #1F748C 0%, #2690AD 100%);
	background-image: -ms-linear-gradient(bottom, #1F748C 0%, #2690AD 100%);
	background-image: linear-gradient(to bottom, #1F748C 0%, #2690AD 100%);	
}

.login-button-x{
	padding: 5px 16px;
}

a.fb-signup-botton{
	padding: 4px 14px 4px 50px;
	position: relative;
	vertical-align:bottom;
	display:inline-block;
	font-family: Tahoma;
}
a.fb-signup-botton:before{
	content: "\f09a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 17px;
    padding: 0 12px 0 14px;
	border-right:1px solid #fff;
    position: absolute;
    top: 5px;
    left: 0;
	z-index:1
}
.register-store-buttons,.register-store-extext{
	margin-top:34px;
	padding:0;
}
.register-store-extext {margin-top: 20px;margin-bottom:0;}
.register-store-extext a{color:#3399cc}

hr.login-separator {
    padding: 0;
    border: none;
    border-top: medium double #b3b3b3;
    color: #b3b3b3;
    text-align: center;
}
hr.login-separator:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
/* end .slideThree */

/* register store */

.register-page-inner small{
	color: #666666;
}
.register-page-inner .help-block{
	color: #666666;
}

.register-page-inner #blogform{
	margin-top: 50px;
}

.register-page-inner{
	width:60%;
	margin: 0 auto;
}

.register-page-inner form.sa-form .width-100{
	width:100%;
	margin-bottom: 7px;
	color: #999999;
}

.register-store-button-submit{
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	border-radius: 4px;	
	padding: 8px 50px;
	background:#2d8ba5;
	border:1px solid #2084a1;
	color:#fff;
	font-weight:700;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow:1px 1px 1px #1b7691;
	transition: all 0.35s ease-in-out 0s;
}
.register-store-button-submit:hover{
	background:#29849d;
}
.register-page-title{
	letter-spacing: 1px;
	text-align: center;
	font-weight: normal;
	font-size:16px
}
.register-page-steps .steps-names{
	text-align:center;
	color:#0e9828;
	font-weight:bold;
	margin: 34px 0 42px;
}

.stepn-arrow{
	background:transparent url(img/arrow-step.png) no-repeat;
	width:39px;
	height:11px;
	margin:0 25px;
	vertical-align:middle
}
.register-page-steps .steps-names span{
	display:inline-block;
	color:#999999
}

.register-page-steps .steps-names span.stepn-active{
	color:#2e8ca8
}


.add-ofset-span{
	/*margin-left: 19.6582% !important;*/
}
a.wdfb_register_button span{
	padding: 0px 6px 0px 12px;
}

.register-page-inner .step_back {
	margin-top: 15px;
}
.register-page-inner .step_back button {
	border: 1px solid #2e8ca8;
	padding: 5px 15px;
	width: 30%;
	color: #2e8ca8;
	background-color: white;
	border-radius: 3px;
	text-decoration: none;
}

.register-page-inner .step_back button:hover {
	background-color: rgb(238, 243, 247);
}

.register-page-inner a.wdfb_register_button{
	margin-left:0px
}
.register-page-inner p.help-block{ font-size:12px; line-height: initial;}

.translate-block {
margin-top: -7px;
margin-bottom: -6px;
}

div.light_rounded .pp_close {
	width: auto;
	height: auto;
	padding: 0 5px 3px 10px;
	text-indent: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);	
	transition: all .35s ease-in-out;
}
div.light_rounded .pp_close:after{
	content: "\f057";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	margin-left: .3em;
	margin-left: .3em;
	font-size: 1em;
}
div.light_rounded .pp_close:hover{
	background-color: #bd362f;
}


/*Facebook Connect Button*/

.login-page .fb_iframe_widget iframe, .user-register-page-inner .fb_iframe_widget iframe {
    opacity: 0;
}

.login-page .fb_iframe_widget, .login-page .fb_iframe_widget span, .login-page .fb_iframe_widget span iframe[style] {
    width: 145px !important;
}

.user-register-page-inner .fb_iframe_widget, .user-register-page-inner .fb_iframe_widget span, .user-register-page-inner .fb_iframe_widget span iframe[style],.user-register-page-inner .fb_iframe_widget span iframe #u_0_1 {
    width: 225px !important;
	height:33px !important;
}

.login-page .fb_iframe_widget {
  background-image: url(img/fb-login2.png);
  background-repeat: no-repeat; 
}

.user-register-page-inner .fb_iframe_widget {
  background-image: url(img/fb-register.png);
  background-repeat: no-repeat; 
}
/* background: #f4f4f4; */
/* Mobile  View */
@media (max-width: 979px){
	.header-search-menu{
		width:100%;
		float:none;
		margin-right:0px;
	}
	
	@media (max-width: 979px){
		#product-category-menu-header .outercontainer{
			margin:0 30px
		}
	}	
}

@media (max-width: 770px){ 

.step {
	text-align: left !important;
	margin-top: 5px;
}
	
}

@media (max-width: 640px){
	.header-style-2 .pro-site-logo{
		float:none;
		text-align:center !important;
	}
	.header-top-right-menu{
		float:none;
		text-align:center;
		margin-bottom: 5px;
	}
	.header-top-right-menu a{
		line-height:40px;
	}
	
	#index-blogs-con .index_blogs_next,#index-blogs-con .index_blogs_prev{
		top:40%
	}
	.index-blog-headings{
		margin: 0 0 40px;
	}	
	a.index-blog-headings-more{
		top:70px
	}
		
}

@media (max-width: 480px){

	.header-menu-cart {
		display: block;
	}	
	
	.header-menu-cart #mp-anywhere-cart .mpawc-btn-cart .mpawc-btn{
		display:block
	}
	
	.login-page{
		width:100%;
		margin:0;
	}
	
}

@media (max-width: 360px){
	.login-page-form{
		width:100%;
	}
}

.user-register-page-inner {
width: 60%;
margin: 0 auto;
}

.user-register-page-inner .help-block{
font-size: 85%;
}

.user-register-page-inner .page-heading {
	border: 0 !important;
}

.user-register-page-inner .login-button{
	margin-top: 0px;
}

.translate_bg {
	background-image: url(img/lg_bg.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 21px;
	height: 21px;
	vertical-align: -webkit-baseline-middle;
}

.translate_en {
	background-image: url(img/lg_en.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 21px;
	height: 21px;
	vertical-align: -webkit-baseline-middle;
}
/* store image upload style */
.wrapper-store {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
}
.wrapper-store .file-upload {
  height: 30px;
  width: auto;
  padding: 2px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 11px;
}
.wrapper-store .file-upload input[type='file'] {
  height: 20px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.register-page-inner #bcat_site_description_section .help-block {
	margin-top: -7px;
}

.register-page-inner #bcat_site_categories_section .help-block {
	margin-top: -8px;
}

.register-page-inner #bcat_site_description_section .translate-block {
	margin-top: -5px;
}

/* .register-page-inner form.sa-form [class*="width"] { padding: 15px; } */

#bcat_site_description_section textarea {
	overflow-y: scroll;
	overflow-x: hidden;
}
a.mpdg-pro-name-link h3.entry-title{
	font-size:18px
}
#mp-dynamic-grid .mpdg-item.mpdg-extra-style-3 .mpdg-pro-name-holder{
	padding: 0 15px
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #5093b7;
    box-shadow: none;
    outline: 0 none;
}

#mp_cart_page table th {
	padding-left: 9px;
	color: #5093b7;
	border: 1px solid #e4eaf1;
}
#mp_cart_page .mp_cart_contents thead, .mp_cart_shipping thead {
	background: #f6f9fb;
}


.mp_cart_direct_checkout_link {
background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}

.mp_cart_direct_checkout {
	margin-top: -10px;
}

#mp_cart_form {
	margin-bottom: 0px;
}

.mp_cart_direct_checkout .mp_shipping_submit {
background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}
/*
#mp_cart_page input[type="submit"], #mp_cart_page table input[type="submit"], #mp_cart_page a#coupon-link {
	background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}*/

.updatecart-custom {
	background: #FFFFFF !important;
border-radius: 2px !important;
border: 1px solid #2f96b4 !important;
padding: 4px 15px !important;
color: #2f96b4 !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
}

#mp_shipping_submit {
background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}

#mp_payment_confirm {
background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}

.mp_cart_login #mp_login_submit {
background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}

#coupon-link {
background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 0px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}

.update-coupon {
background: #5093b7 !important;
border: none !important;
padding: 6px 12px !important;
color: #fff !important;
transition: all 0.35s ease-in-out 0s !important;
margin-top: 17px !important;
-moz-transition: all 0.4s ease !important;
-o-transition: all 0.4s ease !important;
-webkit-transition: all 0.4s ease !important;
transition: all 0.4s ease !important;
border-radius: 2px !important;
}

#mp_cart_page #coupon-code input[type="submit"] {
	vertical-align: super;
}
#coupon-code label { margin-bottom: -15px; }

.quick-login {
border-color: transparent !important;
background-color: transparent !important;
margin: 0 !important;
width: auto !important;
}

.quick-login td, tr {
	border-color: transparent !important;
	padding: 0px 10px 0px 0px !important;
}

.quick-login #mp_login_submit {
	margin-top: 0px !important;
}

body.my-account #page-wrapper .content-section .page-heading,.custom-title{
	padding: 0 20px !important;
}

body.my-account #page-wrapper .content-section .page-heading h1,.custom-title h1{
	font-size: 15px !important;
	line-height: 12px !important;
	font-family: 'Roboto Regular', Arial, sans-serif !important;
	font-weight: normal;
}

.mp_cart_contents thead { letter-spacing: 0.0625em; }
.mp_cart_shipping thead { letter-spacing: 0.0625em; }
.mp_cart_payment_methods thead { letter-spacing: 0.0625em; }
.mp_cart_contents .input-control-checkbox .check-checkbox { vertical-align: inherit; }
.mp_cart_contents .input-control-checkbox label { margin: 6px 0px 0px -6px; }
#mp_cart_page table td { padding: 15px; }

input[type=radio],
input[type=checkbox] {
  /* font-size: 0.8em; */
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 0.1em solid #bbb;
  background: none;
  padding: 0.2em;
  /* margin: 0 0.2em; */
  font-family: Consolas, "Courier New", monospace;
  width: 1em;
  height: 1em;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-appearance: none;
}
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 0;
  border-color: #CFCFCF;
}

input[type=radio] {
  border-radius: 100%;
  background-clip: content-box;
}
input[type=radio]:checked {
  background-color: #4ac;
}
