@CHARSET "UTF-8";

.sbHolder{
	background-color: #ffffff; 
	border: 1px #cccccc solid;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 34px;
	position: relative;
	cursor: pointer;
	background-image: url('../img/select_arrow.jpg');	
	background-repeat: no-repeat;
	background-position: right 6px top 50%;
	float: left;
	min-width: 100%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 100%!important;
	text-decoration:none !important;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #616162;
	outline: none;
	text-decoration: none;


}

.sbOptions li{
	float:none !important;
	margin-left: 0 !important;	
	width:100% !important;
	height: auto !important;
}

.sbOptions li a{
	text-decoration: none !important
}

.sbToggle{
	/*background: url(../img/select-icons.png) 0 -116px no-repeat;*/
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	/*background: url(../img/select-icons.png) 0 -167px no-repeat;*/
}
.sbToggleOpen{
	/*background: url(../img/select-icons.png) 0 -16px no-repeat;*/
}
.sbToggleOpen:hover{
	/*background: url(../img/select-icons.png) 0 -66px no-repeat;*/
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #ffffff;
	border: 1px #cccccc solid;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 200px;
	z-index: 1;
	overflow-y: auto;
	width:100%;
	/*height: 100%;*/
}
.sbOptions span.icon-chevron-right{
	margin: 0 4px 0 8px;
}

.sbOptions a{
	border-bottom: solid 1px #cccccc;
	display: block;
	outline: none;
	padding: 7px 0 7px 9px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #616162;
	text-decoration: none;
}

.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #3897c7;
	background-color: #f6f6f6;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: solid 1px #cccccc;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: solid 1px #cccccc;
	color: #616162;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}
.controlGroup div{
	margin-bottom: 10px;
}
@media screen and (max-width: 755px){
	.sbClassHolder{

		/*min-width: 95%!important;*/

	}	
}
@media screen and (min-width: 756px){
	.sbClassHolder{

		min-width: 98%!important;

	}	
}
