/* Styling:   Purple
 *  Main Color:  #81327d;
 *  Sub Color:  #984394;
 */
/* ================= Body Section ================= */
body {
	background: #fff;
	color: #676767;
}

/* ================= header Section ================= */
#header-wrapper {
	background: #81327d;
	border-bottom: 0px solid #81327d;

	-webkit-box-shadow: inset 0px -50px 50px -40px rgba(0, 0, 0, 0.45), inset 0px 50px 50px -40px rgba(0, 0, 0, 0.45);
	box-shadow: inset 0px -50px 50px -40px rgba(0, 0, 0, 0.45), inset 0px 50px 50px -40px rgba(0, 0, 0, 0.45);
}

#header-wrapper .navbar-inner {
	border: none;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#header-wrapper .navbar-inverse .btn-navbar {
	background: #81327d;
}

#header-wrapper ul.nav > li.active > a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#header-wrapper .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #676767;
	border-bottom-color: #676767;
}

#header-wrapper .nav li.dropdown:hover > .dropdown-toggle .caret {
	cursor: pointer;
}

#header-wrapper .nav li.dropdown:hover > .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

#header-wrapper .nav > .active > a,#header-wrapper .nav > .active > a:focus {
	background: none;
	color: #fff;
}

#header-wrapper .nav > li > .dropdown-menu:before,#header-wrapper .nav > li > .dropdown-menu:after {
	border: none;
}

#header-wrapper .dropdown-menu a,#header-wrapper .dropdown-submenu a,#header-wrapper .dropdown-menu,#header-wrapper .dropdown-menu li > a {
	background: #81327d;
	color: #fff;
	border: none;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#header-wrapper .nav > .active > a:hover,#header-wrapper .nav > li > a:hover,#header-wrapper .nav > li.dropdown:hover > a.dropdown-toggle {
	background: #81327d;
	color: #fff;
}

#header-wrapper .dropdown-menu .active > a,#header-wrapper .dropdown-menu .active > a:hover,#header-wrapper .dropdown-menu li > a:hover,#header-wrapper .dropdown-menu li > a:focus,#header-wrapper .dropdown-submenu:hover > a {
	background: #fff;
	color: #000;
}

#header-wrapper.header-style-3 .pro-site-logo .pro-logo-tagline {
	color: #ffffff;
}

#header-wrapper.header-style-3 .nav > li > a {
	color: #ffffff;
}

#header-wrapper.header-style-3 .nav > .active > a,
#header-wrapper.header-style-3 .nav > li > a:hover,
#header-wrapper.header-style-3 .nav > li.dropdown:hover > a.dropdown-toggle {
	background: #444444;
}

#header-wrapper.header-style-3 .dropdown-menu a,
#header-wrapper.header-style-3 .dropdown-submenu a,
#header-wrapper.header-style-3 .dropdown-menu,
#header-wrapper.header-style-3 .dropdown-menu li > a {
	background: #444444;
	color: #fff;
}

#header-wrapper.header-style-3 .dropdown-menu .active > a,
#header-wrapper.header-style-3 .dropdown-menu .active > a:hover,
#header-wrapper.header-style-3 .dropdown-menu li > a:hover,
#header-wrapper.header-style-3 .dropdown-menu li > a:focus,
#header-wrapper.header-style-3 .dropdown-submenu:hover > a {
	background: #c2c2c2;
	color: #000;
}

#header-wrapper.header-style-3 .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

/* ================= Font ================= */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Bree Serif', Georgia, serif;
}

body {
	font-family: 'News Cycle', sans-serif;
}

/* ================= Text styling & Font ================= */
h1,h2,h3,h4,h5,h6 {
	color: #0c0c0c;
	text-shadow: 0px 1px 0px #e2e2e2;
}

h1.page-header,h2.page-header,h3.page-header,h4.page-header,h5.page-header,h6.page-header {
	color: #0c0c0c;
	border-bottom: 1px solid #e5e5e5;
}

a {
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	color: #0c0c0c;
}

a:hover {
	color: #81327d;
	text-decoration: none;
}

/* ================= Slider Wrapper ================= */
#slider-wrapper.noslider {
	background: #0c0c0c;
	color: #fff;
}

#slider-wrapper.noslider h2.page-header {
	color: #fff;
	border-bottom: 1px dashed #fff;
}

#slider-wrapper.noslider ol.steps {
	list-style-type: decimal;
	color: #fff;
}

/* ================= Homepage Content Wrapper ================= */
#homepage-content-wrapper {
	background: #f4f4f4;
	border-top: 1px solid #fff;
	color: #676767;

	-webkit-box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
}

/* ================= Page ================= */
#page-wrapper .content-section {
	background: #f4f4f4;
	border-top: 1px solid #fff;
	color: #676767;

	-webkit-box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
}

#page-wrapper .content-section .page-heading,#page-wrapper .content-section .page-content,#page-wrapper .content-section .page-comments {
	background: #fff;
	border: 1px solid #e5e5e5;
}

#page-wrapper .content-section .page-heading .page-header {
	border: none;
}

/* ================= Page (Blog) ================= */
.blog-post {
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.blog-post .date {
	background: #81327d;
	color: #ffffff;
}

.blog-post .comments {
	background: #0c0c0c;
	color: #ffffff;
}

.blog-post .comments a {
	color: #ffffff;
}

.blog-post:hover {
  	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15),
  				0px 20px 20px -12px rgba( 0 , 0 , 0 , 0.35 );
  	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15),
  				0px 20px 20px -12px rgba( 0 , 0 , 0 , 0.35 );
}

.blog-post .label-tag a {
	color: #fff;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

.blog-post .label-tag a:hover {
	color: #E2E2E2;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

.blog-post .label-tag,.blog-post .label-tag[href] {
	background-color: #81327d;
}

.blog-post ol.flex-control-nav > li > a {
	background: #000000;
	border: 3px solid #ffffff;
}

/* ================= Single (Post) ================= */
#post-wrapper .content-section {
	background: #f4f4f4;
	border-top: 1px solid #fff;
	color: #676767;

	-webkit-box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
}

#post-wrapper .content-section .post-heading,#post-wrapper .content-section .post-meta,#post-wrapper .content-section .post-content,#post-wrapper .content-section .post-comments {
	background: #fff;
	border: 1px solid #e5e5e5;
}

#post-wrapper .content-section .post-heading .page-header {
	border: none;
}

#post-wrapper .content-section .label-tag a {
	color: #fff;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

#post-wrapper .content-section .label-tag a:hover {
	color: #E2E2E2;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

#post-wrapper .content-section .label-tag,#post-wrapper .content-section .label-tag[href] {
	background-color: #81327d;
}

.date-comment-box {
	border: 1px solid #e5e5e5;
}

.date-comment-box .date {
	background: #81327d;
	color: #fff;
}

.date-comment-box .comments {
	background: #0c0c0c;
	color: #ffffff;
}

.date-comment-box .comments a {
	color: #ffffff;
}

/* ================= Single (Product) ================= */
#product-single-wrapper .content-section {
	background: #f4f4f4;
	border-top: 1px solid #fff;
	color: #676767;

	-webkit-box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.15);
}

#product-single-wrapper .product-title {
	background: #fff;
	border: 1px solid #e5e5e5;
}

#product-single-wrapper .product-title .product-price {
	color: #81327d;
}

#product-single-wrapper .image-box:hover {
	-webkit-box-shadow: 0px 0px 3px 2px #81327d;
	box-shadow: 0px 0px 3px 2px #81327d;
}

#product-single-wrapper .content-section .product-categories,#product-single-wrapper .content-section .product-excerpt,#product-single-wrapper .content-section .product-pricing,#product-single-wrapper .content-section .product-buy-now {
	background: #fff;
	border: 1px solid #e5e5e5;
}

#product-single-wrapper .content-section .label-tag,#product-single-wrapper .content-section .label-tag[href] {
	background-color: #81327d;
}

#product-single-wrapper .content-section .label-tag a {
	color: #fff;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

#product-single-wrapper .content-section .label-tag a:hover {
	color: #E2E2E2;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

#product-single-wrapper .content-section .tab-content {
	background: #ffffff;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

#product-single-wrapper .related-products {
	padding: 0px;
	background: none;
	border: none;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#product-single-wrapper .related-products .page-heading {
	background: #fff;
	border: 1px solid #e5e5e5;
}

#product-single-wrapper .related-products .related-products-control-nav > a {
	color: #999999;
}

#product-single-wrapper .related-products .related-products-control-nav > a:hover {
	color: #000000;
}

#product-single-wrapper .product-page-style-2 .product-page-title-container {
	background: #ffffff;
  	border: 1px solid #e5e5e5;
}

#product-single-wrapper .product-page-style-2 .product-page-price-box {
	background: #81327d;
	color: #ffffff;
	border: 1px solid #e5e5e5;
}

#product-single-wrapper .product-page-style-2 .product-page-price-box-title {
	color: #ffffff;
}

#product-single-wrapper .product-page-style-2 .product-page-price-box-title:after {
	background: #e5e5e5;
}

#product-single-wrapper .product-page-style-2 .product-page-price {
	color: #ffffff;
}

#product-single-wrapper .product-page-style-2 .product-page-accordion .accordion-toggle {
	background: #81327d;
	color: #ffffff;
	border: 1px solid #e5e5e5;
}

#product-single-wrapper .product-page-style-2 .product-page-accordion .accordion-toggle:hover,
#product-single-wrapper .product-page-style-2 .product-page-accordion .accordion-toggle:focus {
	text-decoration: none;
	background: #ffffff;
	color: #984394;
}

#product-single-wrapper .product-page-style-2 .product-page-accordion .accordion-inner {
	background: #ffffff;
}

#product-single-wrapper .product-page-style-2 .product-page-accordion .accordion-group {
	border: 1px solid #DDDDDD;
}

#product-single-wrapper .product-page-style-2 .related-products .page-heading {
	background: #81327d;
}

#product-single-wrapper .product-page-style-2 .related-products .page-heading h3 {
	color: #ffffff;
}

#product-single-wrapper .product-page-style-2 .product-page-cta-section {
	background: #ffffff;
	border: 2px solid #81327d;
}

#product-single-wrapper .product-page-style-2 .product-cta-title {
	background: #81327d;
	color: #ffffff;
}

/* ================= Product Grid ================= */
ul.mpt-product-categories li {
  background: #81327d;
  color: #ffffff;
}

ul.mpt-product-categories li:first-child {
  background: none;
  color: #676767;
}


/* ================= comment Box ================= */
.comment-section .comment-section-headline {
	border-bottom: 1px solid #e5e5e5;
}

.comment-section .comment-section-headline.nocomments {
	border-bottom: none;
}

.comment-section .well-comment {
	border-bottom: 1px solid #e5e5e5;
}

.comment-section .well-comment.depth-1:last-child {
	border-bottom: none;
}

.comment-section .well-comment .comment-time,
.comment-section .well-comment .comment-time a {
	color: #999999;
}

.comment-section .well-comment .comment-time a:hover {
	color: #81327d;
}

.comment-section #pro-comment-form input[type="text"],
.comment-section #pro-comment-form textarea {
	background: #fefefe;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.05), 0 0 8px rgba(82,168,236,0);
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.05), 0 0 8px rgba(82,168,236,0);
}

.comment-section #pro-comment-form input[type="text"]:focus,
.comment-section #pro-comment-form textarea:focus {
	background: #ffffff;
	border-color: rgba(82, 168, 236, 0.8);
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}


/* ================= Sidebar ================= */
.sidebar-widget-title {
	color: #0c0c0c;
	border-bottom: 1px solid #e5e5e5;
}

.sidebar-widget-well {
	color: #676767;
	background: #fff;
	border: 1px solid #e5e5e5;

	-webkit-box-shadow: none;
	box-shadow: none;

}

.sidebar-widget-well:hover {
	background: #f1f1f1;
	color: #676767;
	border: 1px solid #e5e5e5;

	-webkit-box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.5);
}

.sidebar-widget-well a {
	color: #0c0c0c;
	text-shadow: none;
}

.sidebar-widget-well a:hover {
	color: #81327d;
	text-shadow: none;
}

.sidebar-widget-well ul li:before {
	background-image: url("../img/glyphicons-halflings.png");
	background-repeat: no-repeat;
	background-position: -456px -72px;
}

.sidebar-widget-well ul#mp_product_list li .row-fluid {
	border-bottom: 1px solid #e5e5e5;
}

.sidebar-widget-well:hover ul#mp_product_list li .row-fluid {
	border-bottom: 1px solid #e5e5e5;
}

ul.pro_product_list li {
	border-bottom: 1px solid #e5e5e5;
}

ul.pro_product_list > li:before {
  content: '';
  background-image: none !important;
}

ul.pro_product_list li:last-child {
	border-bottom: none;
}

/* ================= Footer Widget ================= */
#footer-widget {
	background: #81327d;
	color: #ffffff;

	-webkit-box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.45), inset 0px -50px 50px -40px rgba(0, 0, 0, 0.45), inset 0px 50px 50px -40px rgba(0, 0, 0, 0.45);
	box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.45), inset 0px -50px 50px -40px rgba(0, 0, 0, 0.45), inset 0px 50px 50px -40px rgba(0, 0, 0, 0.45);
}

#footer-widget .footer-widget-top {
	background: rgba(255, 255, 255, 0.15) !important;
	height: 15px;
}

#footer-widget .page-header span {
	color: #fff;
	border-bottom: 1px dashed #ffffff;
	border-top: 1px dashed #ffffff;
}

#footer-widget ul li:before {
	background-image: url("../img/glyphicons-halflings-white.png");
}

#footer-widget a {
	color: #E2E2E2;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
}

#footer-widget a:hover {
	color: #fff;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.75);
}

/* ================= Footer Wrapper ================= */
.footer-wrapper {
	background-color: #0c0c0c;
	color: #ffffff;

	-webkit-box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.75);
}

.footer-wrapper h4 {
	text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

.footer-wrapper a {
	color: #E2E2E2;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

.footer-wrapper a:hover {
	color: #fff;
	text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

/* ================= line divider ================= */
.line-divider10 {
  height: 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.line-divider20 {
  height: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.line-divider30 {
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.line-divider40 {
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.dotted {
  border-bottom-style: dotted;
}

.dashed {
  border-bottom-style: dashed;
}

/* ================= Misc ================= */
.page-header.subheading {
	border-bottom: 1px dotted #676767;
}

/* ================= Color Skin buttons ================= */

.btn-color-skin,
#mp_cart_page.mp_cart_widget_content a.mp_empty_cart,
#mp_cart_page.mp_cart_widget_content a.mp_checkout_link,
.comment-section .form-submit input#submit,
.comment-section a#cancel-comment-reply-link,
.comment-section .comment-reply-button a.comment-reply-link,
#header-section .nav-section .btn-navbar,
#mp_cart_page .mp_cart_direct_checkout_link,
#mp_cart_page input#mp_shipping_submit,
#mp_cart_page input#mp_payment_confirm,
#mp_cart_page input[type="submit"],
#mp_cart_page table input[type="submit"],
#mp_cart_page a#coupon-link {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-color-skin:hover,
.btn-color-skin:focus,
.btn-color-skin:active,
#mp_cart_page.mp_cart_widget_content a.mp_empty_cart:hover,
#mp_cart_page.mp_cart_widget_content a.mp_empty_cart:focus,
#mp_cart_page.mp_cart_widget_content a.mp_checkout_link:hover,
#mp_cart_page.mp_cart_widget_content a.mp_checkout_link:focus,
#mp_cart_page.mp_cart_widget_content a.mp_empty_cart:active,
#mp_cart_page.mp_cart_widget_content a.mp_checkout_link:active,
.comment-section .form-submit input#submit:hover,
.comment-section .form-submit input#submit:focus,
.comment-section .form-submit input#submit:active,
.comment-section .form-submit input#submit.active,
.comment-section .form-submit input#submit.disabled,
.comment-section .form-submit input#submit[disabled],
.comment-section a#cancel-comment-reply-link:hover,
.comment-section a#cancel-comment-reply-link:focus,
.comment-section a#cancel-comment-reply-link:active,
.comment-section a#cancel-comment-reply-link.active,
.comment-section a#cancel-comment-reply-link.disabled,
.comment-section a#cancel-comment-reply-link[disabled],
.comment-section .comment-reply-button a.comment-reply-link:hover,
.comment-section .comment-reply-button a.comment-reply-link:focus,
.comment-section .comment-reply-button a.comment-reply-link:active,
.comment-section .comment-reply-button a.comment-reply-link.active,
.comment-section .comment-reply-button a.comment-reply-link.disabled,
.comment-section .comment-reply-button a.comment-reply-link[disabled],
#header-section .nav-section .btn-navbar:hover,
#header-section .nav-section .btn-navbar:focus,
#header-section .nav-section .btn-navbar:active,
#header-section .nav-section .btn-navbar.active,
#header-section .nav-section .btn-navbar.disabled,
#header-section .nav-section .btn-navbar[disabled],
#mp_cart_page .mp_cart_direct_checkout_link:hover,
#mp_cart_page input#mp_shipping_submit:hover,
#mp_cart_page input#mp_payment_confirm:hover,
#mp_cart_page input[type="submit"]:hover,
#mp_cart_page table input[type="submit"]:hover,
#mp_cart_page a#coupon-link:hover,
#mp_cart_page .mp_cart_direct_checkout_link:focus,
#mp_cart_page input#mp_shipping_submit:focus,
#mp_cart_page input#mp_payment_confirm:focus,
#mp_cart_page input[type="submit"]:focus,
#mp_cart_page table input[type="submit"]:focus,
#mp_cart_page a#coupon-link:focus,
#mp_cart_page .mp_cart_direct_checkout_link:active,
#mp_cart_page input#mp_shipping_submit:active,
#mp_cart_page input#mp_payment_confirm:active,
#mp_cart_page input[type="submit"]:active,
#mp_cart_page table input[type="submit"]:active,
#mp_cart_page a#coupon-link:active,
#mp_cart_page .mp_cart_direct_checkout_link[disabled],
#mp_cart_page input#mp_shipping_submit[disabled],
#mp_cart_page input#mp_payment_confirm[disabled],
#mp_cart_page input[type="submit"][disabled],
#mp_cart_page table input[type="submit"][disabled],
#mp_cart_page a#coupon-link[disabled] {
  color: #ffffff;
  background: #222222;
  *background: #151515;
}

.btn-color-skin.active,
.btn-color-skin:active,
#mp_cart_page.mp_cart_widget_content a.mp_empty_cart:active,
#mp_cart_page.mp_cart_widget_content a.mp_checkout_link:active,
#mp_cart_page.mp_cart_widget_content a.mp_empty_cart.active,
#mp_cart_page.mp_cart_widget_content a.mp_checkout_link.active,
.comment-section .form-submit input#submit:active,
.comment-section .form-submit input#submit.active,
.comment-section a#cancel-comment-reply-link:active,
.comment-section a#cancel-comment-reply-link.active,
.comment-section .comment-reply-button a.comment-reply-link:active,
.comment-section .comment-reply-button a.comment-reply-link.active,
#header-section .nav-section .btn-navbar:active,
#header-section .nav-section .btn-navbar.active,
#mp_cart_page .mp_cart_direct_checkout_link:active,
#mp_cart_page input#mp_shipping_submit:active,
#mp_cart_page input#mp_payment_confirm:active,
#mp_cart_page input[type="submit"]:active,
#mp_cart_page table input[type="submit"]:active,
#mp_cart_page .mp_cart_direct_checkout_link.active,
#mp_cart_page input#mp_shipping_submit.active,
#mp_cart_page input#mp_payment_confirm.active,
#mp_cart_page input[type="submit"].active,
#mp_cart_page table input[type="submit"].active,
#mp_cart_page a#coupon-link:active,
#mp_cart_page a#coupon-link.active {
  background: #080808 \9;
}